{* supreme 1.4.8.4 *}
{if $wa->currentUrl(false, true) == $wa_app_url && $theme_settings.homepage_bxslider_mode != 'hidden'}
	{$slider_type = $theme_settings.homepage_bxslider_type}

	{if $slider_type == 'stacked' && $theme_settings.sidebar_show_homepage == ''}
		{$slider_type = 'not_fw'}
	{/if}

	{if $theme_settings.homepage_bxslider_mode == 'promos'}
		{* HOMESLIDER PROMO CARDS *}

		{$promocards = $wa->shop->promos()}

		{if isset($theme_settings.homepage_bxslider_height) && $theme_settings.homepage_bxslider_height}
			{$slider_height = $theme_settings.homepage_bxslider_height}
		{else}
			{$slider_height = 360}
		{/if}

		{if !empty($theme_settings.site_max_width)}
			{if $slider_type == 'stacked'}
				{$slider_width = ($theme_settings.site_max_width + 30) * 0.75 - 30}
			{else}
				{$slider_width = $theme_settings.site_max_width}
			{/if}
		{else}
			{if $slider_type == 'stacked'}
				{$slider_width = 893}
			{else}
				{$slider_width = 1200}
			{/if}
		{/if}

		{$slider_ratio = $slider_height / $slider_width * 100}

		{* slider placeholder *}
		<article id="homeslider_photos" class="homeslider {$slider_type} container-fluid" data-height="{$slider_height}">
			{if $promocards}
				<div class="slick-slider-wrap" style="padding-top: {number_format($slider_ratio, 6, '.', '')}%;">
					<div class="slick-slider-wrap2">
						<div class="slick-slider">
							{foreach $promocards as $promo}
								<div class="item" style="background-image:url('{$promo.image}');">
								<div class="item-in">
									<a href="{$promo.link|escape}">
										<div class="slide_text">
											<div class="in">
												{if !empty($promo.title)}<h3 class="title" style="color: {$promo.color};">{$promo.title|escape}</h3>{/if}
												{if !empty($promo.body)}
													<div class="text" style="color: {$promo.color};">{$promo.body|escape}</div>
												{/if}
												{if !empty($promo.countdown_datetime) && time() <= strtotime($promo.countdown_datetime)}
													<div class="countdown">
														<span class="js-promo-countdown size_md"
															data-start="{date('Y-m-d H:i:s')}"
															data-end="{$promo.countdown_datetime}">
														</span>
													</div>
												{/if}
											</div>
										</div>
									</a>
								</div>
								</div>
							{/foreach}
						</div>
					</div>
				</div>
			{else}
				<p class="hint align-center"><br><em>[`There are no promo cards created in your store or all of them are disabled.`]</em></p>
			{/if}
		</article>

	{else if $theme_settings.homepage_bxslider_mode == 'products'}
		{* HOMESLIDER PRODUCTS *}

		{$sliderproducts = $wa->shop->productSet($theme_settings.homepage_productset_slider)}

		{if $theme_settings.homepage_bxslider_bg == 'color'}
			{$slider_style = "background: `$theme_settings.homepage_bxslider_bg_color`"}
		{elseif $theme_settings.homepage_bxslider_bg == 'texture'}
			{if $theme_settings.homepage_bxslider_bg_tex_custom}
				{$slider_style = "background: url('`$wa_active_theme_url``$theme_settings.homepage_bxslider_bg_tex_custom`')"}
			{else}
				{$slider_style = "background: url('`$wa_parent_theme_url`img/themesettings/bg_tex/`$theme_settings.homepage_bxslider_bg_tex`')"}
			{/if}
		{/if}

		<article id="homeslider_products" data-height="360" class="homeslider {$slider_type} container-fluid">
			<div class="in" style="{$slider_style}">
				{if $sliderproducts && count($sliderproducts)}
					<div class="slick-slider">
						{foreach $sliderproducts as $b}
							<div class="item" itemscope itemtype ="http://schema.org/Product">
								<div class="product {if $slider_type == 'fw'}container-fluid{/if}">
									<div class="image">
										<div class="img_middle">
											<a class="img_middle_in" href="{$b.frontend_url}" title="{$b.name}{if $b.summary} &ndash; {strip_tags($b.summary)|escape}{/if}">
												{if $theme_settings.homepage_bxslider_mode == 'products'}
													 {$wa->shop->productImgHtml($b, '320', ['itemprop' => 'image', 'alt' => $b.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
												{/if}
											</a>
										</div>
									</div>

									<div class="info">
										<div class="title" itemprop="name">
											<a href="{$b.frontend_url}">{$b.name}</a>
										</div>
										{if $b.summary}<div class="descr{if $slider_type == 'stacked'} hidden-sm{/if}" itemprop="description">{strip_tags($b.summary)|truncate:255}</div>{/if}

										<div class="bottom" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
											<meta itemprop="price" content="{$b.frontend_price|replace:',':'.'}">
											<meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">

											{if $b.compare_price > 0}
												<div class="compare-at-price nowrap">{shop_currency_html($b.compare_price)}</div>
												<div class="price price-new nowrap">{shop_currency_html($b.price)}</div>
											{else}
												{if $b.min_price != $b.max_price}
													<div class="price price-from">
														<div class="nowrap"><small>[`from`] </small>{shop_currency_html($b.min_price)}</div>
													</div>
												{else}
													<div class="price nowrap">{shop_currency_html($b.price)}</div>
												{/if}
											{/if}

											<a href="{$b.frontend_url}" class="btn btn-primary btn-details">[`View details`]</a>
										</div>
									</div>
								</div>
								<a class="mobile-overlay-link" href="{$b.frontend_url}"></a>
							</div>
						{/foreach}
					</div>
				{else}
					<p class="hint align-center"><br><em>{sprintf('[`Product set with the ID <strong>%s</strong> either does not exist or does not contain any product. Add some products into a product set with the specified ID to make these products featured here.`]',$theme_settings.homepage_productset_slider)}</em><br><br></p>
				{/if}
			</div>
		</article>

	{/if}
{/if}
