{* supreme 1.4.8.4 *}
{if !isset($use_affiliate)}
	{$use_affiliate = false}
{/if}

{*
Плагин "Гибкие скидки и бонусы"
https://www.webasyst.ru/store/plugin/shop/flexdiscount/
*}
{if class_exists(shopFlexdiscountPluginHelper)}
{$flexdiscount_coupons = shopFlexdiscountPluginHelper::getActiveCoupons()}
{/if}

<div id="ajax-cart-count" class="hidden">{$cart.count}</div>
<div id="ajax-cart-total" class="hidden">{shop_currency_html($cart.total, true)}</div>

{if !$cart.count}
	<div class="cart your-cart-is-empty">
		<h1>[`Shopping cart`]</h1>
		<p>[`Your shopping cart is empty.`]</p>
	</div>
{else}
	<div class="cart cart-summary-page">
		<form method="post">
			<h1><span>[`Shopping cart`]</span><button class="btn btn-default btn-sm btn_clear_cart" type="button">[`Clear cart`]</button></h1>
			<table class="cart-table">
				<thead class="hidden-xs">
					<tr>
						<td>[`Cart items`]</td>
						<td></td>
						<td>[`Price`]</td>
						<td>[`Quantity`]</td>
						<td class="hidden-xs hidden-sm">[`Sum`]</td>
						<td></td>
					</tr>
				</thead>

				<tbody>
					{foreach $cart.items as $item}
						<!-- cart item -->
						<tr class="item" data-id="{$item.id}">
							<td class="item-thumb">
								<div class="img_middle">
									<a class="img_middle_in" href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">
										{$wa->shop->productImgHtml($item.product, '96', ['default' => "`$wa_theme_url`img/dummy96.png", 'alt' => $item.product.name|escape])}
									</a>
								</div>
							</td>
							<td class="item-center">
								<a href="{$wa->shop->productUrl($item.product)}">{$item.product.name|escape}</a>
								{if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}

								{if !empty($item.services)}
								<!-- services -->
								<div class="services">
									{foreach $item.services as $service_id => $s}
									<!-- one option -->
									<div {if !empty($s.id)}data-id="{$s.id}"{/if}>
									<label>
										<input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}
									</label>
									{if isset($s.variants)}
									<select class="form-control input-sm" name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
										{foreach $s.variants as $variant_id => $v}
										<option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
										{/foreach}
									</select>
									{else}
									<input type="hidden" name="service_variant[{$item.id}][{$service_id}]" value="{$s.variant_id}">
									{/if}
									</div>
									{/foreach}
								</div>
								{else}
								<!-- for orderaddon plugin -->
								<div data-id="{$item.id}"></div>
								{/if}
							</td>

							<td class="item-price">
								<span class="nowrap">{shop_currency_html($item.price, $item.currency)}</span>

								{if $item.compare_price > $item.price}
								<br>
								<span class="compare-at-price nowrap">{shop_currency_html($item.compare_price, $item.currency)}</span>
								{/if}
							</td>

							<td class="item-qty">
								<div class="qty_wrap">
									<div class="input-group">
										<div class="input-group-btn">
											<button class="minus btn btn-default" type="button">-</button>
										</div>
										<input type="text" name="quantity[{$item.id}]" value="{$item.quantity}" class="qty form-control{if !empty($item.error)} error{/if}">
										<div class="input-group-btn">
											<button class="plus btn btn-default" type="button">+</button>
										</div>
									</div>
								</div>
							</td>
							<td class="item-total hidden-xs hidden-sm">
								<span class="nowrap">{shop_currency_html($item.full_price, true)}</span>
							</td>

							<td class="item-remove">
								<a class="delete" href="#" title="[`Remove from cart`]"><span class="fa fa-times-circle"></span>[`Remove`]</a>
							</td>

							{*
							{if $theme_settings.cart_crossselling == 'many'}
								{if $item@index < 3}
									{$_exclude_ids = []}
									{foreach $cart.items as $item}{$_exclude_ids[] = $item.product.id}{/foreach}
									{$related = $wa->shop->crossSelling($item.product.id, 5, true, $_exclude_ids)}
									{if $related}
										<div class="clear-both" data-id="{$item.id}">
											<div class="col w1 item-thumb">&nbsp;</div>
											<div class="col w15 small related">
												<div class="h4"><strong>[`Recommended!`]</strong> {sprintf('[`Customers who bought %s also bought`]', $item.product.name|escape)}:</div>
												{include file="list-thumbs-mini.html" products=$related without_form=true }
											</div>
										</div>
									{/if}
								{/if}
							{/if}
							*}
						</tr>

						{if !empty($item.error)}
							{$cart_errors[] = $item.error}
						{/if}
					{/foreach}
				</tbody>
			</table>

			{if !empty($cart_errors)}
				<script>
					$(window).load(function() {
						{foreach $cart_errors as $item}
							alert({json_encode($item)});
						{/foreach}
					});
				</script>
			{/if}

			{literal}
			<script type="text/javascript">
				inCart = [{/literal}{foreach $cart.items as $item}{$item.id}, {/foreach}{literal}];
			</script>
			{/literal}

			<div class="row cart_bottom">
				<div class="col-xs-12 col-sm-9">
					{if shopDiscounts::isEnabled('coupons')}
						<div id="apply-coupon-code" class="form-inline">
							[`Coupon code`]:
							<div class="coupon_wrapper">
								<input type="text" class="form-control" name="coupon_code" value="{$coupon_code|escape}">
								<button type="submit" class="btn btn-secondary btn-sm">
									<span class="hidden-xs">[`Apply`]</span>
									<span class="fa fa-check visible-xs-block"></span>
								</button>
							</div>
							{if $discount && $coupon_code}
								<span class="coupon_discount">&minus;{shop_currency_html($discount, true)}</span>
							{elseif $coupon_code && empty($coupon_discount) && empty($flexdiscount_coupons)}
								<span class="coupon_discount text-error">[`Invalid coupon code`]</span>
							{/if}
						</div>
					{/if}

					{if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
						<hr>
						<!-- affiliate bonus -->
						<div class="affiliate_bonus">
							<div class="">
								{if $use_affiliate}
									{sprintf("[`You used affiliate bonus of %s points. You get additional discount of %s`]", "<strong>{$affiliate_bonus}</strong>", "<strong class='nowrap'>{shop_currency_html($potential_affiliate_discount, $wa->shop->currency())}</strong>")}
									<button class="btn btn-default btn-sm" id="cancel-affiliate">[`Don’t use bonus discount`]</button>
								{else}
									{sprintf("[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]", "<strong>{$affiliate_bonus}</strong>", "<strong class='nowrap'>{shop_currency_html($potential_affiliate_discount, $wa->shop->currency())}</strong>")}
									<br>
									<input type="submit" name="use_affiliate" class="btn btn-secondary" value="[`Use bonus`]">
								{/if}
							</div>
						</div>
					{/if}

					{if shopAffiliate::isEnabled() && !empty($add_affiliate_bonus)}
						<hr>
						<div class="no-border">
							<p class="affiliate"><span class="fa fa-thumbs-o-up like"></span> {sprintf("[`This order will add <strong>+%s bonuses</strong> to  your account, which you will be able to spend on getting additional discounts later.`]", $add_affiliate_bonus)}</p>
						</div>
					{/if}
				</div>

				<div class="col-xs-12 col-sm-3">
					<table class="cart_total_checkout pull-right">
						{if $discount}
						<tr>
							<th>[`Discount`]:</th>
							<td class="cart-discount nowrap">&minus;{shop_currency_html($discount, true)}</td>
						</tr>
						{/if}
						{if $use_affiliate}
						<tr>
							<th>[`Affiliate bonus`]:</th>
							<td class="cart-affiliate-discount nowrap">&minus;{shop_currency_html(shopAffiliate::convertBonus($used_affiliate_bonus), true)}</td>
						</tr>
						{/if}

						<tr>
							<th>[`Total`]:</th>
							<td class="cart-total total nowrap">{shop_currency_html($cart.total, true)}</td>
						</tr>
						<tr>
							<td class="cart-checkout hidden-print" colspan="2">
								<input name="checkout" class="btn btn-primary btn-xmd" type="submit" value="[`Proceed to checkout`]">

								{*
								*	Купить в один клик (easy IT)
								*	https://www.webasyst.ru/store/plugin/shop/storequickorder/
								*}
								{if isset($frontend_cart['storequickorder-plugin'])}
									<br>
									{$frontend_cart['storequickorder-plugin']}
								{/if}

								{*
								*	Купить в один клик (Игорь Гапонов)
								*	https://www.webasyst.ru/store/plugin/shop/quickorder/
								*}
								{if isset($frontend_cart['quickorder-plugin'])}
									<br>
									{$frontend_cart['quickorder-plugin']}
								{/if}
							</td>
						</tr>
					</table>
				</div>
			</div>

			<!-- plugin hook: 'frontend_cart' -->
			{* @event frontend_cart.%plugin_id% *}
			{foreach $frontend_cart as $_key => $_}
				{if $_key != 'storequickorder-plugin' && $_key != 'quickorder-plugin'}
					{$_}
				{/if}
			{/foreach}
		</form>

		{$related = $wa->shop->crossSelling($cart.items, 'product_id')}
		{if $related}
			<br>
			<div class="content_slider products_slider hidden-print">
				<div class="title h4">[`Recommended!`]</div>
				{include file="products-list.html" products=$related catalog_view="slider"}
			</div>
		{/if}

	</div>
{/if}
