{* supreme 1.4.8.4 *}
{if waRequest::isXMLHttpRequest()}
<div class="html-title" style="display: none;">{if $category.meta_title}{$category.meta_title|escape}{else}{$category.name|escape}{/if}</div>
{/if}
<h1 class="category-name">{$category.name|escape}</h1>

{if $wa->get('page') > 1}
	{$wa->title("`$wa->title()` - [`page`] `$wa->get('page')`")}
{/if}

{*
Плагин "Иконка, изображение и баннер для категории"
https://www.webasyst.ru/store/plugin/shop/wmimageincat/
Баннер категории
*}
{if $wa->shop && class_exists(shopWmimageincatPlugin) && shopWmimageincatPlugin::getCategoryImage($category.id, 'banner')}
<p class="category-banner wmimageincat-banner">
	<img class="img-responsive" src="{shopWmimageincatPlugin::getCategoryImage($category.id, 'banner')}">
</p>
{/if}


{if isset($category.params.banner_img)}
	<p class="category-banner">
	{if isset($category.params.banner_url)}
		<a href="{$category.params.banner_url}">
			<img src="{$wa_url}{$category.params.banner_img}" alt="" class="img-responsive">
		</a>
	{else}
		<img src="{$wa_url}{$category.params.banner_img}" alt="" class="img-responsive">
	{/if}
	</p>
{/if}

{if !(isset($category.params.banner_top_show) && !$category.params.banner_top_show)}
	{if $cb_top = $wa->block($category.params.banner_top)|default:false}
		{$cb_top}
	{elseif $cb_top = $wa->block('supreme.cb.top')}
		{$cb_top}
	{/if}
{/if}

<!-- plugin hook: 'frontend_category' -->
{* @event frontend_category.%plugin_id% *}
{foreach $frontend_category as $_}{$_}{/foreach}

{if $category.subcategories}
	{$c_view = 'grid'}
	{if isset($category.params.category_view)}
		{if $category.params.category_view == 'compact'}
			{$c_view = 'compact'}
		{elseif $category.params.category_view == 'grid'}
			{$c_view = 'grid'}
		{/if}
	{elseif isset($theme_settings.show_cat_photos) && empty($theme_settings.show_cat_photos)}
		{$c_view = 'compact'}
	{/if}

	{if $c_view == 'compact'}
		{include file="`$wa_active_theme_path`/categories.compact.html" categories=$category.subcategories inline}
	{else}
		{include file="`$wa_active_theme_path`/categories.grid.html" categories=$category.subcategories inline}
	{/if}
{/if}

<div id="product-list">
	{if $products}
		{capture "categoty_descr"}
			{if $category.description && (!$wa->get('page') || $wa->get('page') == 1)}
				<div class="category_description category-desc">
				{$category.description}
				</div>
			{/if}
		{/capture}

		{if isset($theme_settings.category_descr_pos)}
			{$category_descr_pos = $theme_settings.category_descr_pos}
		{else}
			{$category_descr_pos = 'bottom'}
		{/if}

		{if isset($category.params.category_descr_pos)}
			{if $category.params.category_descr_pos == "top"}
				{$category_descr_pos = 'top'}
			{elseif $category.params.category_descr_pos == "bottom"}
				{$category_descr_pos = 'bottom'}
			{/if}
		{/if}

		{if $category_descr_pos == 'top'}
			{$smarty.capture.categoty_descr}
		{/if}

		{include file='products-list.html' sorting=!empty($category.params.enable_sorting) showtoolbar=true showpagination=true set_id=$category.params.set_id|default:1}

		{if $category_descr_pos == 'bottom'}
			{$smarty.capture.categoty_descr}
		{/if}
	{else}
		{if !empty($filters)}
			{include file='products-list.html' sorting=!empty($category.params.enable_sorting) showtoolbar=true}
			[`No products were found.`]
		{else}
			{$hide_message_in_empty_category = $theme_settings.hide_message_in_empty_categories|default:false}
			{if !$hide_message_in_empty_category && !$category.subcategories}
				[`This category does not contain any products.`]
				<br>
				<br>
			{/if}

			{if $category.description}
				<div class="category_description category-desc">
				{$category.description}
				</div>
			{/if}

			{$catURL = $category.url}
			{$recommended = $wa->shop->productSet($catURL)}

			{if !empty($recommended)}
				<div class="content_slider products_slider">
					<div class="title">[`Best offers`]</div>
					{include file="products-list.html" products=$recommended catalog_view="slider"}
				</div>
			{/if}

			{if $theme_settings.viewed_in_empty_cats}

				{include file="viewed-slider.html"}

			{/if}
		{/if}
	{/if}
</div>

<div class="clear-both"></div>
