{* supreme 1.4.8.4 *}
{if isset($categories)}
<div class="categories categories_compact clearfix">
	{foreach $categories as $sc}
		<div class="item">
			<a class="btn btn-default" href="{$sc.url}">{$sc.name}</a>
		</div>
	{/foreach}
</div>
{/if}
