{* supreme 1.4.8.4 *}
{if isset($categories)}
<div class="categories categories_grid clearfix">
	{foreach $categories as $sc}
		<div class="item">
			<a class="in" href="{$sc.url}">
				<div class="image img_middle">
					<div class="img_middle_in">
						{if !empty($sc.image)}
							{$cat_img = "`$wa_url`wa-data/public/shop/categories/`$sc.id`/`$sc.id`.200`$sc.image`"}
						{else}
							{$cat_img = false}
						{/if}

						{if $cat_img}
							{*
							Плагин "Картинки для категорий"
							https://www.webasyst.ru/store/plugin/shop/categoryimage/
							*}
							<img src="{$cat_img}" alt="{$sc.name|escape}">
						{elseif $wa->shop && class_exists(shopWmimageincatPlugin) && shopWmimageincatPlugin::getCategoryImage($sc.id, 'image')}
							{*
							Плагин "Иконка, изображение и баннер для категории"
							https://www.webasyst.ru/store/plugin/shop/wmimageincat/
							Фото категории
							*}
							<img src="{shopWmimageincatPlugin::getCategoryImage($sc.id, 'image')}" alt="{$sc.name|escape}">
						{elseif isset($sc.params.img)}
							<img src="{$wa_url}{$sc.params.img}" alt="{$sc.name|escape}">
						{else}
							<img src="{$wa_theme_url}img/dummy200.png" alt="{$sc.name|escape}">
						{/if}
					</div>
				</div>
				<div class="h4 cat_name">{$sc.name|escape}</div>
			</a>
		</div>
	{/foreach}
	<div class="clear-both"></div>
</div>
{/if}
