{* supreme 1.4.8.4 *}
<div class="checkout-content" data-step-id="confirmation">

	{if !empty($error)}
		<div class="checkout-result error">
			{$error}
			<br><br>
			<a href="{$wa->getUrl('/frontend/checkout')}">[`Restart checkout`]</a>
		</div>
	{else}

		<h3>[`Ship to`]</h3>
		<p>{$contact.name|escape}<br>
		{$shipping_address.value}</p>

		{if $billing_address}
			<h3>[`Bill to`]</h3>
			<p>{$contact.name|escape}<br>
			{$billing_address.value}</p>
		{/if}

		<table class="table">
			<thead>
			<tr>
				<th></th>
				<th class="align-right"><span class="non-mobile-only">[`Quantity`]</span></th>
				{if $tax > 0}
					<th class="align-right">[`Tax`]</th>
				{/if}
				<th class="align-right">[`Total`]</th>
			</tr>
			</thead>
			<tbody>
			{foreach $items as $item}
			<tr{if $item.type == 'service'} class="service"{/if}>
				<td>{if $item.type == 'service'}+ {/if}{$item.name|escape}</td>
				<td class="align-right nowrap"><span class="gray">{shop_currency_html($item.price, $item.currency)} &times;</span> {$item.quantity}</td>
				{if $tax > 0}
					<td class="align-right nowrap">{if isset($item.tax)}{shop_currency_html($item.tax, true)}{else}&ndash;{/if}</td>
				{/if}
				<td class="align-right nowrap">{shop_currency_html($item.price * $item.quantity, $item.currency)}</td>
			</tr>
			{/foreach}
			</tbody>
			<tfoot>
			{if $tax > 0}{$colspan=3}{else}{$colspan=2}{/if}
			<tr class="no-border thin">
				<td colspan="{$colspan}" class="align-right">[`Подитог`]</td>
				<td class="align-right nowrap">{shop_currency_html($subtotal, true)}</td>
			</tr>
			<tr class="no-border thin">
				<td colspan="{$colspan}" class="align-right">[`Discount`]</td>
				<td class="align-right nowrap">&minus; {shop_currency_html($discount, true)}</td>
			</tr>
			<tr class="no-border thin">
				<td colspan="{$colspan}" class="align-right">[`Shipping`]{if !empty($params.shipping_name)} &mdash; <strong>{$params.shipping_name}</strong>{/if}</td>
				<td class="align-right nowrap">{shop_currency_html($shipping, true)}</td>
			</tr>
			{if $tax > 0}
			<tr class="no-border thin">
				<td colspan="{$colspan}" class="align-right">[`Tax`]</td>
				<td class="align-right nowrap">{shop_currency_html($tax, true)}</td>
			</tr>
			{/if}
			<tr class="no-border thin large">
				<td colspan="{$colspan}" class="align-right"><b>[`Total`]</b></td>
				<td class="align-right nowrap"><strong class="large">{shop_currency_html($total, true)}</strong></td>
			</tr>
			</tfoot>
		</table>

		<label for="comment">[`Comment`]</label>
		<textarea class="comment" name="comment" id="comment">{waRequest::post('comment', '', 'string')|escape}</textarea>

		{if !empty($terms)}
		<br>
		{if waRequest::method() == 'post' && !$wa->post('terms')}
			<p class="error">[`You must read and agree to the Terms of service to place an order.`]</p>
		{/if}
		<label><input type="hidden" name="terms" value="1"> {sprintf('[`Нажимая на кнопку «Оформить заказ», я принимаю условия <a href="/politika/"_blank">политики обработки персональных данных</a>`]', $wa->getUrl('/frontend/checkout', ['step' => 'confirmation'])|cat:'?terms=1')}</label>
		{/if}

	{/if}

	<!-- plugin hook: 'frontend_checkout' -->
	{* @event frontend_checkout.%plugin_id% *}
	{foreach $frontend_checkout as $_}{$_}{/foreach}

</div>
