{* supreme 1.4.8.4 *}
<div class="checkout-result error">

	<p class="checkout-result-icon"><span class="fa fa-times-circle" aria-hidden="true"></span></p>

	<div class="h1">[`Oops!`]</div>
	{if !empty($error)}
		<p class="error">{$error}</p>
	{else}
		<p>[`An error occurred while processing your payment.`]</p>
	{/if}

	<p class="back">
		&larr; <a href="{$wa_app_url}">[`Back to the store`]</a>
	</p>

	<!-- plugin hook: 'frontend_checkout' -->
	{* @event frontend_checkout.%plugin_id% *}
	{foreach $frontend_checkout as $_}{$_}{/foreach}

</div>
