{* supreme 1.4.8.4 *}
<h1><span>[`Compare products`]</span>{if count($products)}<button data-target="compare" class="btn btn-default btn-sm btn_clear_list" type="button">[`Clear list`]</button>{/if}</h1>

{if count($products)}
	{$no_symbol = "&mdash;"}

	<div class="compare-diff-all btn-group pull-right">
		<a id="compare-all" href="#" class="btn btn-default btn-sm active">[`All features`]</a>
		<a id="compare-diff" href="#" class="btn btn-default btn-sm">[`Different`]</a>
	</div>

	<div class="compare_page_wrap">
		{$td_width = round((100-25)/max(1,count($products)))}
		<table id="compare-table" class="compare">
			<thead>
				<tr>
					<th></th>
					{$product_names = ''}
					{foreach $products as $p name=product_names}
						<td width="{$td_width}%" class="product">
							<!-- <a class="btn_remove compare-remove" data-product="{$p.id}" title="[`Remove from list`]"><span class="fa fa-times-circle fa-lg"></span></a> -->
							<div class="clearfix">

								<a class="btn_remove compare-remove" data-product="{$p.id}" title="[`Remove from list`]">&#10005;</a>
							</div>

							<a class="image_wrap" href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}">
								<div class="img_middle">
									<div class="img_middle_in">
										{$wa->shop->productImgHtml($p, '250', ['itemprop' => 'image', 'id' => 'product-image', 'default' => "`$wa_theme_url`img/dummy200.png", 'title' => $p.name|cat:' ':strip_tags($p.summary)|escape])}
									</div>
								</div>
							</a>

							<a class="link" href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}">{$p.name}</a>

							<div class="compare_item_buy">
								<form class="purchase addtocart" {if $p.sku_count > 1}data-url="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}?quick_view=1"{/if} method="post" action="/cart/add/">
									<input type="hidden" name="product_id" value="{$p.id}">

									<div class="btn_add2cart_wrap">
										<button class="btn btn-primary btn_add2cart" type="submit"><span></span>В корзину</button>
										<span class="adding2cart icon16 loading pull-left"></span>
									</div>
								</form>
							</div>

							{$product_names = $product_names|cat:($p.name)}
							{if !$smarty.foreach.product_names.last}{$product_names = $product_names|cat:', '}{/if}
						</td>
					{/foreach}
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>[`Price`]</th>
					{foreach $products as $p}
						<td width="{$td_width}%">
							<span class="price nowrap">{shop_currency_html($p.price)}</span>
						</td>
					{/foreach}
				</tr>

				{if !empty($theme_settings.product_hidden_features)}
					{$hidden_feature_ids = str_replace(" ","",$theme_settings.product_hidden_features)}
					{if !empty($hidden_feature_ids)}
						{$hidden_feature_ids = explode(",",$hidden_feature_ids)}
						{$hidden_features = $hidden_feature_ids}
					{else}
						{$hidden_features = false}
					{/if}
				{/if}

				{foreach $features as $f_id=>$f}
					{$is_hidden_feature = !empty($hidden_features) && in_array($f_id, $hidden_features)}
					{$has_hidden_feature_prefix = !empty($theme_settings.product_hidden_feature_prefix) && strpos($f_id, $theme_settings.product_hidden_feature_prefix) === 0}

					{if !$is_hidden_feature && !$has_hidden_feature_prefix}
						{if $f.type == 'divider'}
						<tr class="divider">
							<th colspan="2">{$f.name}</th>
						</tr>
						{else}
						<tr{if $f.same} class="same"{/if}>
							<th>{$f.name}</th>
							{foreach $products as $p}
								<td>
								{if isset($p.features[$f_id])}
									{if is_array($p.features[$f_id])}
										{implode('<br> ', $p.features[$f_id])}
									{else}
										{$p.features[$f_id]}
									{/if}
								{else}
									<span class="gray">{$no_symbol}</span>
								{/if}
								</td>
							{/foreach}
						</tr>
						{/if}
					{/if}
				{/foreach}
			</tbody>
		</table>

		{$wa->title( sprintf('[`Compare %s`]', $product_names) )}
	</div>
{else}
	<p>[`Product comparison list is empty.`]</p>
	{$wa->title("[`Compare products`]")}
{/if}
