{* supreme 1.4.8.4 *}
{if !empty($nofollow)}
<!-- "nofollow" for pages not to be indexed, e.g. customer account -->
<meta name="robots" content="noindex,nofollow">
{/if}

<link href="{$wa_active_theme_url}css/shop.css?v{$wa_theme_version}" rel="stylesheet">
{* minified
<!-- <link href="{$wa_active_theme_url}css/shop.min.css?v{$wa_theme_version}" rel="stylesheet"> -->
*}

{if !empty($filters)}
	<script src="{$wa_active_theme_url}js/filter_lib.min.js?v{$wa_theme_version}"></script>

	{* filter_lib.js && filter_lib.min.js *}
	{*
	<!--
	<script src="{$wa_active_theme_url}js/filter_lib/jquery.ui.core.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_active_theme_url}js/filter_lib/jquery.ui.widget.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_active_theme_url}js/filter_lib/jquery.ui.mouse.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_active_theme_url}js/filter_lib/jquery.ui.slider.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_active_theme_url}js/filter_lib/jquery.ui.touch-punch.min.js?v{$wa_theme_version}"></script>
	-->
	*}
{/if}

{if $wa->shop->config('enable_2x')}
<script>
$(window).load(function() {
	$('.product-list img, .cart img, .side_gallery img, .side_products img, .more-images img').retina();
});
</script>
{/if}

<script src="{$wa_active_theme_url}js/supreme.shop.js?v{$wa_theme_version}"></script>

{if strpos($wa->currentUrl(),'cart')}
<script type="text/javascript" src="{$wa_active_theme_url}js/cart.js?v{$wa_theme_version}"></script>
{/if}

<script type="text/javascript" src="{$wa_active_theme_url}js/product.js?v{$wa_theme_version}"></script>

{if strpos($wa->currentUrl(),'reviews/')}
	<script type="text/javascript" src="{$wa_app_static_url}js/rate.widget.js"></script>
	<script type="text/javascript" src="{$wa_active_theme_url}js/reviews.js"></script>
{/if}

{if $action == 'category'}
	{if empty($category.og.title)}
		<meta property="og:title" content="{$category.name|escape}" />
	{/if}

	{if empty($category.og.description)}
		<meta property="og:description" content="{$category.description|strip|strip_tags|truncate:300}" />
	{/if}

	{if $wa->shop && class_exists(shopWmimageincatPlugin) && shopWmimageincatPlugin::getCategoryImage($category.id, 'banner')}
		{if empty($category.og.image)}
			<meta property="og:image" content="{$wa->domainUrl()}{shopWmimageincatPlugin::getCategoryImage($category.id, 'banner')}" />
		{/if}
	{else}
		{if empty($category.og.image) && isset($category.params.img)}
			<meta property="og:image" content="{$wa->domainUrl()}/{$category.params.img|escape}" />
		{/if}
	{/if}
{/if}

{* Products per page by default *}
{$products_per_page = waRequest::cookie('products_per_page')}
{if isset($theme_settings.products_per_page_default) && is_numeric($theme_settings.products_per_page_default)}
	{$products_per_page_setting = $theme_settings.products_per_page_default}
{else}
	{$products_per_page_setting = 24}
{/if}
{if $theme_settings.pagination != 'lazyloading'}
	{if ($products_per_page && $products_per_page != $products_per_page_setting && !$theme_settings.show_per_page) || !$products_per_page}
		<script>
			$(function(){
				$.cookie('products_per_page', {$products_per_page_setting}, {ldelim}expires: 30, path: '/'{rdelim});
				{if $action == 'category'}
					{literal}
					if (typeof $.cookie('products_per_page') != 'undefined') {
						location.reload();
					}
					{/literal}
				{/if}
			});
		</script>
	{/if}
{else}
	{if $products_per_page}
		<script>
			{literal}
			$(function(){
				$.removeCookie('products_per_page', { path: '/' });
			});
			{/literal}
		</script>
	{/if}
{/if}

<!-- plugin hook: 'frontend_head' -->
{* @event frontend_head.%plugin_id% *}
{foreach $frontend_head as $_}{$_}{/foreach}
