{* supreme 1.4.8.4 *}
<!-- plugin hook: 'frontend_homepage' -->
{* @event frontend_homepage.%plugin_id% *}
{foreach $frontend_homepage as $_}{$_}{/foreach}

{$theme_color = str_replace('img/themesettings/','', str_replace(array('.png','.jpg','bokeh_','abstract_','sky_'),'', $theme_settings.color_scheme))}

{if $theme_settings.homepage_bxslider_type == 'stacked' && $theme_settings.sidebar_show_homepage}
	{include file="`$wa_active_theme_path`/banner.html" inline}
{/if}


{if isset($theme_settings.homepage_bullets_enabled)}
	{$homepage_bullets_enabled = $theme_settings.homepage_bullets_enabled}
{else}
	{$homepage_bullets_enabled = true}
{/if}

{if $homepage_bullets_enabled}
	{if $wa->block('supreme.home.services')}
		{$wa->block('supreme.home.services')}
	{else}
	<div class="home_services">
		<div class="row">
			<figure class="item col-md-4">
				{if $theme_settings.homepage_bullet_1_link !== ''}
				<a href="{$theme_settings.homepage_bullet_1_link}">
				{/if}
				<div class="item_icon">
					{if $theme_settings.homepage_bullets_type == "image_icons"}
						{if $theme_settings.homepage_bullet_1_icon_img}
							<img src="{$wa_theme_url}{$theme_settings.homepage_bullet_1_icon_img}" alt="">
						{else}
							{* site img/icon1.svg *}
							<svg xmlns="http://www.w3.org/2000/svg" width="612" height="612" viewBox="0 0 612 612"><path d="M21.474 377.522V117.138c0-14.47 11.73-26.2 26.2-26.2h260.25c14.468 0 26.197 11.73 26.197 26.2v260.385c0 4.823-3.908 8.733-8.732 8.733H30.208c-4.825 0-8.734-3.91-8.734-8.734zm210.16 89.202c0 30.01-24.33 54.338-54.338 54.338-30.01 0-54.338-24.328-54.338-54.338s24.33-54.338 54.338-54.338c30.01 0 54.338 24.327 54.338 54.338zm-27.17 0c0-15.005-12.164-27.17-27.17-27.17s-27.17 12.165-27.17 27.17 12.166 27.17 27.17 27.17 27.17-12.165 27.17-27.17zm-73.97-54.34H8.735c-4.824 0-8.734 3.91-8.734 8.734v26.495c0 4.823 3.91 8.733 8.733 8.733h97.598c2.55-17.484 11.374-32.928 24.165-43.96zm385.444 54.34c0 30.01-24.33 54.338-54.338 54.338-30.01 0-54.338-24.328-54.338-54.338s24.328-54.338 54.338-54.338 54.338 24.327 54.338 54.338zm-27.168 0c0-15.005-12.165-27.17-27.17-27.17-15.006 0-27.17 12.165-27.17 27.17s12.165 27.17 27.17 27.17 27.17-12.165 27.17-27.17zM612 421.118v26.495c0 4.823-3.91 8.733-8.733 8.733h-70.704c-5.057-34.683-34.906-61.427-70.96-61.427-36.063 0-65.913 26.744-70.97 61.426H248.26c-2.548-17.483-11.372-32.928-24.163-43.96H359.09V162.593c0-9.646 7.82-17.466 17.467-17.466h82.445c23.214 0 44.91 11.53 57.9 30.77l53.15 78.72c7.796 11.548 11.962 25.162 11.962 39.095v118.672h21.253c4.823 0 8.733 3.91 8.733 8.733zm-88.592-164.483l-42.5-60.393c-1.637-2.324-4.3-3.707-7.143-3.707H407.47c-4.822 0-8.733 3.91-8.733 8.733v60.393c0 4.825 3.91 8.734 8.733 8.734h108.798c7.074 0 11.212-7.973 7.14-13.76z"/>
							</svg>
						{/if}

					{else if $theme_settings.homepage_bullets_type == "fa_icons"}
						{if $theme_settings.homepage_bullet_1_icon_fa}
							<span class="fa {$theme_settings.homepage_bullet_1_icon_fa}"></span>
						{/if}
					{/if}
				</div>
				<div class="ofh">
					<div class="item_title">{$theme_settings.homepage_bullet_1_title}</div>
					<p class="item_text">{$theme_settings.homepage_bullet_1_body}</p>
				</div>
				{if $theme_settings.homepage_bullet_1_link !== ''}
				</a>
				{/if}
			</figure>

			<figure class="item col-md-4">
				{if $theme_settings.homepage_bullet_2_link !== ''}
				<a href="{$theme_settings.homepage_bullet_2_link}">
				{/if}
				<div class="item_icon">
					{if $theme_settings.homepage_bullets_type == "image_icons"}
						{if $theme_settings.homepage_bullet_2_icon_img}
							<img src="{$wa_theme_url}{$theme_settings.homepage_bullet_2_icon_img}" alt="">
						{else}
							{* site img/icon2.svg *}
							<svg xmlns="http://www.w3.org/2000/svg" width="986" height="986" viewBox="0 0 986 986">
								<path d="M60 856.55h799.8c33.1 0 60-26.9 60-60v-135.4H632.7c-21.5 0-42.5-4.2-62.2-12.6-19-8-36.1-19.6-50.7-34.2-14.6-14.6-26.2-31.7-34.2-50.7-8.3-19.7-12.6-40.7-12.6-62.2v-16.9c0-21.5 4.2-42.5 12.6-62.2 8-19 19.6-36.1 34.2-50.7 14.6-14.6 31.7-26.2 50.7-34.2 19.7-8.3 40.7-12.6 62.2-12.6h287.1v-135.4c0-33.1-26.9-60-60-60H60c-33.1 0-60 26.9-60 60v607.1c0 33.1 26.9 60 60 60z"/><path d="M986 429.85c0-24.9-20.1-45-45-45H632.7c-55.1 0-99.7 44.6-99.7 99.7v16.9c0 55.1 44.6 99.7 99.7 99.7H941c24.9 0 45-20.1 45-45v-126.3zm-337 116.1c-29.3 0-53-23.7-53-53s23.7-53 53-53 53 23.7 53 53-23.7 53-53 53z"/>
							</svg>
						{/if}
					{else if $theme_settings.homepage_bullets_type == "fa_icons"}
						{if $theme_settings.homepage_bullet_2_icon_fa}
							<span class="fa {$theme_settings.homepage_bullet_2_icon_fa}"></span>
						{/if}
					{/if}
				</div>
				<div class="ofh">
					<div class="item_title">{$theme_settings.homepage_bullet_2_title}</div>
					<p class="item_text">{$theme_settings.homepage_bullet_2_body}</p>
				</div>
				{if $theme_settings.homepage_bullet_2_link !== ''}
				</a>
				{/if}
			</figure>

			<figure class="item col-md-4">
				{if $theme_settings.homepage_bullet_3_link !== ''}
				<a href="{$theme_settings.homepage_bullet_3_link}">
				{/if}
				<div class="item_icon">
					{if $theme_settings.homepage_bullets_type == "image_icons"}
						{if $theme_settings.homepage_bullet_3_icon_img}
							<img src="{$wa_theme_url}{$theme_settings.homepage_bullet_3_icon_img}" alt="">
						{else}
							{* site img/icon3.svg *}
							<svg viewBox="0 0 374 374" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M185.004 42.073C104.924 43.145 40.88 108.938 41.946 189.02c1.072 80.05 66.86 144.112 146.936 143.047 80.064-1.078 144.12-66.872 143.055-146.948-1.072-80.056-66.862-144.116-146.933-143.047zm-.43 233.264l-.8-.013c-12.33-.366-21.026-9.45-20.676-21.6.344-11.94 9.25-20.61 21.175-20.61l.715.012c12.676.375 21.273 9.37 20.916 21.868-.353 11.976-9.12 20.343-21.33 20.343zm51.874-102.954c-2.9 4.12-9.278 9.237-17.313 15.497l-8.85 6.11c-4.857 3.776-7.788 7.33-8.888 10.825-.867 2.752-1.293 3.48-1.37 9.08l-.01 1.42h-33.788l.096-2.86c.413-11.75.703-18.664 5.574-24.376 7.64-8.973 24.497-19.827 25.213-20.287 2.414-1.82 4.45-3.89 5.967-6.103 3.546-4.89 5.116-8.738 5.116-12.52 0-5.25-1.557-10.104-4.637-14.426-2.96-4.17-8.585-6.283-16.718-6.283-8.067 0-13.59 2.56-16.894 7.813-3.398 5.4-5.116 11.07-5.116 16.865v1.44h-34.837l.063-1.503c.9-21.34 8.515-36.703 22.628-45.67 8.868-5.708 19.9-8.602 32.775-8.602 16.854 0 31.08 4.095 42.28 12.172 11.35 8.183 17.106 20.44 17.106 36.43 0 8.942-2.825 17.343-8.398 24.978z" fill-rule="nonzero"/>
							</svg>
						{/if}
					{else if $theme_settings.homepage_bullets_type == "fa_icons"}
						{if $theme_settings.homepage_bullet_3_icon_fa}
							<span class="fa {$theme_settings.homepage_bullet_3_icon_fa}"></span>
						{/if}
					{/if}
				</div>
				<div class="ofh">
					<div class="item_title">{$theme_settings.homepage_bullet_3_title}</div>
					<p class="item_text">{$theme_settings.homepage_bullet_3_body}</p>
				</div>
				{if $theme_settings.homepage_bullet_3_link !== ''}
				</a>
				{/if}
			</figure>
		</div>
	</div>
	{/if}
{/if}

{$wa->block('supreme.home.under.services')}

{if isset($theme_settings.show_categories_on_homepage) && $theme_settings.show_categories_on_homepage != 'no'}
	{$home_categories = []}
	{if $theme_settings.show_categories_on_homepage == 'all'}
		{*only first level*}
		{$home_categories_all = $wa->shop->categories(0, null, true, true)}
		{foreach $home_categories_all as $hc}
			{if !isset($hc.params.show_on_homepage) || (isset($hc.params.show_on_homepage) && $hc.params.show_on_homepage != 'false' && $hc.params.show_on_homepage != '0')}
				{$home_categories[] = $hc}
			{/if}
		{/foreach}
	{elseif $theme_settings.show_categories_on_homepage == 'selected'}
		{*selected from all levels*}
		{$home_categories_all = $wa->shop->categories(0, null, false, true)}
		{foreach $home_categories_all as $hc}
			{if isset($hc.params.show_on_homepage) && ($hc.params.show_on_homepage == 'true' || $hc.params.show_on_homepage == '1')}
				{$home_categories[] = $hc}
			{/if}
		{/foreach}
	{/if}

	{$home_categories_view = $theme_settings.home_categories_view|default:'grid'}

	{if $home_categories}
		<div class="content_slider home_categories {if $home_categories_view == 'slider'}categories_slider{/if}">
			{if $theme_settings.show_categories_on_homepage == 'all'}
				<div class="title">[`Categories`]</div>
			{elseif $theme_settings.show_categories_on_homepage == 'selected'}
				<div class="title">[`Popular categories`]</div>
			{/if}

			{if $home_categories_view == 'slider'}
				{include file="`$wa_active_theme_path`/categories.slider.html" categories=$home_categories inline}
			{elseif $home_categories_view == 'grid'}
				{include file="`$wa_active_theme_path`/categories.grid.html" categories=$home_categories inline}
			{else}
				{include file="`$wa_active_theme_path`/categories.compact.html" categories=$home_categories inline}
			{/if}

		</div>
	{/if}
{/if}

{$hp_set_default_limit = 50}

{if $theme_settings.homepage_productset1_show}
	{$hp_set1_limit = $theme_settings.homepage_productset1_limit|default:36}
	{if $hp_set1_limit > $hp_set_default_limit || $hp_set1_limit == 0}
		{$hp_set1_limit = $hp_set_default_limit}
	{/if}
	{$hp_set1 = $wa->shop->productSet($theme_settings.homepage_productset1_id, 0, $hp_set1_limit)}
	{$hp_set1_view = $theme_settings.homepage_productset1_view|default:'slider'}

	{if $hp_set1}
		{if isset($theme_settings.homepage_productset1_random) && $theme_settings.homepage_productset1_random}
			{$hp_set1_shuffle = true}
		{else}
			{$hp_set1_shuffle = false}
		{/if}
		<div class="content_slider {if $hp_set1_view == 'slider'}products_slider{/if}">
			<div class="title">{$theme_settings.homepage_productset1_name}</div>
			{include file="products-list.html" products=$hp_set1 catalog_view=$hp_set1_view shuffle=$hp_set1_shuffle}
		</div>
	{else}
		<p class="hint align-center"><em>{sprintf('[`In your store backend, drag some products into <strong>%s</strong> product list (which is in the left sidebar of the Products screen), and these products will be automatically published here &mdash; right on your storefront homepage.`]',"`$theme_settings.homepage_productset1_id`")}</em></p>
	{/if}
{/if}

{if $theme_settings.homepage_productset2_show}
	{$hp_set2_limit = $theme_settings.homepage_productset2_limit|default:36}
	{if $hp_set2_limit > $hp_set_default_limit || $hp_set2_limit == 0}
		{$hp_set2_limit = $hp_set_default_limit}
	{/if}
	{$hp_set2 = $wa->shop->productSet($theme_settings.homepage_productset2_id, 0, $hp_set2_limit)}
	{$hp_set2_view = $theme_settings.homepage_productset2_view|default:'slider'}

	{if $hp_set2}
		{if isset($theme_settings.homepage_productset2_random) && $theme_settings.homepage_productset2_random}
			{$hp_set2_shuffle = true}
		{else}
			{$hp_set2_shuffle = false}
		{/if}
		<div class="content_slider {if $hp_set2_view == 'slider'}products_slider{/if}">
			<div class="title">{$theme_settings.homepage_productset2_name}</div>
			{include file="products-list.html" products=$hp_set2 catalog_view=$hp_set2_view shuffle=$hp_set2_shuffle}
		</div>
	{else}
		<p class="hint align-center"><em>{sprintf('[`In your store backend, drag some products into <strong>%s</strong> product list (which is in the left sidebar of the Products screen), and these products will be automatically published here &mdash; right on your storefront homepage.`]',"`$theme_settings.homepage_productset2_id`")}</em></p>
	{/if}
{/if}

{if $theme_settings.homepage_productset3_show}
	{$hp_set3_limit = $theme_settings.homepage_productset3_limit|default:36}
	{if $hp_set3_limit > $hp_set_default_limit || $hp_set3_limit == 0}
		{$hp_set3_limit = $hp_set_default_limit}
	{/if}
	{$hp_set3 = $wa->shop->productSet($theme_settings.homepage_productset3_id, 0, $hp_set3_limit)}
	{$hp_set3_view = $theme_settings.homepage_productset3_view|default:'slider'}

	{if $hp_set3}
		{if isset($theme_settings.homepage_productset3_random) && $theme_settings.homepage_productset3_random}
			{$hp_set3_shuffle = true}
		{else}
			{$hp_set3_shuffle = false}
		{/if}
		<div class="content_slider {if $hp_set3_view == 'slider'}products_slider{/if}">
			<div class="title">{$theme_settings.homepage_productset3_name}</div>
			{include file="products-list.html" products=$hp_set3 catalog_view=$hp_set3_view shuffle=$hp_set3_shuffle}
		</div>
	{else}
		<p class="hint align-center"><em>{sprintf('[`In your store backend, drag some products into <strong>%s</strong> product list (which is in the left sidebar of the Products screen), and these products will be automatically published here &mdash; right on your storefront homepage.`]',"`$theme_settings.homepage_productset3_id`")}</em></p>
	{/if}
{/if}

{if $wa->block('supreme.home.about')}
	<div class="bottom_text custom">
	{$wa->block('supreme.home.about')}
	</div>
{else}
	<div class="bottom_text">
	{if !empty($theme_settings.homepage_about_title)}
		<div class="page-header">
		<h1 class="title h2">{$theme_settings.homepage_about_title}</h1>
		</div>
	{/if}
	{$theme_settings.homepage_about_body}
	</div>
{/if}
