{* supreme 1.4.8.4 *}
<ul class="breadcrumbs list-unstyled" itemscope itemtype="http://schema.org/BreadcrumbList">
	{if !$wa->globals('isMyAccount')}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="{$wa_url}" itemprop="item"><span itemprop="name">[`Home`]</span><meta itemprop="position" content="1"></a>
		</li>
	{else}
		{* within My Account we exclude first node from navigation because links are on the page already *}
		{$breadcrumbs[0] = null}
	{/if}

	{if !empty($breadcrumbs)}
		{$b_counter = 2}
		{foreach $breadcrumbs as $breadcrumb}
			{if !empty($breadcrumb)}
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="{$breadcrumb.url|replace:' ':'%20'}" itemprop="item"><span itemprop="name">{$breadcrumb.name|escape}</span><meta itemprop="position" content="{$b_counter}"></a>
				</li>
				{$b_counter = $b_counter+1}
			{/if}
		{/foreach}
	{/if}

	<li>
		{if ($action == 'category' && isset($category))}
			<span>{$category.name}</span>
		{elseif ($action == 'product' && isset($product))}
			<span>{$product.name}</span>
		{elseif ($action == 'page' && isset($page))}
			<span>{$page.name}</span>
		{else}
			<span>{$wa->title()}</span>
		{/if}
	</li>
</ul>
