{* supreme 1.4.8.4 *}
<!-- plugin hook: 'frontend_header' -->
{* @event frontend_header.%plugin_id% *}
{foreach $frontend_header as $_}{$_}{/foreach}

{if !isset($theme_settings.sidebar_show_homepage)}
	{$theme_settings.sidebar_show_homepage = true}
{/if}
{if !isset($theme_settings.sidebar_show_category)}
	{$theme_settings.sidebar_show_category = true}
{/if}
{if !isset($theme_settings.sidebar_show_product)}
	{$theme_settings.sidebar_show_product = true}
{/if}
{if !isset($theme_settings.sidebar_show_search)}
	{$theme_settings.sidebar_show_search = true}
{/if}
{if !isset($theme_settings.sidebar_show_page)}
	{$theme_settings.sidebar_show_page = true}
{/if}

{$sidebar_show_homepage = !$theme_settings.sidebar_show_homepage && $action == 'default'}
{$sidebar_show_category = !$theme_settings.sidebar_show_category && $action == 'category'}
{$sidebar_show_product = !$theme_settings.sidebar_show_product && $action == 'product'}
{$sidebar_show_search = !$theme_settings.sidebar_show_search && $action == 'search'}
{$sidebar_show_page = !$theme_settings.sidebar_show_page && $action == 'page'}
{$hide_on_actions = ['cart', 'compare', 'checkout', 'onestep']}

{if $sidebar_show_homepage || $sidebar_show_category || $sidebar_show_product || $sidebar_show_search || $sidebar_show_page || in_array($action, $hide_on_actions)}
	{$_NAV_SIDEBAR = 0}
{else}
	{$_NAV_SIDEBAR = 1}
{/if}

<div class="row">
	{if $_NAV_SIDEBAR}
	<div class="col-xs-12 col-sm-8 col-md-9 pull-right page page-content w-sidebar" id="page-content" itemscope itemtype="http://schema.org/{if $action == 'default'}Store{else}WebPage{/if}">
	{else}
	<div class="col-xs-12 page page-content wo-sidebar" id="page-content" itemscope itemtype="http://schema.org/{if $action == 'default'}Store{else}WebPage{/if}">
	{/if}
		<!-- internal navigation breadcrumbs -->
		{if $action == 'page' || $action == 'category' || $action == 'product' || $action == 'cart'}
			{include file="`$wa_active_theme_path`/main.breadcrumbs.html" inline}
		{/if}

		{$content}
		<div class="clear-both"></div>

		{if $action == 'default'}
			{if $theme_settings.logo}
				<meta itemprop="image" content="{$wa->domainUrl()}{$wa_theme_url}{$theme_settings.logo}">
			{/if}

			<meta itemprop="name" content="{$wa->shop->settings('name')}">
			<meta itemprop="address" content="{$wa->shop->settings('country')}">
			<meta itemprop="telephone" content="{$wa->shop->settings('phone')}">
			<meta itemprop="currenciesAccepted" content="{$wa->shop->currency()}">
		{/if}
	</div>
	{if $_NAV_SIDEBAR}
		<div class="col-xs-12 col-sm-4 col-md-3 sidebar pull-left">
			{if isset($theme_settings.filter_before_menu) && $theme_settings.filter_before_menu}
				{include file="`$wa_active_theme_path`/main.filter.html" inline}
			{/if}

			{if $theme_settings.sidebar_show_categories_menu}
				{if isset($theme_settings.sidebar_menu_sub_view)}
					{$subMenuView = $theme_settings.sidebar_menu_sub_view}
				{else}
					{$subMenuView = 'dropdown'}
				{/if}

				{if ($action == 'default' && $wa->app() == 'shop') || $action == 'product' || $theme_settings.sidebar_show_categories_menu_all == true}
					{if $categories}
					<div class="side_block_collapsible side_menu_wrap side_menu_categories{if $action|strstr:'category' && !empty($filters)}{/if} hidden-xs">
						<a class="title" href="#"><span class="fa fa-bars"></span>[`Catalog`]</a>
						{menu data=$categories subtype=$theme_settings.sidebar_menu_sub_type depth=$theme_settings.sidebar_menu_depth cols=$theme_settings.sidebar_menu_sub_cols ignore_depth=1 ignore_cols=1 subview=$subMenuView}
					</div>
					{/if}
				{else if isset($category)}
					{$parentCategory = $wa->shop->category($category.parent_id)}
					<!-- subcategories -->
					{if !empty($category.subcategories)}
						<div class="side_menu_wrap side_menu_categories hidden-xs">
							{menu data=$category.subcategories subtype=$theme_settings.sidebar_menu_sub_type depth=$theme_settings.sidebar_menu_depth cols=$theme_settings.sidebar_menu_sub_cols ignore_depth=1 ignore_cols=1 subview=$subMenuView}
						</div>
					{else if $parentCategory}
						<div class="side_menu_wrap side_menu_categories hidden-xs">
							{menu data=$parentCategory.subcategories subtype=$theme_settings.sidebar_menu_sub_type depth=$theme_settings.sidebar_menu_depth cols=$theme_settings.sidebar_menu_sub_cols ignore_depth=1 ignore_cols=1 subview=$subMenuView}
						</div>
					{/if}
				{/if}
			{/if}

			{if (!isset($theme_settings.filter_before_menu) || !$theme_settings.filter_before_menu)}
				{include file="`$wa_active_theme_path`/main.filter.html" inline}
			{/if}

			{if !(($theme_settings.top_nav1_src == 'shop' && $theme_settings.show_top_nav1) || ($theme_settings.top_nav2_src == 'shop' && $theme_settings.show_top_nav2)) || !$theme_settings.sidebar_hide_menu_duplicate}
				{* PAGES *}
				{$shop_pages = $wa->shop->pages()}
				{if $shop_pages}
					<div class="side_menu_wrap hidden-xs">
						<div class="title">[`Information`]</div>
						{menu data=$shop_pages subtype='sub_one_level'}
					</div>
				{/if}
			{/if}

			{if $action == 'category' && !(isset($category.params.banner_side_show) && !$category.params.banner_side_show)}
				{if $cb_side = $wa->block($category.params.banner_side)|default:false}
					{$cb_side}
				{elseif $cb_side = $wa->block('supreme.cb.side')}
					{$cb_side}
				{/if}
			{/if}

			{* global sidebar *}
			{include file="`$wa_parent_theme_path`/sidebar.html" inline}
		</div>
	{/if}
</div>

<div class="clear-both"></div>

<div id="dialog" class="dialog">
	<div class="dialog-background"></div>
	<div class="dialog-window">
		<!-- common part -->
		<div class="cart">
		</div>
		<!-- /common part -->
	</div>
</div>
