{* supreme 1.4.8.4 *}
<!-- filtering by product features -->
{if !empty($filters)}
	{if waRequest::isXMLHttpRequest() && waRequest::get('page', 1) == 1}
		<link href="{$wa_static_url}wa-content/css/jquery-ui/base/jquery.ui.slider.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version(true)}"></script>
		<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version(true)}"></script>
		<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version(true)}"></script>
		<script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version(true)}"></script>
	{/if}

	<div class="side_block_collapsible side_menu_wrap side_filter_wrap hidden-xs">
		<a class="title" href="#"><span class="fa fa-sliders"></span>[`Filter`]</a>
		<div class="filters{if !empty($theme_settings.ajax_filters)} ajax{/if}">
			<form method="get" action="{$wa->currentUrl(0,1)}" data-loading="{$wa_parent_theme_url}img/loading16.gif">
				{$i = 1}
				{foreach $filters as $fid => $filter}
					<div class="filter-param">
						{if $fid == 'price'}
							{$c = $wa->shop->currency(true)}
							<div class="filter-param-title">
								<a class="accordion-toggle" data-toggle="collapse" data-target="#filter_price" href="javascript:void(0);">
									<span class="fa fa-chevron-down"></span><span class="fa fa-chevron-up"></span>[`Price`]
								</a>
							</div>
							<div class="in" id="filter_price">
								<div class="filter-param-in">
									<div class="slider">
									[`from`] <input type="text" class="min" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}">
									[`to`] <input type="text" class="max" name="price_max" {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}"> {$c.sign}
									</div>
								</div>
							</div>
						{else}
							{if !$theme_settings.filter_params_opened && !$wa->get($filter.code)}
								{$fp_title_class = "collapsed"}
								{$fp_content_class = "collapse"}
							{else}
								{$fp_title_class = ""}
								{$fp_content_class = "in"}
							{/if}
							<div class="filter-param-title">
								<a class="accordion-toggle {$fp_title_class} filter-title-{$filter.code}" data-toggle="collapse" data-target="#filter-{$filter.code}" href="javascript:void(0);">
									<span class="fa fa-chevron-down"></span><span class="fa fa-chevron-up"></span>{$filter.name|escape}
								</a>
							</div>
							<div class="{$fp_content_class}" id="filter-{$filter.code}">
								<div class="filter-param-in">
									{if $filter.type == 'boolean'}
										<label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code)} checked{/if} value="1"> [`Yes`]</label>
										<label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code) === '0'} checked{/if} value="0"> [`No`]</label>
										<label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value=""> [`Any`]</label>
									{elseif isset($filter.min)}
										{$_v = $wa->get($filter.code)}
										<div class="slider">
										[`from`] <input type="text" class="min" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}>
										[`to`] <input type="text" class="max" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}>
										{if !empty($filter.unit)}
											{$filter.unit.title}
											{if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
										{/if}
										</div>
									{else}
										{foreach $filter.values as $v_id => $v}
											<label>
												<input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}">
												{*
												Плагин "SEO-фильтр"
												https://www.webasyst.ru/store/plugin/shop/seofilter/
												*}
												{if $wa->shop && class_exists(shopSeofilterViewHelper)}
													{$filter_url = shopSeofilterViewHelper::getFilterUrl($fid, $v_id)}
												{else}
													{$filter_url = false}
												{/if}

												{if $filter_url}
													<a class="seofilter-link" href="{$filter_url}">{$v}</a>
												{else}
													{$v}
												{/if}
											</label>
										{/foreach}
									{/if}
								</div>
							</div>
						{/if}
					</div>
					{$i=$i+1}
				{/foreach}
				{if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
				{if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
				<div class="filter-buttons clearfix">
					<input type="submit" class="btn btn-secondary pull-left" value="[`Filter products`]">
					<a href="{strtok($wa->currentUrl(), '?')}" class="btn btn-default reset pull-right">[`Clear`]</a>
				</div>
			</form>
		</div>
	</div>
{/if}
