{* supreme 1.4.8.4 *}
<h1>[`My orders`]</h1>

<table class="table">
{foreach $orders as $o}
	<tr id="order-{$o.id}">
		<td class="nowrap">
			<a href="{$o.url}" class="bold">
				{$o.id_str}
			</a>
		</td>
		<td class="nowrap">
			<span class="nowrap label" style="{$o.state->getStyle(1)}">
				{$o.state->getName()}
			</span>
		</td>
		<td class="hidden-xs">
			{if !empty($o.items)}
				{foreach $o.items as $i}
					{$i.name|escape} <span class="gray">x {$i.quantity}</span><br>
				{/foreach}
			{/if}
		</td>
		<td>
			{if $o.shipping_name}
				{$o.shipping_name|escape}
			{else}
				&nbsp;
			{/if}
		</td>
		<td>
			{if $o.payment_name}
				{$o.payment_name|escape}
			{else}
				&nbsp;
			{/if}
		</td>
		<td>
			<span class="gray nowrap">{$o.create_datetime|wa_date:'humandate'}</span>
		</td>
	</tr>
{foreachelse}
	<tr class="no-border">
		<td>[`You have no order history yet.`]</td>
	</tr>
{/foreach}
</table>

{$wa->globals('isMyAccount', true)}

<!-- plugin hook: 'frontend_my_orders' -->
{* @event frontend_my_orders.%plugin_id% *}
{foreach $frontend_my_orders as $_}{$_}{/foreach}
