{* supreme 1.4.8.4 *}
{*
variables:
	showtoolbar
		show_sort
		show_per_page=0
	catalog_view
	per_row
	compact
	shuffle
*}

{* Toolbar *}
{if isset($showtoolbar) && $showtoolbar == 1}
	{$catalog_view = waRequest::cookie('catalog_view')}
	{if !$catalog_view}
		{if isset($theme_settings.catalog_default_view)}
			{$catalog_view = $theme_settings.catalog_default_view}
		{else}
			{$catalog_view = 'grid'}
		{/if}
	{/if}

	{include file="`$wa_active_theme_path`/products.toolbar.html" inline}
{else}
	{if !isset($catalog_view)}
		{$catalog_view = 'grid'}
	{/if}
{/if}

{$favList = waRequest::cookie('shop_favorites')}
{$favList = ","|explode:$favList}

{$skus = $wa->shop->skus(array_keys($products))}
{$images = $wa->shop->images(array_keys($products))}

{* Availability status *}
{$availability = [
	'yes' => "[`In stock`]",
	"no" => "[`Out of stock`]",
	"preorder" => "[`Pre-order only`]",
	"unavailable" => "[`Unavailable`]"
]}

{if $catalog_view == 'grid' || $catalog_view == 'slider'}
	{if isset($per_row)}
		{$per_row = $per_row}
	{elseif isset($theme_settings.catalog_products_per_row)}
		{$per_row = $theme_settings.catalog_products_per_row}
	{else}
		{$per_row = 4}
	{/if}

	{if isset($theme_settings.catalog_larger_images) && $theme_settings.catalog_larger_images}
		{$larger_images = "larger_images"}
	{else}
		{$larger_images = ""}
	{/if}

	{if $catalog_view == 'grid'}
		{if isset($compact) && $compact == true}
			{$compact = true}
		{else}
			{if isset($theme_settings.catalog_grid_compact) && $theme_settings.catalog_grid_compact}
				{$compact = true}
			{else}
				{$compact = false}
			{/if}
		{/if}
	{else if $catalog_view == 'slider'}
		{if isset($compact) && $compact == true}
			{$compact = true}
		{else}
			{if isset($theme_settings.slider_grid_compact) && $theme_settings.slider_grid_compact}
				{$compact = true}
			{else}
				{$compact = false}
			{/if}
		{/if}
	{/if}

	{if $compact}
		{$grid_compact_class = 'grid_compact'}
	{else}
		{$grid_compact_class = ''}
	{/if}

	<div class="product-list products_view_grid per_row_{$per_row} {$larger_images} {$grid_compact_class} clearfix" data-per-row="{$per_row}">
{elseif $catalog_view=='list'}
	<div class="product-list products_view_list clearfix">
{elseif $catalog_view=='compact'}
	<div class="product-list products_view_compact clearfix">
{/if}

{if !empty($shuffle)}
	{$_tmp = shuffle($products)}
{/if}

{foreach $products as $p}
	{if is_array($p)}
	{* Availability *}
	{$p.skus = $skus[$p.id]}
	{$can_buy = false}
	{$is_available_on_stock = false}

	{foreach $p.skus as $sku}
		{if $sku.available}
			{$can_buy = true}

			{if $sku.count >= 1 || $sku.count === null}
				{$is_available_on_stock = true}
			{/if}
		{/if}
	{/foreach}

	{if $can_buy}
		{if $is_available_on_stock}
			{* in stock *}
			{$availability_text = $availability.yes}
			{$availability_status = true}
		{else}
			{if $wa->shop->settings('ignore_stock_count')}
				{* preorder *}
				{$availability_text = $availability.preorder}
				{$availability_status = true}
			{else}
				{* not in stock *}
				{$availability_text = $availability.no}
				{$availability_status = false}
			{/if}
		{/if}
	{else}
		{* unavailable *}
		{$availability_text = $availability.unavailable}
		{$availability_status = false}
	{/if}

	{* Images *}
	{$product_images = []}
	{if isset($images[$p.id])}
		{$p.images = $images[$p.id]}
		{foreach $p.images as $image}
			{append "product_images" ["src"=>"{$wa->shop->imgUrl($image, '970')}"]}
		{/foreach}
	{/if}

	{* Favorite *}
	{if in_array($p.id, $favList)}
		{$favClass = 'active'}
	{else}
		{$favClass = ''}
	{/if}

	{* Prices *}
	{capture "prices"}
	<div class="prices clearfix">
		{if $p.compare_price > 0}
			<span class="price price-new nowrap">{shop_currency_html($p.price)}</span>
			<span class="compare-at-price nowrap">{shop_currency_html($p.compare_price)}</span>
		{else}
			{if $p.min_price != $p.max_price}
				<span class="price price-from">
					<span class="nowrap"><small>[`from`] </small>{shop_currency_html($p.min_price)}</span>
					{*<span class="nowrap"><small>[`to`] </small>{shop_currency_html($p.max_price)}</span>*}
				</span>
			{else}
				<span class="price nowrap">{shop_currency_html($p.price)}</span>
			{/if}
		{/if}
	</div>
	{/capture}

	{capture "badges"}
		{$badge_html = $wa->shop->badgeHtml($p.badge)}
		{if $badge_html}
			{$badge_html}
		{/if}

		{if $p.compare_price > 0}
			{if isset($theme_settings.catalog_discount_percent) && $theme_settings.catalog_discount_percent}
				<div class="badge discount"><span>-{round(($p.compare_price - $p.price) / ($p.compare_price / 100))}%</span></div>
			{else}
				<div class="badge discount discount-text"><span>[`Sale`]</span></div>
			{/if}
		{/if}
	{/capture}


	{*
	Плагин "Характеристики в списках товаров"
	https://www.webasyst.ru/store/plugin/shop/listfeatures/
	*}
	{if class_exists(shopListfeaturesPlugin)}
		{capture "listfeatures"}
			{if !empty($set_id)}
				{shopListfeaturesPlugin::display($p, $products, $set_id)}
			{else}
				{shopListfeaturesPlugin::display($p, $products)}
			{/if}
		{/capture}
	{/if}

	{* Include product template *}
	{if $catalog_view == 'grid' || $catalog_view == 'slider'}
		{include file="`$wa_active_theme_path`/products.grid.html" inline}
	{elseif $catalog_view=='list'}
		{include file="`$wa_active_theme_path`/products.list.html" inline}
	{elseif $catalog_view=='compact'}
		{include file="`$wa_active_theme_path`/products.compact.html" inline}
	{/if}
	{/if}
{/foreach}
</div>

<div class="clearfix"></div>

{if isset($showpagination) && $showpagination == 1}
	{if isset($pages_count) && $pages_count > 1}
	<div class="{if $theme_settings.pagination == 'lazyloading'}lazyloading-paging{else}paging-nav{/if}" data-times="2" data-link-text="[`Show more`]" data-loading-str="[`Loading...`]">
		{capture assign=pagination}
			{wa_pagination total=$pages_count attrs=['class' => "pagination"]}
		{/capture}

		{*
		Плагин "SEO-фильтр"
		https://www.webasyst.ru/store/plugin/shop/seofilter/
		*}
		{if $wa->shop && class_exists(shopSeofilterViewHelper)}
			{shopSeofilterViewHelper::paginationDecorate($pagination)}
		{else}
			{$pagination}
		{/if}
	</div>
	{/if}
{/if}
