{* supreme 1.4.8.4 *}
{* included in product.html *}
<!-- reviews begin -->
{function review_comments}
	{$depth=-1}
	{foreach $reviews as $review}
		{if $review.depth < $depth}

		{$loop=($depth-$review.depth)}
		{section name="end-review" loop=$loop}
			<ul class="comments-branch reviews-branch"></ul>
			</li>
			</ul>
		{/section}

		{$depth=$review.depth}
		{/if}

		{if $review.depth == $depth}
		</li>
		<li data-id="{$review.id}" data-parent-id="{$review.parent_id}">
		{/if}

		{if $review.depth > $depth}
		<ul class="comments-branch reviews-branch">
			<li data-id={$review.id} data-parent-id="{$review.parent_id}">
			{$depth=$review.depth}
		{/if}

		{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}
		<figure class="item review">
			<div class="summary clearfix">
				<div class="review-title clearfix">
					<span>{if $review.title}{$review.title}{/if}</span>
				</div>
				[`By`]
				{if empty($review.site)}
					<span class="username">{$review.author.name}</span>
				{else}
					<a href="{$review.site}" class="username">{$review.author.name}</a>
				{/if}

				{if !empty($review.author.is_user)}
					<span class="staff">{$wa->shop->settings('name')}</span>
				{/if}

				<span class="date" title="{$review.datetime|wa_datetime}">{$review.datetime|wa_datetime:"humandatetime"}</span>
			</div>
			{if $review.text}
				<div class="text">{$review.text}</div>
			{/if}

			{if $reply_allowed}
				<div class="actions">
					<a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="review-reply inline-link"><b><i>[`reply`]</i></b></a>
				</div>
			{/if}
		</figure>
		{if !empty($ajax_append)}<ul class="comments-branch reviews-branch"></ul></li>{/if}
		<!-- sub review placeholder -->
	{/foreach}

	{section name="end-review" loop=$depth}
			<ul class="comments-branch reviews-branch"></ul>
			</li>
		</ul>
	{/section}
{/function}

<section class="reviews comments">
	{$reviews_count = count($reviews)}
	<!-- <a name="reviewheader"></a> -->
	<div class="h3 reviews-count-text" {if $reviews_count == 0}style="display: none;"{/if}>
		{_w('%d review for ','%d reviews for ', $reviews_count)|cat:$product.name|escape}
	</div>

	<!-- existing reviews list -->
	<ul class="comments-branch reviews-branch">
	{foreach $reviews as $review}
		<li data-id={$review.id} data-parent-id="0">

			{* one review output *}
			{include file="review.html" inline reply_allowed=$reply_allowed single_view=true review=$review}

			{if !empty($review.comments)}
				{review_comments reviews=$review.comments}
			{else}
				<ul class="comments-branch reviews-branch"></ul>
			{/if}
		</li>
	{/foreach}
	</ul>

	<div class="write-review-form-wrap">{* here loads "write review form" on ajax *}</div>
</section>
<!-- reviews end -->
