{* supreme 1.4.8.4 *}
{*
variables:
	show_sort
	show_per_page=0
*}

<div class="catalog_toolbar clearfix">
	{if !empty($filters)}
	<div class="item filter_button visible-xs-block">
		<button type="button" id="filter_mobile_btn" class="btn btn-secondary"><span class="fa fa-sliders"></span>[`Filter`]</button>
	</div>
	{/if}

	<!-- sorting -->
	{$sort_fields = [
		'name' => '[`Name`]',
		'price' => '[`Price`]',
		'total_sales' => '[`Bestsellers`]',
		'rating' => '[`Customer rating`]',
		'create_datetime'=>'[`Date added`]',
		'stock' => '[`In stock`]'
	]}

	{if !isset($active_sort)}
		{$active_sort = $wa->get('sort', 'create_datetime')}
	{/if}

	{*
	*	Бренды с картинками и описаниями (wa-apps.ru)
	*	https://www.webasyst.ru/store/plugin/shop/productbrands/
	*}
	{if isset($brand)}
		{if !empty($brand.enable_sorting)}
			{$sorting = true}
		{else}
			{$sorting = false}
		{/if}
	{/if}

	{if !isset($show_sort)}
		{$show_sort = true}
	{/if}

	{if !isset($show_per_page)}
		{$show_per_page = true}
	{/if}

	{if !empty($sorting) && $show_sort}
		<div class="item sort_wrap">
			<span class="item_label">[`Sort by`]:</span>
			<div class="dropdown">
				<button class="btn dropdown-toggle" type="button" id="sort_dropdown" data-toggle="dropdown" aria-expanded="true">
					<span>
						{if !empty($category) && !$category.sort_products && !$active_sort}
							[`New & Popular`]
						{else}
							{$sort_fields[$active_sort]}

							{if $wa->get('order') == 'desc'}
								<span class="fa fa-caret-down"></span>
							{elseif $wa->get('order') == 'asc'}
								<span class="fa fa-caret-up"></span>
							{/if}
						{/if}
					</span>
					<span class="fa fa-angle-down"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="sort_dropdown">
					{if !empty($category) && !$category.sort_products && !$active_sort}
						<li><a href="{$wa->currentUrl(0, 1)}">[`New & Popular`]</a></li>
					{/if}
					{foreach $sort_fields as $sort => $name}
						<li>
							{$wa->shop->sortUrl($sort, $name, $active_sort)|replace:'&':'&amp;'|replace:'sort-asc':'fa fa-caret-down'|replace:'sort-desc':'fa fa-caret-up'}
						</li>
					{/foreach}
				</ul>
			</div>
		</div>
	{/if}

	{* Select products per page *}
	{if $theme_settings.pagination != 'lazyloading' && $theme_settings.show_per_page && $show_per_page}
		{$products_per_page_active = waRequest::cookie('products_per_page')}

		{* products per page moved to head.html *}

		{if isset($theme_settings.products_per_page_options) && !empty($theme_settings.products_per_page_options)}
			{$products_per_page_array = explode(',', $theme_settings.products_per_page_options)}
		{else}
			{$products_per_page_array = ['12','24','36','48','60']}
		{/if}

		<div class="item per_page_wrap">
			<span class="item_label">[`Products per page`]:</span>
			<div class="dropdown">
				<button class="btn dropdown-toggle" type="button" id="per_page_dropdown" data-toggle="dropdown" aria-expanded="true">
					<span>{$products_per_page_active}</span>
					<span class="fa fa-angle-down"></span>
				</button>
				<ul class="dropdown-menu dd_fw" role="menu" aria-labelledby="per_page_dropdown">
					{foreach $products_per_page_array as $p}
						{if is_numeric($p)}
						<li{if $products_per_page_active == $p} class="active"{/if}><a rel="nofollow" href="#" data-val="{$p}">{$p}</a></li>
						{/if}
					{/foreach}
				</ul>
			</div>
		</div>

	{/if}

	<div class="item select_view">
		<button type="button" class="btn {if $catalog_view == 'grid'}active{/if} view_grid" value="grid"><span></span></button>
		<button type="button" class="btn {if $catalog_view == 'list'}active{/if} view_list" value="list"><span></span></button>
		<button type="button" class="btn {if $catalog_view == 'compact'}active{/if} view_compact" value="compact"><span></span></button>
	</div>
</div>
