{* supreme 1.4.8.4 *}
<div class="product flexdiscount-product-wrap">
	<div class="clearfix">
		<div class="item-left in">
			<div class="item_img">
				<div class="image_wrap">
					<a class="img_middle" href="{$p.frontend_url}" title="{$p.name}">
						<div class="badge-wrapper">
							{$smarty.capture.badges} {*from products-list.html*}
						</div>
						<div class="img_middle_in">
							{$wa->shop->productImgHtml($p, '250', ['alt' => $p.name || '', 'default' => "`$wa_theme_url`img/dummy200.png"])}
						</div>
					</a>

					{if !empty($p.image_id) && $theme_settings.catalog_show_quick_photo}
					<a class="quick_photo" data-url="{$wa->shop->productImgUrl($p, '970')}" data-name="{$p.name}" title="[`Zoom photo`]" data-images="{$product_images|json_encode}" rel="nofollow"><span class="fa fa-search-plus fa-lg"></span></a>
					{/if}

					{if isset($theme_settings.catalog_show_quick_view) && $theme_settings.catalog_show_quick_view}
					<a class="quick_view" data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}quick_view=1" title="[`Quick view`]" rel="nofollow"><span class="fa fa-expand"></i></a>
					{/if}
				</div>
			</div>
		</div>

		{if isset($theme_settings.catalog_show_stock) && $theme_settings.catalog_show_stock}
			{$catalog_show_stocks = true}
		{else}
			{$catalog_show_stocks = false}
		{/if}

		<div class="item-content offers">
			<div class="item-content-in">
				<div class="row">
					<div class="col-xs-12 {if !$catalog_show_stocks}col-md-7{else}col-md-5{/if} col-title">
						<div class="product_name h5"><a href="{$p.frontend_url}" title="{$p.name}">{$p.name}</a></div>
						{if isset($theme_settings.disable_reviews) && !$theme_settings.disable_reviews}
						<span class="hidden-xs hidden-sm rating clearfix">
							{for $i=1 to 5}
								<span class="fa fa-star{if $i > $p.rating} empty{/if}"></span>
							{/for}
							<a href="{$p.frontend_url}#pp_reviews" rel="nofollow">{$p.rating_count}</a>
						</span>
						{/if}
					</div>

					<div class="col-xs-12 {if $catalog_show_stocks}col-md-2{else}visible-xs-block visible-sm-block{/if} col-stock">
						{if isset($availability_text)}
							{if $catalog_show_stocks}
								{if $availability_text == $availability.yes}
									<div class="stock yes">{$availability_text}</div>
								{elseif $availability_text == $availability.preorder}
									<div class="stock preorder">{$availability_text}</div>
								{else}
									<div class="stock no">{$availability_text}</div>
								{/if}
							{/if}
						{/if}

						{if isset($theme_settings.disable_reviews) && !$theme_settings.disable_reviews}
						<span class="rating rating-mobile clearfix">
							{for $i=1 to 5}
								<span class="fa fa-star{if $i > $p.rating} empty{/if}"></span>
							{/for}
							<a href="{$p.frontend_url}#pp_reviews" rel="nofollow">{$p.rating_count}</a>
						</span>
						{/if}
					</div>

					<div class="col-xs-12 col-md-3 col-prices">
						{$smarty.capture.prices} {*from products-list.html*}
					</div>
					<div class="col-xs-12 col-md-2 col-button">
						<form class="purchase addtocart flexdiscount-product-form" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}quick_view=1"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">
							<input type="hidden" name="product_id" value="{$p.id}">

							{if $availability_status}
								<div class="btn_add2cart_wrap">
									<button class="btn btn-primary btn_add2cart" type="submit"><span></span>[`Add to cart`]</button>
									<span class="adding2cart icon16 loading pull-left"></span>
								</div>
							{else}
								{if isset($theme_settings.catalog_show_stock) && $theme_settings.catalog_show_stock}
									<div class="btn_add2cart_wrap">
										<button class="btn btn-primary btn_add2cart disabled" type="button" disabled=""><span></span>[`Add to cart`]</button>
									</div>
								{else}
									{*{if $availability_text != $availability.yes}*}
										<div class="stock no">{$availability_text}</div>
									{*{/if}*}
								{/if}
							{/if}

							{if empty($disable_compare) || empty($disable_favorites) || (isset($remove) && $remove == 1)}
								<div class="p_buttons">
									{if empty($disable_compare)}
										<div>
											<a data-product="{$p.id}" class="compare to_compare{if $wa->shop->inComparison($p.id)} active{/if}" title="[`Add to compare`]" rel="nofollow"><span></span><span>[`Add to compare`]</span></a>
										</div>
									{/if}

									{if empty($disable_favorites)}
										<div>
											<a data-product="{$p.id}" class="to_favorites {$favClass}" title="[`Add to favorites`]" rel="nofollow"><span></span><span>[`Add to favorites`]</span></a>
										</div>
									{/if}

									{if isset($remove) && $remove == 1}
										<button class="btn_remove" data-product="{$p.id}" type="button" title="[`Remove from list`]">&#10005;</button>
									{/if}
								</div>
							{/if}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
