{* supreme 1.4.8.4 *}
{$pUrl = $wa->currentUrl()|regex_replace:"/\?.*.$/":""}
{if !isset($theme_settings.sidebar_show_product)}
	{$theme_settings.sidebar_show_product = true}
{/if}

{$product_img_sku_ids = []}
{foreach $product.skus as $sku}
	{if $sku.image_id}
		{append "product_img_sku_ids" "`$sku.id`" index="`$sku.image_id`"}
	{/if}
{/foreach}

<article class="product_page" itemscope itemtype="http://schema.org/Product">
	<script type="text/javascript">
		var productID = {$product.id};
	</script>
	<h1 class="product-name"><span itemprop="name">{$product.name|escape}</span></h1>

	<div class="row">
		{if $wa->get('quick_view')}
			{$p_col1_class = "col-sm-6"}
		{elseif $theme_settings.sidebar_show_product}
			{$p_col1_class = "col-sm-6 col-md-5"}
		{else}
			{$p_col1_class = "col-sm-6 col-md-7"}
		{/if}

		<div class="{$p_col1_class}">
			<figure class="product-gallery-wrap clearfix">
				<!-- main image -->
				{$thumbs = []}
				{$video = $product->video}
				{capture "thumbs"}
					{if count($product.images) > 1 || (count($product.images) === 1 && $video)}
						{if $video}
							<div class="image video selected">
								<a id="product-image-video" href="{$video.url}" class="swipebox">
									<span class="img_middle"><span class="img_middle_in">
										<img src="{$video.images[0]}">
									</span></span>
								</a>
							</div>
						{/if}
						{foreach $product.images as $image}
							<div class="image{if $image.id == $product.image_id && empty($video)} selected{/if}">
								<a class="product-image-{$image.id}" href="{$wa->shop->imgUrl($image, '970')}" data-img-id="{$image.id}">
									<span class="img_middle"><span class="img_middle_in">
										{$wa->shop->imgHtml($image, '96', ['alt' => $image.description|escape])}
									</span></span>
								</a>
							</div>
							{append "thumbs" ["src"=>"{$wa->shop->productImgUrl(['id'=> $product.id, 'image_id' => $image.id, 'ext' => $image.ext], '970')}"]}
						{/foreach}
					{/if}
				{/capture}

				{if $video}
					<div class="video-container">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="{$video.url}" width="{$video.width}" height="{$video.height}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
				{/if}

				{capture "badges"}
					<div class="badge-wrapper">
						{$wa->shop->badgeHtml($product.badge)}
						{if isset($theme_settings.catalog_discount_percent) && $theme_settings.catalog_discount_percent}
							{if count($product.skus) > 1}
								<div class="badge discount discount-percent" style="display:none;"><span></span></div>
							{elseif $product.compare_price > 0}
								<div class="badge discount discount-percent"><span>-{round(($product.compare_price - $product.price) / ($product.compare_price / 100))}%</span></div>
							{/if}
						{else}
							{if count($product.skus) > 1}
								<div class="badge discount discount-text" style="display:none;"><span>[`Sale`]</span></div>
							{elseif $product.compare_price > 0}
								<div class="badge discount discount-text"><span>[`Sale`]</span></div>
							{/if}
						{/if}
					</div>
				{/capture}

				<div class="image img_middle product-core-image" {if $video}style="display:none"{/if}>
					{if $product.images || $video}
					<a class="img_middle_in" href="{$wa->shop->productImgUrl($product, '970')}">
						{$wa->shop->productImgHtml($product, '745', [ 'itemprop' => 'image', 'class' => 'product-image', 'alt' => $product.name|escape ])}
						{$smarty.capture.badges}
						<span class="icon_zoom"><span class="fa fa-search-plus"></span></span>
					</a>
					{else}
					<div class="img_middle_in">
						<img src="{$wa_theme_url}img/dummy200.png" alt="">
						{$smarty.capture.badges}
					</div>
					{/if}

					<div class="switching-image" style="display: none;"></div>
				</div>

				{if count($product.images) > 1 || (count($product.images) === 1 && $video)}
					<div class="more-images clearfix" data-thumbs='{$thumbs|json_encode}'>
						{$smarty.capture.thumbs}
					</div>
				{/if}
			</figure>
		</div>

		{if $wa->get('quick_view')}
			{$p_col2_class = "col-sm-6"}
		{elseif $theme_settings.sidebar_show_product}
			{$p_col2_class = "col-sm-6 col-md-7"}
		{else}
			{$p_col2_class = "col-sm-6 col-md-5"}
		{/if}

		<div class="{$p_col2_class}">

			{if class_exists(shopProductbrandsPlugin)}
				{$_b = shopProductbrandsPlugin::productBrand($product.id)}
				{if $_b}
					<a class="product-brand" href="{$_b.url}">
						{if $_b.image}
							<img src="{$wa_url}wa-data/public/shop/brands/{$_b.id}/{$_b.id}{$_b.image}">
						{else}
							{$_b.name}
						{/if}
					</a>
				{/if}
			{/if}

			{if !empty($product.rating) && $product.rating > 0 && !$theme_settings.disable_reviews}
				<span class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" title="{sprintf('[`Average user rating: %s / 5`]', $product.rating)}">
					{for $i=1 to 5}
						<span class="fa fa-star{if $i > $product.rating} empty{/if}"></span>
					{/for}
					<a class="link_to_reviews" href="{$pUrl}#pp_reviews">{$reviews_total_count}</a>
					<span itemprop="ratingValue" style="display: none;">{$product.rating}</span>
					<span itemprop="reviewCount" style="display: none;">{$reviews_total_count}</span>
				</span>
			{/if}

			{include file="product.cart.html" inline}

			{if empty($disable_compare) || empty($disable_favorites)}
				<div class="p_buttons">
					{if empty($disable_compare)}
						<a data-product="{$product.id}" class="compare to_compare{if $wa->shop->inComparison($product.id)} active{/if}" title="[`Add to compare`]"><span></span><span>[`Add to compare`]</span></a>
					{/if}

					{$favList = waRequest::cookie('shop_favorites')}
					{$favList = ","|explode:$favList}

					{$favClass = ''}
					{foreach from=$favList item=i}
						{if $i == $product.id}
							{$favClass = 'active'}
						{/if}
					{/foreach}

					{if empty($disable_favorites)}
						<a data-product="{$product.id}" class="to_favorites {$favClass}" title="[`Add to favorites`]"><span></span><span>[`Add to favorites`]</span></a>
					{/if}
				</div>
			{/if}

			{if $wa->get('quick_view')}
				<hr>
				<a class="btn btn-default btn-sm" href="{$pUrl}">[`View product page`]</a>
			{/if}

			{if !$wa->get('quick_view')}
				<!-- share -->
				{if (isset($theme_settings.pp_share_show) && $theme_settings.pp_share_show) && (isset($theme_settings.pp_share_code) && !empty($theme_settings.pp_share_code))}
					<div class="p_share small">
						{$theme_settings.pp_share_code}
					</div>
					<p></p>
				{/if}

				<!-- categories -->
				{if $theme_settings.pp_show_categories}
					<p class="p_categories small" id="product-categories">
						[`Categories`]:
						{foreach name=categories from=$product.categories item=c}
						{if $c.status}
							<a href="{$wa->getUrl('/frontend/category', ['category_url' => $c.full_url])|replace:' ':'%20'}">{$c.name|escape}</a>{if !$smarty.foreach.categories.last}, {/if}
						{/if}
						{/foreach}
					</p>
				{/if}

				<!-- tags -->
				{if $theme_settings.pp_show_tags}
					{if $product.tags}
						<p class="p_tags small" id="product-tags">
							[`Tags`]:
							{foreach name=tags from=$product.tags item=t}
								<a href="{$wa->getUrl('/frontend/tag', ['tag' => urlencode($t)])}">{$t}</a>{if !$smarty.foreach.tags.last}, {/if}
							{/foreach}
						</p>
					{/if}
				{/if}
			{/if}

			<!-- plugin hook: 'frontend_product.block_aux' -->
			{* @event frontend_product.%plugin_id%.block_aux *}
			{if !empty($frontend_product)}
				<div class="pp-h-wrap-block_aux">
					{foreach $frontend_product as $_key => $_}
						{if !empty($_.block_aux)}
							<div class="pp-h-block_aux {$_key}-block_aux">{$_.block_aux}</div>
						{/if}
					{/foreach}
				</div>
			{/if}
		</div>
	</div>

	<!-- plugin hook: 'frontend_product.block' -->
	{* @event frontend_product.%plugin_id%.block *}
	{if !empty($frontend_product)}
		<div class="pp-h-wrap-block">
			{foreach $frontend_product as $_key => $_}
				{if !empty($_.block)}
					<div class="pp-h-block {$_key}-block">{$_.block}</div>
				{/if}
			{/foreach}
		</div>
	{/if}


	{if !$wa->get('quick_view')}

		{$wa->block("supreme.product.block1")}

		{$pp_first_tab = $theme_settings.pp_first_tab|default:'description'}
		<div class="tabpanel pp_tabpanel" role="tabpanel">
			<!-- Nav tabs -->
			{$tab_active = false}
			<ul class="nav nav-tabs" role="tablist">

				{function description_tab}
					<li role="presentation" class="{if $current_tab_active}active{/if}"><a href="#pp_home" role="tab" data-toggle="tab"><span class="fa fa-info-circle"></span>[`Overview`]</a></li>
				{/function}

				{function features_tab}
					<li role="presentation" class="{if $current_tab_active}active{/if}"><a href="#pp_specs" role="tab" data-toggle="tab"><span class="fa fa-list"></span>[`Specifications`]</a></li>
				{/function}

				{if $pp_first_tab == 'description'}

					{if $product.description}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{description_tab current_tab_active=$current_tab_active}
					{/if}

					{if $product.features}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{features_tab current_tab_active=$current_tab_active}
					{/if}

				{else}

					{if $product.features}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{features_tab current_tab_active=$current_tab_active}
					{/if}

					{if $product.description}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{description_tab current_tab_active=$current_tab_active}
					{/if}

				{/if}

				{if !$theme_settings.disable_reviews}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<li role="presentation" class="{if $current_tab_active}active{/if}"><a class="pp_reviews_tab" href="#pp_reviews" role="tab" data-toggle="tab"><span class="fa fa-comments"></span>[`Reviews`]<span></span></a></li>
				{/if}

				{if isset($theme_settings.pp_comments_vk_enable) && $theme_settings.pp_comments_vk_enable}
					{if isset($theme_settings.pp_comments_vk_tab_text) && !empty($theme_settings.pp_comments_vk_tab_text)}
						{$comments_vk_tab_name = $theme_settings.pp_comments_vk_tab_text}
					{else}
						{$comments_vk_tab_name = "`Reviews`"}
					{/if}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<li role="presentation" class="{if $current_tab_active}active{/if}"><a href="#comments_vk" role="tab" data-toggle="tab">span class="fa fa-vk"></i>{$comments_vk_tab_name}</a></li>
				{/if}

				{if isset($theme_settings.pp_comments_fb_enable) && $theme_settings.pp_comments_fb_enable}
					{if isset($theme_settings.pp_comments_fb_tab_text) && !empty($theme_settings.pp_comments_fb_tab_text)}
						{$comments_fb_tab_name = $theme_settings.pp_comments_fb_tab_text}
					{else}
						{$comments_fb_tab_name = "`Reviews`"}
					{/if}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<li role="presentation" class="{if $current_tab_active}active{/if}"><a href="#comments_fb" role="tab" data-toggle="tab"><span class="fa fa-facebook"></span>{$comments_fb_tab_name}</a></li>
				{/if}

				{for $i=1 to 3}
					{if isset($theme_settings["pp_add_tab_`$i`_enable"]) && $theme_settings["pp_add_tab_`$i`_enable"]}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						<li role="presentation" class="{if $current_tab_active}active{/if}"><a href="#pp_tab_add_{$i}" role="tab" data-toggle="tab">{$theme_settings["pp_add_tab_`$i`_tab_title"]}</a></li>
					{/if}
				{/for}

				{foreach $product.pages as $page}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<li role="presentation" class="{if $current_tab_active}active{/if}"><a href="#pp_tab_{$page.url}" role="tab" data-toggle="tab">{$page.name|escape}</a></li>
				{/foreach}

				<!-- plugin hook: 'frontend_product.menu' -->
				{* @event frontend_product.%plugin_id%.menu *}
				{if !empty($frontend_product)}
					<div class="pp-h-wrap-menu">
						{foreach $frontend_product as $_key => $_}
							{if !empty($_.menu)}
								<div class="pp-h-aux-block {$_key}-menu">{$_.menu}</div>
							{/if}
						{/foreach}
					</div>
				{/if}
			</ul>

			<!-- Tab panes -->
			{$tab_active = false}
			{$current_tab_active = false}
			<div class="tab-content clearfix">

				{function description_tab_content}
					<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="pp_home">
						<div class="h3 tab-print-title">[`Overview`]</div>
						<div class="description" id="product-description" itemprop="description">{$product.description}</div>
					</div>
				{/function}

				{function features_tab_content}
					<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="pp_specs">
						<div class="h3 tab-print-title">[`Specifications`]</div>

						{if class_exists(shopGroupattrPlugin)}

							{$gfeatures = shopGroupattrPlugin::process($product)}
							<table class="table table-hover features gfeatures" id="product-features">
								{foreach $gfeatures as $fgroup}
									{if !empty($fgroup.features)}
										{if $fgroup@index > 0}
											<tr class="group-title">
												<td colspan="2">{$fgroup.name}</td>
											</tr>
										{/if}
										{foreach $fgroup.features as $f_code => $f_value}
											<tr{if $features[$f_code].type == 'divider'} class="divider"{/if}>
												<td class="name">
													{$features[$f_code].name|escape}
													{if class_exists(shopFeaturestipsPlugin) && isset($featurestips)}
														{shopFeaturestipsPlugin::ShowFeatureTip($featurestips, $f_code)}
													{/if}
												</td>
												<td class="value">
													{if is_array($f_value)}
														{if $features[$f_code].type == 'color'}
															{implode('<br /> ', $f_value)}
														{else}
															{implode(', ', $f_value)}
														{/if}
													{else}
														{$f_value}
													{/if}
												</td>
											</tr>
										{/foreach}
									{/if}
								{/foreach}
							</table>

						{else}

							<table class="table table-hover features" id="product-features">
								{if !empty($theme_settings.product_hidden_features)}
									{$hidden_feature_ids = str_replace(" ","",$theme_settings.product_hidden_features)}
									{if !empty($hidden_feature_ids)}
										{$hidden_feature_ids = explode(",",$hidden_feature_ids)}
										{$hidden_features = $hidden_feature_ids}
									{else}
										{$hidden_features = false}
									{/if}
								{/if}

								{foreach $product.features as $f_code => $f_value}
									{$is_hidden_feature = !empty($hidden_features) && in_array($f_code, $hidden_features)}
									{$has_hidden_feature_prefix = !empty($theme_settings.product_hidden_feature_prefix) && strpos($f_code, $theme_settings.product_hidden_feature_prefix) === 0}

									{if !$is_hidden_feature && !$has_hidden_feature_prefix}
										{if $features[$f_code].type == 'divider'}
											<tr class="divider">
												<td class="name" colspan="2">
													{$features[$f_code].name|escape}
													{if class_exists(shopFeaturestipsPlugin) && isset($featurestips)}
														{shopFeaturestipsPlugin::ShowFeatureTip($featurestips, $f_code)}
													{/if}
												</td>
											</tr>
										{else}
											<tr>
												<td class="name">
													{$features[$f_code].name|escape}
													{if class_exists(shopFeaturestipsPlugin) && isset($featurestips)}
														{shopFeaturestipsPlugin::ShowFeatureTip($featurestips, $f_code)}
													{/if}
												</td>
												<td class="value">
													{if is_array($f_value)}
														{if $features[$f_code].type == 'color'}
															{implode('<br> ', $f_value)}
														{else}
															{implode(', ', $f_value)}
														{/if}
													{else}
														{$f_value}
													{/if}
												</td>
											</tr>
										{/if}
									{/if}
								{/foreach}
							</table>

						{/if}

					</div>
				{/function}

				{if $pp_first_tab == 'description'}

					{if $product.description}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{description_tab_content current_tab_active=$current_tab_active}
					{/if}

					{if $product.features}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{features_tab_content current_tab_active=$current_tab_active}
					{/if}

				{else}

					{if $product.features}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{features_tab_content current_tab_active=$current_tab_active}
					{/if}

					{if $product.description}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						{description_tab_content current_tab_active=$current_tab_active}
					{/if}

				{/if}

				{if !$theme_settings.disable_reviews}
				{if !$tab_active}
					{$tab_active = true}
					{$current_tab_active = true}
				{else}
					{$current_tab_active = false}
				{/if}
				<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="pp_reviews">
					<div class="h3 tab-print-title">[`Reviews`]</div>

					{$reviews = $product->getReviews()}
					{include file="product.reviews.html" reply_allowed=true}

					<script type="text/javascript">
						$(function(){
							var loading = $('<div><span class="icon16 loading"></span>Loading...</div>');
							var writeReviewForm = $('#pp_reviews .write-review-form-wrap');

							writeReviewForm.append(loading);

							$.get( '{strtok($wa->currentUrl(), "?")}reviews/', function( data ) {
								var response = $('<div/>').html(data);
								var recaptcha = response.find('.review-submit script').html();

								writeReviewForm.html(response.find('.write-review-form').html());

								eval(recaptcha);

								writeReviewForm
									.prepend(
										'<script type="text/javascript" src="{$wa_app_static_url}js/rate.widget.js"><\/script>'+
										'<script type="text/javascript" src="{$wa_theme_url}js/reviews.js"><\/script>'
									)
									.find('.loading').parent().remove();

								$('.wa-captcha .wa-captcha-refresh, .wa-captcha .wa-captcha-img').unbind('click').click(function(){
									var div = $(this).parents('div.wa-captcha');
									var captcha = div.find('.wa-captcha-img');
									if(captcha.length) {
										captcha.attr('src', captcha.attr('src').replace(/\?.*$/,'?rid='+Math.random()));
									}
									div.find('input').val('');
									return false;
								});
							});
						});
					</script>
				</div>
				{/if}

				{if isset($theme_settings.pp_comments_vk_enable) && $theme_settings.pp_comments_vk_enable}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="comments_vk">
						<div class="h3 tab-print-title">{$comments_vk_tab_name}</div>
						<div id="product_vk_comments"></div>
						{literal}
						<script type="text/javascript">
						VK.Widgets.Comments("product_vk_comments", {limit: 10, attach: false});
						</script>
						{/literal}
					</div>
				{/if}

				{if isset($theme_settings.pp_comments_fb_enable) && $theme_settings.pp_comments_fb_enable}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="comments_fb">
						<div class="h3 tab-print-title">{$comments_fb_tab_name}</div>
						<div class="fb-comments" data-numposts="10" data-width="100%"></div>
					</div>
				{/if}

				{for $i=1 to 3}
					{if isset($theme_settings["pp_add_tab_`$i`_enable"]) && $theme_settings["pp_add_tab_`$i`_enable"]}
						{if !$tab_active}
							{$tab_active = true}
							{$current_tab_active = true}
						{else}
							{$current_tab_active = false}
						{/if}
						<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="pp_tab_add_{$i}">
							<div class="h3 tab-print-title">{$theme_settings["pp_add_tab_`$i`_tab_title"]}</div>
							{if $wa->block("supreme.product.tab`$i`")}
								{$wa->block("supreme.product.tab`$i`")}
							{else}
								{$theme_settings["pp_add_tab_`$i`_tab_content"]}
							{/if}
						</div>
					{/if}
				{/for}

				{foreach $product.pages as $page}
					{if !$tab_active}
						{$tab_active = true}
						{$current_tab_active = true}
					{else}
						{$current_tab_active = false}
					{/if}
					<div role="tabpanel" class="tab-pane {if $current_tab_active}active{/if}" id="pp_tab_{$page.url}">
						<div class="h3 tab-print-title">{$page.name|escape}</div>
						<script>
							$(function(){
								$("#pp_tab_{$page.url}").load("{strtok($wa->currentUrl(), '?')}{$page.url}/ .product-info");
							});
						</script>
					</div>
				{/foreach}
			</div>
		</div>
	{/if}
</article>

<!-- RELATED PRODUCTS -->
{$upselling = $product->upSelling(12)}
{$crossselling = $product->crossSelling(12)}

{if $upselling || $crossselling || $theme_settings.viewed_on_product_page}
	<div class="product_page_bottom">
		{if $crossselling}
			<div class="content_slider products_slider">
				<div class="title h3">[`With this product also bought`]</div>
				{include file="products-list.html" products=$crossselling catalog_view="slider"}
			</div>
		{/if}

		{if $upselling}
			<div class="content_slider products_slider">
				<div class="title h3">[`See also`]</div>
				{include file="products-list.html" products=$upselling catalog_view="slider"}
			</div>
		{/if}

		{include file="viewed-slider.html"}

	</div>
{/if}
