{* supreme 1.4.8.4 *}
<form class="cart-form flexdiscount-product-form" id="cart-form{if $wa->get('quick_view')}-dialog{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}">

	{if !isset($theme_settings.pp_show_stocks)}
		{$theme_settings.pp_show_stocks = true}
	{/if}

	{if count($product.skus) > 1}
		<div class="articul nowrap hint">[`Product code`]: <span class="artnumber"></span></div>
	{else}
		{$sku = $product.skus[$product.sku_id]}
		{if $sku.sku}<div class="articul nowrap hint" style="display:block;">[`Product code`]: <span class="artnumber">{$sku.sku|escape}</span></div>{/if}
	{/if}

	{if isset($theme_settings.pp_show_short_description)}
		{$show_short_description = $theme_settings.pp_show_short_description}
	{else}
		{$show_short_description = true}
	{/if}

	{if $show_short_description && !empty($product.summary)}
		<div class="pp_short_description">{$product.summary}</div>
	{/if}

	{if isset($theme_settings.pp_show_short_features)}
		{$show_short_features = $theme_settings.pp_show_short_features}
	{else}
		{$show_short_features = false}
	{/if}

	{if $show_short_features && !empty($product.features)}
		{if isset($theme_settings.pp_short_features_limit)}
			{$short_features_limit = intval($theme_settings.pp_short_features_limit)}
		{else}
			{$short_features_limit = 7}
		{/if}

		<style>
			.product_page .pp_short_features table tr:nth-child(n+{$short_features_limit + 1}){ldelim}
				display: none;
			{rdelim}
		</style>

		<div class="pp_short_features" data-limit="{$short_features_limit}">
			<div class="pp_short_features_table">
				{if class_exists(shopListfeaturesPlugin)}
					{*
					Характеристики в списках товаров (Rat)
					https://www.webasyst.ru/store/plugin/shop/listfeatures/
					*}
					{$p_category = $wa->shop->category($product.category_id)}
					{$feature_set_id =  $p_category.params.set_id|default:1}
					{shopListfeaturesPlugin::display($product, [$product], $feature_set_id)}
				{else}
					<table class="features">

						{if !empty($theme_settings.product_hidden_features)}
							{$hidden_feature_ids = str_replace(" ","",$theme_settings.product_hidden_features)}
							{if !empty($hidden_feature_ids)}
								{$hidden_feature_ids = explode(",",$hidden_feature_ids)}
								{$hidden_features = $hidden_feature_ids}
							{else}
								{$hidden_features = false}
							{/if}
						{/if}

						{if !empty($theme_settings.pp_short_features_selected)}
							{$short_features_selected_ids = str_replace(" ","",$theme_settings.pp_short_features_selected)}
							{if !empty($short_features_selected_ids)}
								{$short_features_selected_ids = explode(",",$short_features_selected_ids)}
								{$short_features_selected = $short_features_selected_ids}
							{else}
								{$short_features_selected = false}
							{/if}
						{else}
							{$short_features_selected = false}
						{/if}

						{$pp_short_features_counter = 0}
						{foreach $product.features as $f_code => $f_value}
							{$is_hidden_feature = !empty($hidden_features) && in_array($f_code, $hidden_features)}
							{$has_hidden_feature_prefix = !empty($theme_settings.product_hidden_feature_prefix) && strpos($f_code, $theme_settings.product_hidden_feature_prefix) === 0}

							{if $short_features_selected}
								{$show_row = in_array($f_code, $short_features_selected)}
							{else}
								{$show_row = !$is_hidden_feature && !$has_hidden_feature_prefix && $features[$f_code].type != 'divider' && ($pp_short_features_counter <= $short_features_limit || $short_features_limit == 0)}
							{/if}

							{if $show_row}
								{if $features[$f_code].type == 'divider'}
									<tr class="divider">
										<td class="name" colspan="2">{$features[$f_code].name|escape}</td>
									</tr>
								{else}
									<tr>
										<td class="name">{$features[$f_code].name|escape}</td>
										<td class="value">
											{if is_array($f_value)}
												{if $features[$f_code].type == 'color'}
													{implode('<br> ', $f_value)}
												{else}
													{implode(', ', $f_value)}
												{/if}
											{else}
												{$f_value}
											{/if}
										</td>
									</tr>
								{/if}
								{$pp_short_features_counter = $pp_short_features_counter + 1}

								{if $pp_short_features_counter == $short_features_limit}
									{break}
								{/if}

							{/if}
						{/foreach}
					</table>
				{/if}

			</div>
			<div class="link_to_features_wrap">
				<a class="link_to_features pp_link_to_tab" href="{$pUrl}#pp_specs">[`All features`]</a>
			</div>
		</div>
	{/if}

	{* list all SKUs for Schema.org markup *}
	{$product_available = false}
	{$product_has_unavailable_sku = false}

	{foreach $product.skus as $sku}
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<input type="hidden" id="sku{$sku.id}" value="{$sku.sku}">
			{$sku_available =	$product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
			<meta itemprop="name" content="{$sku.name|escape}">
			<meta itemprop="price" content="{$sku.price|replace:',':'.'}">
			<meta itemprop="priceCurrency" content="{$product.currency}">

			{if $theme_settings.pp_show_stocks}
				{if !$sku.available}
					<link itemprop="availability" href="http://schema.org/Discontinued">
				{elseif (!($sku.count === null) && $sku.count <= 0)}
					<link itemprop="availability" href="http://schema.org/OutOfStock">
				{else}
					<link itemprop="availability" href="http://schema.org/InStock">
				{/if}
			{/if}
		</div>
		{if !$sku.available}
			{$product_has_unavailable_sku = true}
		{/if}
		{$product_available = $product_available or $sku_available}
	{/foreach}

	{* SELECTABLE FEATURES selling mode *}
	{if $product.sku_type}
		{$default_sku_features = $product.sku_features}

		{* SELECTABLE FEATURES - INLINE *}
		{if $theme_settings.selectable_features_control == 'inline'}
			<div class="options">
				{foreach $features_selectable as $f}
					<div class="inline-select{if $f.type == 'color'} inline-select-color{/if} p-feature-select-{$f.id}" data-feature-group-id="{$f.id}">
						<div class="option_name">{$f.name}:</div>
						{foreach $f.values as $v_id => $v}
							{if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}

							<a data-value="{$v_id}" href="#" class="p-feature-{$v_id} {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}">
								{if $f.type == 'color'}
									<span class="color" style="{$v->style};"></span>
									&nbsp;<span class="fa fa-check color_checkmark"></span>
									&nbsp;<span class="color_name">{strip_tags($v)}</span>
								{else}
									{$v}
								{/if}
							</a>
						{/foreach}
						<input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
					</div>
				{/foreach}
			</div>

		{* SELECTABLE FEATURES - SELECT *}
		{else}
			<div class="options">
				{foreach $features_selectable as $f}
					<div class="option">
						<div class="option_name">{$f.name}:</div>
						<select data-feature-id="{$f.id}" class="sku-feature form-control input-sm" name="features[{$f.id}]">
							{foreach $f.values as $v_id => $v}
								<option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v}</option>
							{/foreach}
						</select>
					</div>
				{/foreach}
			</div>
		{/if}

	{* FLAT SKU LIST WITH RADIO BUTTON *}
	{else}

		{* MORE THAN 1 SKU*}
		{if count($product.skus) > 1}
			<ul class="skus">
				{foreach $product.skus as $sku}
				{$sku_available =	$product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
				<li>
					<label{if !$sku.available} class="disabled"{/if}>
					{strip}
					<input name="sku_id" type="radio" value="{$sku.id}"
						data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}"
						data-price="{shop_currency($sku.price, $product.currency, null, 0)}"
						{if !$sku.available} disabled="true"{/if}
						{if !$sku_available}data-disabled="1"{/if}
						{if $sku.id == $product.sku_id} checked="checked"{/if}
						{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}>
					<span>{$sku.name|escape}</span>
					<span class="price tiny nowrap">{shop_currency_html($sku.price, $product.currency)}</span>

					<!-- <input type="hidden" id="sku{$sku.id}" value="{$sku.sku}"> -->
					{/strip}
					</label>
				</li>
				{/foreach}
			</ul>

		{* in case there is only one SKU, don't display the selector *}
		{else}
			<div>
				<input name="sku_id" type="hidden" value="{$product.sku_id}">
			</div>
		{/if}
	{/if}

	<!-- stock info -->
	{function name=in_stock n=0 low=5 critical=2 availability=true}
		{if $n > $low or $n === null}
			<span class="stock-high"><spna class="fa fa-check-circle fa-lg"></spna> [`In stock`]</span>
		{elseif $n > $critical}
			<span class="stock-low"><span class="fa fa-check-circle fa-lg"></span> {_w("Only a few items left")}</span>
		{elseif $n > 0}
			<span class="stock-critical"><span class="fa fa-check-circle fa-lg"></span> {_w("Only %d left in stock", "Only %d left in stock", $n)}</span>
		{else}
			{if $wa->shop->settings('ignore_stock_count')}
				<span class="stock-preorder">
					<span class="fa fa-check-circle fa-lg"></span>
					[`Pre-order only`]
				</span>
			{else}
				<span class="stock-none">
					<span class="fa fa-times-circle fa-lg"></span>
					[`Out of stock`]
				</span>
			{/if}
		{/if}
	{/function}

	{if $theme_settings.pp_show_stocks}
		{if count($product.skus) > 1}
			<div class="stocks" {if count($product.skus) == 1}style="visibility: visible;"{/if}>
				{foreach $product.skus as $sku}
					<div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock">
						{if $sku.stock}
							{foreach $stocks as $stock_id => $stock}
								{if isset($sku.stock[$stock_id])}
									{$stock_count = $sku.stock[$stock_id]}
								{else}
									{$stock_count = null}
								{/if}
								{$stock.name}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
							{/foreach}
						{else}
							{in_stock n=$sku.count}
						{/if}
					</div>
				{/foreach}
				<div class="sku-no-stock">
					<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`Product with the selected option combination is not available for purchase`]</span>
				</div>
				<div class="unavailable-stock" {if count($product.skus) == 1 && $product_available}style="visibility: visible;"{/if}>
					<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`This product is not available for purchase`]</span>
				</div>
			</div>
		{else}
			{$sku = $product.skus[$product.sku_id]}
			<div class="stocks" style="visibility:visible;">
				{if !$sku.available}
					<div class="sku-no-stock" style="display:block;">
						<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`This product is not available for purchase`]</span>
					</div>
				{elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
					{if $wa->shop->settings('ignore_stock_count')}
						<span class="stock-preorder">
							<span class="fa fa-check-circle fa-lg"></span> [`Pre-order only`]
						</span>
					{else}
						<span class="stock-none">
							<span class="fa fa-times-circle fa-lg"></span> [`Out of stock`]
						</span>
					{/if}
				{else}
					{foreach $product.skus as $sku}
						<div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock">
							{if $sku.stock}
								{foreach $stocks as $stock_id => $stock}
									{if isset($sku.stock[$stock_id])}
										{$stock_count = $sku.stock[$stock_id]}
									{else}
										{$stock_count = null}
									{/if}
									{$stock.name}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
								{/foreach}
							{else}
								{in_stock n=$sku.count}
							{/if}
						</div>
					{/foreach}
				{/if}
			</div>
		{/if}
	{elseif !$product_available}
		{if count($product.skus) > 1}
			<div class="stocks">
				<div class="sku-no-stock">
					<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`Out of stock`]</span>
				</div>
				<div class="unavailable-stock">
					<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`This product is not available for purchase`]</span>
				</div>
			</div>
		{else}
			<div class="stocks" style="visibility: visible;">
				{if $product.skus[0] == 0 && !$product_has_unavailable_sku}
					<div class="sku-no-stock" style="display:block;">
						<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`Out of stock`]</span>
					</div>
				{else}
					<div class="unavailable-stock" style="display:block;">
						<span class="stock-none"><span class="fa fa-times-circle fa-lg"></span> [`This product is not available for purchase`]</span>
					</div>
				{/if}
			</div>
		{/if}
	{/if}

	<div class="purchase">
		{if $services}
		<!-- services -->
		<div class="services">
			{foreach $services as $s}
			<div class="service-{$s.id}">
				<label {if !$product_available}class="disabled"{/if}>
					<input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
				</label>
				{if isset($s.variants)}
					<select data-variant-id="{$s.variant_id}" class="service-variants form-control input-sm" name="service_variant[{$s.id}]" disabled>
						{foreach $s.variants as $v}
							<option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
						{/foreach}
					</select>
				{else}
					<input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
				{/if}
			</div>
			{/foreach}
		</div>
		{/if}

		<!-- price -->
		<div class="add2cart">
			<div class="prices">
				{if $product.compare_price > 0}
					<span data-price="{shop_currency($product.price, null, null, 0)}" class="price price-new nowrap">{shop_currency_html($product.price)}</span>
					<span data-compare-price="{shop_currency($product.compare_price, null, null, 0)}" class="compare-at-price nowrap"> {shop_currency_html($product.compare_price)}</span>
				{else}
					<span data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap">{shop_currency_html($product.price)}</span>
				{/if}
			</div>

			{$wa->block("supreme.product.under.price")}

			<input type="hidden" name="product_id" value="{$product.id}">

			<div class="buy_buttons">
				<div class="qty_wrap">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="minus btn btn-default" type="button">-</button>
						</div>
						<input type="text" class="form-control" name="quantity" value="1">
						<div class="input-group-btn">
							<button class="plus btn btn-default" type="button">+</button>
						</div>
					</div>
				</div>

				<button class="btn btn-primary btn_add2cart" type="submit" {if !$product_available}disabled="disabled"{/if}>
				<span></span>[`Add to cart`]
				</button>
				<!--
				<i class="adding2cart"></i>
				-->
{shopBuy1clickViewHelper::getButton($product.id)}
				{*
				*	Купить в один клик (easy IT)
				*	https://www.webasyst.ru/store/plugin/shop/storequickorder/
				*}
				{if isset($frontend_product['storequickorder-plugin']['cart'])}
					{$frontend_product['storequickorder-plugin']['cart']}
				{/if}

				{*
				*	Купить в один клик (Игорь Гапонов)
				*	https://www.webasyst.ru/store/plugin/shop/quickorder/
				*}
				{if isset($frontend_product['quickorder-plugin']['cart'])}
					{$frontend_product['quickorder-plugin']['cart']}
				{/if}
			</div>

			<!-- plugin hook: 'frontend_product.cart' -->
			{* @event frontend_product.%plugin_id%.cart *}
			{if !empty($frontend_product)}
				<div class="pp-h-wrap-cart">
					{foreach $frontend_product as $_key => $_}
						{if $_key != 'storequickorder-plugin' && $_key != 'quickorder-plugin' && !empty($_.cart)}
							<div class="pp-h-cart {$_key}-cart">{$_.cart}</div>
						{/if}
					{/foreach}
				</div>
			{/if}

			<span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><span>in your shopping cart</span></a>`]', $product.name|escape, $wa->getUrl('shop/frontend/cart'))}</span>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(function () {
		new Product("#cart-form{if $wa->get('quick_view')}-dialog{/if}", {
			currency: {json_encode($currency_info)}
			{if count($product.skus) > 1 or $product.sku_type}
			,services: {json_encode($sku_services)}
			{/if}
			{if $product.sku_type}
			,features: {json_encode($sku_features_selectable)}
			{/if}
			{if $product_img_sku_ids}
			,productImgSkuIds: {json_encode($product_img_sku_ids)}
			{/if}
			{if isset($product_available)}
			,productAvailable: {if $product_available}true{else}false{/if}
			{/if}
			{if !empty($theme_settings.pp_advanced_parameter_selection)}
				{$pp_advanced_parameter_selection = "true"}
			{else}
				{$pp_advanced_parameter_selection = "false"}
			{/if}
			,advancedParameterSelection: {$pp_advanced_parameter_selection}
		});
	});
</script>
