{* supreme 1.4.8.4 *}
<div class="product flexdiscount-product-wrap">
	<div class="in">
		{if isset($remove) && $remove == 1}<button class="btn_remove" data-product="{$p.id}" type="button" title="[`Remove from list`]">&#10005;</button>{/if}
		<div class="image_wrap">
			{if class_exists(shopProtilegalleryPlugin)}
				{$protilegallery=shopProtilegalleryPlugin::productItem($p)}
			{else}
				{$protilegallery = false}
			{/if}

			<a {if !$protilegallery}class="img_middle"{/if} href="{$p.frontend_url}" title="{$p.name}">
				<div class="badge-wrapper">
					{$smarty.capture.badges} {*from products-list.html*}
				</div>

				{if !empty($protilegallery)}
					{$protilegallery}
				{else}
					<div class="img_middle_in">
						{$wa->shop->productImgHtml($p, '250', ['alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
					</div>
				{/if}
			</a>


			{if !empty($p.image_id) && isset($theme_settings.catalog_show_quick_photo) && $theme_settings.catalog_show_quick_photo}
			<a class="quick_photo" data-url="{$wa->shop->productImgUrl($p, '970')}" data-name="{$p.name}" title="[`Zoom photo`]" data-images='{$product_images|json_encode}' rel="nofollow"><span class="fa fa-search-plus fa-lg"></span></a>
			{/if}

			{if isset($theme_settings.catalog_show_quick_view) && $theme_settings.catalog_show_quick_view}
			<a class="quick_view" data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}quick_view=1" title="[`Quick view`]" rel="nofollow"><span class="fa fa-expand"></span></a>
			{/if}
		</div>

		<div class="product_name h5">
			<a href="{$p.frontend_url}" title="{$p.name}">{$p.name}</a>
		</div>

		<div class="offers">
			<form class="purchase addtocart flexdiscount-product-form" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}quick_view=1"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">
				<input type="hidden" name="product_id" value="{$p.id}">
				<input type="hidden" name="sku_id" value="{$p.sku_id}">

				{$smarty.capture.prices} {*from products-list.html*}

				{if !$compact}
					{if isset($theme_settings.disable_reviews) && !$theme_settings.disable_reviews}
					<span class="rating clearfix">
						{for $i=1 to 5}
							<span class="fa fa-star{if $i > $p.rating} empty{/if}"></span>
						{/for}
						<a href="{$p.frontend_url}#pp_reviews" rel="nofollow">{$p.rating_count}</a>
					</span>
					{/if}

					{*
					Плагин "Характеристики в списках товаров"
					https://www.webasyst.ru/store/plugin/shop/listfeatures/
					*}
					{if !empty($smarty.capture.listfeatures)}
						{$smarty.capture.listfeatures} {*from products-list.html*}
					{/if}

					<div class="clearfix">
						{if $availability_status}
							<div class="btn_add2cart_wrap">
								<button class="btn btn-primary btn_add2cart" type="submit"><span></span>[`Add to cart`]</button>
								<span class="adding2cart icon16 loading pull-left"></span>
							</div>


						{else}
							{if isset($theme_settings.catalog_show_stock) && $theme_settings.catalog_show_stock}
								<div class="btn_add2cart_wrap">
									<button class="btn btn-primary btn_add2cart disabled" type="button" disabled=""><span></span>[`Add to cart`]</button>
								</div>
							{else}
								{if isset($availability_text)}
									{if $availability_text != $availability.yes}
									<div class="btn_add2cart_wrap">
										<div class="btn btn-link stock no">{$availability_text}</div>
									</div>
									{/if}
								{/if}
							{/if}
						{/if}



						{if empty($disable_compare) || empty($disable_favorites)}
							<div class="p_buttons">
								{if empty($disable_compare)}
									<a data-product="{$p.id}" class="compare to_compare{if $wa->shop->inComparison($p.id)} active{/if}" title="[`Add to compare`]" rel="nofollow"><span></span></a>
								{/if}
								{if empty($disable_favorites)}
									<a data-product="{$p.id}" class="to_favorites {$favClass}" title="[`Add to favorites`]" rel="nofollow"><span></span></a>
								{/if}
							</div>
							<div style="clear: both;"></div>
                            {shopBuy1clickViewHelper::getButton($p.id, $p.sku_id)}
							<div style="clear: both;"></div>
						{/if}
					</div>
				{/if}
			</form>

			{if isset($availability_text)}
				{if isset($theme_settings.catalog_show_stock) && $theme_settings.catalog_show_stock}
					{if $availability_text == $availability.yes}
						<div class="stock yes">{$availability_text}</div>
					{elseif $availability_text == $availability.preorder}
						<div class="stock preorder">{$availability_text}</div>
					{else}
						<div class="stock no">{$availability_text}</div>
					{/if}
				{/if}
			{/if}
		</div>
	</div>
</div>
