{* supreme 1.4.8.4 *}
{* Write review form. Loads on ajax from product.html*}
<div class="write-review-form">
	<!-- add review form -->
	<div class="h4 write-comment write-review">
		<a href="javascript:void(0);" class="inline-link"><b><i>[`Write a review`]</i></b></a>
	</div>
	<div class="comment-form review-form" id="product-review-form" {if $reviews_count > 0}style="display:none;"{/if}>

		{$current_user_id = $wa->userId()}

		<form method="post" class="wa-form">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="c_close" href="javascript:void(0);">&#215;</a>
					{if empty($current_user_id) && $require_authorization}
						<div id="user-auth-provider" class="need_authorize" data-provider="signup">
							{sprintf(
							'[`To add a review please <a href="%s">sign up</a> or <a href="%s">login</a>`]',
							$wa->signupUrl(),
							$wa->loginUrl())
							}
						</div>
					{else}
						{if !empty($current_user_id)}
							<div class="wa-field review-field">
								<div class="wa-name">
									<label>[`Your name`]</label>
								</div>
								<div class="wa-value">
									<img src="{$wa->user()->getPhoto(20)}" class="userpic" alt=""> <strong>{$wa->user('name')}</strong>
									<a href="?logout">[`log out`]</a>
								</div>
							</div>
						{else}
							{if $auth_adapters}
								<div class="wa-auth-adapters">
									<ul id="user-auth-provider" class="menu-h auth-type">
										<li data-provider="guest"	{if $current_auth_source == shopProductReviewsModel::AUTH_GUEST}class="selected"{/if}><a href="#">[`Guest`]</a></li>
										{foreach $auth_adapters as $adapter}
											{$adapter_id = $adapter->getId()}
											<li data-provider="{$adapter_id}" {if $current_auth_source == $adapter_id}class="selected"{/if}>
												<a href="{$adapter->getCallbackUrl(0)}&app=shop{if !$require_authorization}&guest=1{/if}">
												<img src="{$adapter->getIcon()}" alt="">{$adapter->getName()}</a>
											</li>
										{/foreach}
									</ul>
								</div>
							{/if}

							<div class="provider-fields" data-provider="{shopProductReviewsModel::AUTH_GUEST}" {if $current_auth_source != shopProductReviewsModel::AUTH_GUEST}style="display:none"{/if}>
								<div class="wa-field review-field">
									<div class="wa-name">
										<label for="review-name">[`Your name`]</label>
									</div>
									<div class="wa-value">
										<input type="text" class="form-control" name="name" id="review-name" value="">
									</div>
								</div>
								<div class="wa-field review-field">
									<div class="wa-name">
										<label for="review-email">[`Email`]</label>
									</div>
									<div class="wa-value">
										<input type="text" class="form-control" name="email" id="review-email">
									</div>
								</div>
								{*
								<div class="wa-field review-field">
									<div class="wa-name">
										<label for="review-site">[`Website`]</label>
									</div>
									<div class="wa-value">
										<input type="text" class="form-control" name="site" id="review-site">
									</div>
								</div>
								*}
							</div>

							{if !empty($auth_adapters[$current_auth_source])}
								{$adapter = $auth_adapters[$current_auth_source]}
								<div class="provider-fields" data-provider="{$adapter->getId()}">
									<div class="wa-field review-field"><label>[`Your name`]</label>
										<img src="{$adapter->getIcon()}" class="userpic"> <strong>{$current_auth.name|escape}</strong>
										<a href="?logout">[`log out`]</a>
									</div>
								</div>
							{/if}
						{/if}

						<div class="wa-field review-field">
							<div class="wa-name">
								<label for="review-title">[`Title`]</label>
							</div>
							<div class="wa-value">
								<input type="text" class="form-control" name="title" id="review-title">
							</div>
						</div>
						<div class="wa-field review-field">
							<div class="wa-name">
								<label>[`Rate product`]</label>
							</div>
							<div class="wa-value">
								<a href="javascript:void(0);" class="no-underline rate" data-rate="0" id="review-rate">
									{for $i = 1 to 5}<sapn class="fa fa-star star-empty"></sapn>{/for}
								</a>
								<a href="javascript:void(0);" class="no-underline inline-link rate-clear" id="clear-review-rate" style="display: none;">
									<b><i>[`clear`]</i></b>
								</a>
								<input name="rate" type="hidden" value="0">
							</div>
						</div>
						<div class="wa-field review-field">
							<div class="wa-name">
								<label for="review-text">[`Review`]</label>
							</div>
							<div class="wa-value">
								<textarea class="form-control" id="review-text" name="text" rows="8" cols="45"></textarea>
							</div>
						</div>

						<div class="wa-field wa-submit c_form_submit comment-submit review-submit">
							<div class="wa-name"></div>
							<div class="wa-value">
								{if $request_captcha && empty($current_user_id)}
									{$wa->captcha()|replace:'wa-captcha-input':'wa-captcha-input form-control'}
								{/if}

								{if empty($current_user_id) && !empty($review_service_agreement) && !empty($review_service_agreement_hint)}
									<label class="service-agreement-wrapper">
										{if $review_service_agreement == 'checkbox'}
											<input type="hidden" name="service_agreement" value="">
											<input type="checkbox" name="service_agreement" value="1"{if $wa->post('service_agreement') || $wa->storage('shop_review_agreement')} checked{/if}>
										{/if}
										{$review_service_agreement_hint}
									</label>
								{/if}

								<input type="submit" class="btn btn-primary save" value="[`Add review`]">
								<span class="review-add-form-status ajax-status" style="display: none;">
									<i class="ajax-statuloading icon16 loading"><!--icon --></i>
								</span>

								<em class="hint">Ctrl+Enter</em>
								<input type="hidden" name="parent_id" value="0">
								<input type="hidden" name="product_id" value="{if isset($product.id)}{$product.id}{else}0{/if}">
								<input type="hidden" name="auth_provider" value="{$current_auth_source|default:shopProductReviewsModel::AUTH_GUEST}">
								<input type="hidden" name="count" value="{$reviews_count}">
							</div>
						</div>
					{/if}
				</div>
			</div>
		</form>
	</div>
</div>
