{* supreme 1.4.8.4 *}
{* one review output *}
{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}
<figure class="item review" itemprop="review" itemscope itemtype="http://schema.org/Review">
	<div class="summary">
		{strip}
		<div class="review-title">
			{if !$review.parent_id && !empty($review.rate)}
			<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				{$rate = round($review.rate)}
				<meta itemprop="worstRating" content = "1">
				<meta itemprop="ratingValue" content="{$rate}">
				<meta itemprop="bestRating" content = "5">
				{*$wa->shop->ratingHtml($rate)*}
				<span class="review_rate">
				{for $i = 1 to 5}<span class="fa fa-star {if $i <= $rate}star{else}star-empty{/if}"></span>{/for}
				</span>
			</span>
			{/if}
			<span itemprop="name">{if $review.title}{$review.title}{/if}</span>
		</div>
		[`By`]
		{if empty($review.site)}
			<span class="username" itemprop="author">{$review.author.name}</span>
		{else}
			<a href="{$review.site}" class="username"><span itemprop="author">{$review.author.name}</span></a>
		{/if}

		{if !empty($review.author.is_user)}
			<span class="staff">{$wa->shop->settings('name')}</span>
		{/if}

		<meta itemprop="itemReviewed" content="{$product.name|escape}">
		<meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
		<span class="date" title="{$review.datetime|wa_datetime}">{$review.datetime|wa_datetime:"humandatetime"}</span>
		{/strip}
	</div>

	{if $review.text}
		<div class="text" itemprop="description">{$review.text}</div>
	{/if}

	{if $reply_allowed}
		<div class="actions">
			<a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="review-reply inline-link"><b><i>[`reply`]</i></b></a>
		</div>
	{/if}
</figure>
{if !empty($ajax_append)}<ul class="comments-branch reviews-branch"></ul></li>{/if}
