{* supreme 1.4.8.4 *}
{$get = waRequest::get('get', 0, 'string')}
{$query = waRequest::get('query', 0, 'string')}
{$ajax = waRequest::get('ajax', 0, 'string')}
{$ajaxRequest = waRequest::isXMLHttpRequest()}

{if $ajaxRequest && $ajax}
	{* ajax search *}

	{if $products}
		<div class="search-products">
			{foreach $products as $p}
				<div class="item">
					<a class="clearfix" href="{$p.frontend_url}">
						<div class="item-img">
							{$wa->shop->productImgHtml($p, '96', ['alt' => $p.name || '', 'default' => "`$wa_theme_url`img/dummy200.png"])}
						</div>

						<div class="item-content">
							<div class="item-name">{$p.name}</div>

							{if $p.min_price != $p.max_price}
								<div class="price price-from nowrap">
									<small>[`from`] </small>{shop_currency_html($p.min_price)}
								</div>
							{else}
								<div class="price nowrap">{shop_currency_html($p.price)}</div>
							{/if}
						</div>
					</a>
				</div>

				{if $p@index == 4}
					{break}
				{/if}
			{/foreach}
		</div>

		{if count($products) > 5}
		<a class="search-show-all" href="{$wa->currentUrl()|replace:'&ajax=true':''}">[`Show all results`]</a>
		{/if}
	{/if}
{elseif $get}
	{* favorites and viewed*}

	{if $get == 'favorites' || $get == 'viewed'}
		{if $get == 'favorites'}
			{$productListID = "favorites"}
			{$productListName = "shop_favorites"}
			{$productListTitle = "[`Favorites`]"}
		{elseif $get == 'viewed'}
			{$productListID = "viewed"}
			{$productListName = "shop_viewed"}
			{$productListTitle = "[`Viewed`]"}
		{/if}

		{$wa->title($productListTitle)}
		{$productListCookie = waRequest::cookie($productListName)}

		{if $productListCookie != null}
			{$productListIDsArr = explode(',', $productListCookie)}
			{$productList = array_replace(array_flip($productListIDsArr), $wa->shop->products("id/$productListCookie"))}

			{$productListIDsExistingArr = []}
			{foreach $productList as $key => $value}
				{if is_array($value)}
					{$productListIDsExistingArr[] = $key}
				{/if}
			{/foreach}
			{$productListIDsExisting = implode(',',$productListIDsExistingArr)}
		{else}
			{$productList = []}
			{$productListIDsExisting = false}
		{/if}

		{if empty($productListIDsExisting)}
			<script>
				$(document).ready(function() {
					$.removeCookie("{$productListCookie}", {
						path: '/'
					});
				});
			</script>
		{else}
			<script>
				$(document).ready(function() {
					$.cookie("{$productListName}", "{$productListIDsExisting}", {
						expires: 30,
						path: '/'
					});
				});
			</script>
		{/if}

		<h1 class="category-name"><span>{$productListTitle}</span>{if $productListIDsExisting && $productListIDsExisting != ""}<button data-target="{$productListID}" class="btn btn-default btn-sm btn_clear_list" type="button">[`Clear list`]</button>{/if}</h1>
		<div id="product-list" class="products_list_{$productListID}">
			{if !empty($productListIDsExisting)}
				{include file='products-list.html' products=$productList remove=true showtoolbar=1 show_sort=0 show_per_page=0}
			{else}
				<p>[`Products list is empty`]</p>
				<br>
			{/if}
		</div>
	{/if}
{else}
	{* search page *}

	{if $wa->currentUrl()|strstr:'search' && !empty($query)}
		{$title = '[`Results for "%s"`]'|replace:'%s':$query}
	{/if}

	{if !empty($title)}
		<h1 class="category-name">{$title}</h1>
	{/if}

	<!-- plugin hook: 'frontend_search' -->
	{* @event frontend_search.%plugin_id% *}
	{foreach $frontend_search as $_}{$_}{/foreach}

	{if !$products}
		<p>[`No products were found.`]</p>
	{else}
		<div id="product-list">
		{include file='products-list.html' showpagination=1 showtoolbar=1 sorting=1}
		</div>
	{/if}
{/if}
