{* supreme 1.4.8.4 *}
{$viewedLimit = 12}
{$productListCookie = waRequest::cookie("shop_viewed")}

{if !empty($productListCookie)}
	{$productListIDsArr = array_slice(explode(',', $productListCookie), 0, $viewedLimit)}
	{$productListIDsStr = implode(',', $productListIDsArr)}
	{$productList = array_replace(array_flip($productListIDsArr), $wa->shop->products("id/$productListIDsStr"))}
{/if}

{if !empty($productList)}
	<div class="content_slider products_slider">
		<div class="title h3">[`Your recently viewed items`]</div>
		{include file='products-list.html' products=$productList catalog_view="slider"}
	</div>
{/if}
