/* supreme 1.4.8.4 */
.btn-primary,
.storequickorder-button,
#storequickorder .submit-button {
  background-color: #f05d2b;
}

.btn-primary:hover, .btn-primary:focus,
.storequickorder-button:hover,
.storequickorder-button:focus,
#storequickorder .submit-button:hover,
#storequickorder .submit-button:focus {
  background-color: #ee4b13;
}

.btn-secondary {
  background-color: #70716f;
  color: #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #636462;
}

.btn-success {
  background-color: #5cb85c;
}

.btn-success:hover, .btn-success:focus {
  background-color: #4cae4c;
}

.btn-info {
  background-color: #5bc0de;
}

.btn-info:hover, .btn-info:focus {
  background-color: #46b8da;
}

.btn-warning {
  background-color: #f0ad4e;
}

.btn-warning:hover, .btn-warning:focus {
  background-color: #eea236;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #d43f3a;
}

.btn.disabled, .btn:disabled, .btn[disabled],
.storequickorder-button.disabled,
.storequickorder-button:disabled,
.storequickorder-button[disabled] {
  background-color: #a2a2a2;
  opacity: 0.4;
}

.btn-link, .btn-link:hover, .btn-link:focus {
  color: #f05d2b;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #f05d2b;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #b2dba1;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #9acfea;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #f5e79e;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #dca7a7;
}

.progress {
  background-color: #f5f5f5;
}

.progress-bar {
  background-color: #f05d2b;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-bar-info {
  background-color: #5bc0de;
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-danger {
  background-color: #d9534f;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #f05d2b;
  border-color: #e74710;
}

.panel-default > .panel-heading {
  background-color: #f5f5f5;
}

.panel-success > .panel-heading {
  background-color: #dff0d8;
}

.panel-info > .panel-heading {
  background-color: #d9edf7;
}

.panel-warning > .panel-heading {
  background-color: #fcf8e3;
}

.panel-danger > .panel-heading {
  background-color: #f2dede;
}

.panel-primary {
  border-color: #ee4b13;
}

.panel-primary > .panel-heading {
  background-color: #f05d2b;
  border-color: #ee4b13;
}

.well {
  background-color: #f5f5f5;
}

.pagination li a, .pagination li span {
  color: #f05d2b;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus,
.pagination > .selected > a,
.pagination > .selected > a:hover,
.pagination > .selected > a:focus,
.pagination > .selected > span,
.pagination > .selected > span:hover,
.pagination > .selected > span:focus {
  background-color: #f05d2b;
  border-color: #f05d2b;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #f05d2b;
}

.footer1 .title, .f_madein a, .bottom_text .page-header * {
  color: #e54610 !important;
}

.h_contacts .phone, .h_cart .in .cart_summary, .side_news a:hover, #fixed_toolbar ul li a .count, .side_products .item:hover .name, .side_brands a:hover {
  color: #f05d2b !important;
}

.fa {
  color: #f05d2b;
}

a {
  color: #f05d2b;
}

a:hover, a:focus {
  color: #f05d2b;
}

.cb .slider .slick-dots li.slick-active button:after {
  background: #f05d2b;
}

@media all and (min-width: 768px) {
  .menu_collapsible li > .link > a:hover,
  .sub_all_levels li > .link > a:hover {
    color: #f05d2b !important;
  }
  .side_menu_wrap .menu_dropdown > li:hover > .link > a,
  .sub_dropdown.sub_one_level li:hover > .link > a {
    color: #f05d2b !important;
  }
}

@media all and (min-width: 768px) {
  .menubar .menu > li > .submenu .col > ul > li a:hover {
    color: #f05d2b !important;
  }
}

.h_menu1 .menu > li.active > .link a {
  color: #f05d2b;
}

.h_menu2.menu_color {
  background-color: #f05d2b;
}

.h_menu2.menu_color .menu_header {
  background-color: #f05d2b;
}

.h_menu2.menu_dark {
  background-color: #5b5b5b;
}

.h_menu2.menu_dark .menu_header {
  background-color: #5b5b5b;
}

#topnav .menu > li > a:hover {
  color: #f05d2b;
}

#fixed_toolbar ul li a:after {
  background: #f05d2b;
}

#fixed_toolbar ul li.added a {
  background: #f05d2b;
}

.side_menu_wrap .menu_dropdown > li:hover > .link > a {
  color: #f05d2b;
}

.side_menu_wrap .menu_dropdown > li.active > .link > a:before {
  background: #f05d2b;
}

.side_tags a:hover {
  color: #f05d2b;
}

.home_services .item_icon svg {
  fill: #f05d2b;
}

.product_page .add2cart .price {
  color: #f05d2b;
}

.product_page .more-images .image.selected a {
  border-color: #f05d2b;
}

.product_page .inline-select a.selected {
  border-color: #f05d2b;
  box-shadow: 0 0 0 1px #f05d2b;
}
