@charset "UTF-8";
/* supreme 1.4.8.4 */
.ys_overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: none;
}

.purchase.addtocart.flexdiscount-product-form .buy1click-open-button.btn.btn-primary.btn_add2cart.buy1click-open-button_init, .purchase.addtocart.flexdiscount-product-form .buy1click-open-button.btn.btn-primary.btn_add2cart.buy1click-open-button_init:disabled {
  background: none;
  border-bottom: 1px dashed black;
  color: black !important;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3px;
}




.purchase.addtocart.flexdiscount-product-form .buy1click-open-button.btn.btn-primary.btn_add2cart.buy1click-open-button_init:hover {
  border-bottom: 1px dashed white;
}

.qty_wrap {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.qty_wrap input, .qty_wrap button {
  height: 30px;
  padding: 4px;
  text-align: center;
}

.qty_wrap button {
  width: 30px;
}

.star-empty {
  color: #CACACA !important;
}

.star-hover {
  color: #D13838 !important;
}

.star {
  color: #f0c808 !important;
}

.bonus {
  background: #ceb;
  padding: 2px 4px 1px;
}

.plugin {
  margin-bottom: 20px;
}

/* shipping and payment plugins ouput */
span.loading {
  position: relative;
  top: 4px;
  left: 10px;
}

/* "over-the-background-image": if you are using background slider product images or photos, you may want to customize font colors and sizes depending on your image content; by default we assume that background images are either dark or rich of color , and thuse headings and labels should be bright */
/* "over-the-background-image" */
.promos {
  margin: 0;
  padding: 0;
}

.promos li {
  margin: 0;
  padding: 0;
}

.promos li a {
  display: block;
  padding: 40px 20px;
  height: 80px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
  box-sizing: content-box;
  text-decoration: none;
}

.promos li a .background-color-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.1;
  background-color: #000;
}

.promos li a h5 {
  font-size: 1.3em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  margin-top: 0;
}

.promos li a p {
  font-size: 0.9em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

.promos li a:hover .background-color-layer {
  opacity: 0.5;
  transition: 0.3s;
}

.hotdeals-header {
  clear: left;
  text-align: center;
  color: #999;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 40px;
  padding-top: 30px;
}

.connect h4 {
  color: #aaa;
}

.connect ul {
  padding-left: 0;
}

.connect ul li {
  margin-bottom: 1em;
  list-style: none;
}

.connect .likebox {
  margin-bottom: 20px;
  min-width: 200px;
}

/* Customer account
------------------- */
.order-status {
  padding: 2px 5px;
  color: #fff;
}

h1 .order-status {
  font-size: 0.75em;
  margin-left: 10px;
}

/* Swipebox
----------- */
.fly_wrap {
  margin: 0;
}

.fly_wrap .product {
  display: block !important;
  width: 100% !important;
}

.fly .icon_zoom,
.fly .badge-wrapper {
  display: none;
}

.fly img {
  max-width: 100%;
}

h1 > span {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.btn_remove {
  border: none;
  background: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  z-index: 2;
  color: #A5A5A5;
}

.btn_remove:hover {
  color: #222222;
}

.home_categories .categories_grid {
  margin-top: 0;
}

/*

 * Author - Harshen Amarnath Pandey
 * Version - 1.0.8
 * Release - 18th April 2015
 * Copyright (c) 2014 - 2018 Harshen Pandey
*/
/* jquery.countdownTimer.css*/
.style {
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  border-style: solid;
}

.colorDefinition {
  background: #000000;
  color: #FFFFFF;
  border-color: #F0068E;
}

.size_xl {
  font-size: 50px;
  border-width: 8px;
  border-radius: 6px;
}

.size_lg {
  font-size: 40px;
  border-width: 7px;
  border-radius: 5px;
}

.size_md {
  font-size: 30px;
  border-width: 5px;
  border-radius: 4px;
}

.size_sm {
  font-size: 20px;
  border-width: 3px;
  border-radius: 3px;
}

.size_xs {
  font-size: 15px;
  border-width: 2px;
  border-radius: 2px;
}

/* HOME SLIDER */
.homeslider {
  clear: both;
  overflow: hidden;
  margin-top: 17px;
  margin-bottom: 37px;
}

.homeslider .item {
  height: 0;
}

.slick-initialized .homeslider .item {
  height: auto;
}

.homeslider .slick-dots {
  position: absolute;
  bottom: 3%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  -ms-transform-origin: bottom center;
      transform-origin: bottom center;
}

.homeslider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.homeslider .slick-dots li button {
  position: relative;
  background: transparent;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 2px;
  padding: 0;
  outline: 0;
  border: none;
  border-radius: 50%;
}

.homeslider .slick-dots li button:focus, .homeslider .slick-dots li button:hover {
  outline: none;
}

.homeslider .slick-dots li button:after {
  background: #666;
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  display: block;
  border-radius: 50%;
}

.homeslider .slick-dots li.slick-active button {
  background: #666;
}

.homeslider .slick-dots li.slick-active button:after {
  background: #fff;
}

.homeslider .slick-arrow {
  position: absolute;
  z-index: 1;
  background: none;
  margin: 0;
  padding: 0;
  height: 100%;
  top: 0;
  width: 64px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.homeslider .slick-arrow i {
  color: #fff;
  font-size: 110px;
  line-height: 1;
  margin-top: -55px;
  top: 50%;
  position: absolute;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.homeslider .slick-arrow:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}

.homeslider .slick-prev i {
  background-position: 0 0;
  right: 0;
}

.homeslider .slick-next i {
  background-position: 0 -58px;
  left: 0;
}

@media all and (max-width: 767px) {
  .homeslider {
    padding: 0;
    margin-top: 0 !important;
  }
  .homeslider.stacked {
    margin-top: -15px !important;
    margin-left: -15px;
    margin-right: -15px !important;
    width: auto !important;
  }
  .homeslider .slick-slider {
    opacity: 0;
    height: 0;
  }
  .homeslider .slick-slider.slick-initialized {
    opacity: 1;
    height: auto;
  }
  .homeslider .slick-arrow {
    display: none !important;
  }
}

.homeslider .slick-prev {
  left: 0;
}

.homeslider .slick-next {
  right: 0;
}

.homeslider:hover .slick-arrow {
  opacity: 1;
  filter: alpha(opacity=100);
}

.homeslider.stacked .item .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.homeslider.stacked .slick-arrow {
  width: 42px;
}

.homeslider.stacked .slick-arrow i {
  font-size: 80px;
  margin-top: -40px;
}

@media all and (max-width: 991px) {
  .homeslider.stacked .slick-arrow {
    display: none !important;
  }
}

@media all and (max-width: 1199px) {
  .homeslider:not(.stacked) .slick-arrow {
    width: 42px;
  }
  .homeslider:not(.stacked) .slick-arrow i {
    font-size: 80px;
    margin-top: -40px;
  }
}

.homeslider .countdown {
  margin-top: 15px;
}

.homeslider .countdown .colorDefinition {
  border: none;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
}

.touch .homeslider .slick-arrow {
  display: none !important;
}

.hide_top_cat_menu .homeslider {
  margin-top: 0 !important;
}

/* HOME SLIDER PHOTOS*/
#homeslider_photos.stacked .slick-slider-wrap, #homeslider_photos.not_fw .slick-slider-wrap {
  position: relative;
  background: #fff;
  margin: 0 auto;
}

#homeslider_photos.stacked .slick-slider-wrap2, #homeslider_photos.not_fw .slick-slider-wrap2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  overflow: hidden;
}

#homeslider_photos.stacked.init .slick-slider-wrap2, #homeslider_photos.not_fw.init .slick-slider-wrap2 {
  height: 100%;
}

#homeslider_photos.fw .slick-slider-wrap {
  padding: 0 !important;
}

#homeslider_photos .item-in {
  position: absolute;
  display: block;
  width: 1200px;
  height: 100%;
  left: 50%;
  top: 50%;
  -ms-transform-origin: center center;
      transform-origin: center center;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

#homeslider_photos .item {
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-radius: 3px;
}

#homeslider_photos .item a {
  text-decoration: none;
}

#homeslider_photos .item .container-fluid,
#homeslider_photos .item .container-fluid > .row {
  display: block;
  height: 100%;
}

#homeslider_photos .slide_text {
  color: #222222;
  float: none;
  width: 60%;
  height: 100%;
  display: table;
}

#homeslider_photos .slide_text .in {
  padding: 15px 90px 30px;
  display: table-cell;
  vertical-align: middle;
}

#homeslider_photos .slide_text .title {
  font-size: 30px;
  line-height: 1.25;
  font-weight: bold;
  margin: 0 0 10px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

#homeslider_photos .slide_text .text {
  font-size: 15px;
  line-height: 21px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

#homeslider_photos .light .slide_text {
  color: #fff;
}

#homeslider_photos.stacked .item-in {
  width: 893px;
}

#homeslider_photos.stacked {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
}

#homeslider_photos.stacked .container-fluid {
  width: auto;
}

#homeslider_photos.stacked .slide_text .in {
  padding-left: 60px;
  padding-right: 60px;
}

#homeslider_photos.stacked .slide_text .title {
  font-size: 26px;
}

#homeslider_photos.stacked .slick-arrow {
  width: 42px;
}

#homeslider_photos.stacked .slick-arrow i {
  font-size: 80px;
  margin-top: -40px;
}

#homeslider_photos:not(.stacked) .item .container-fluid {
  width: 100%;
  padding: 0;
}

#homeslider_photos.fw {
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin-top: -21px;
}

#homeslider_photos.fw .item {
  border-radius: 0;
}

@media all and (max-width: 767px) {
  #homeslider_photos .item {
    border-radius: 0;
  }
}

/* HOME SLIDER PRODUCTS*/
#homeslider_products {
  position: relative;
}

#homeslider_products .container-fluid {
  position: relative;
}

#homeslider_products .item {
  margin: 0;
}

#homeslider_products .slick-initialized .item {
  height: auto;
}

#homeslider_products .product {
  display: table;
  height: 100%;
  width: 100%;
}

#homeslider_products .product > div {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 15px 40px;
}

#homeslider_products .product .image {
  padding-left: 90px;
  width: 29%;
}

#homeslider_products .product .image .img_middle {
  max-width: 290px;
}

#homeslider_products .product .image .img_middle:before {
  background: none;
}

#homeslider_products .product .image img {
  max-width: 100%;
  height: auto;
}

#homeslider_products .product .info {
  padding-right: 90px;
}

#homeslider_products .product .title {
  font-size: 26px;
  margin: 0 0 20px;
  font-weight: normal;
  line-height: 1.2;
  color: inherit;
}

#homeslider_products .product .title a {
  color: inherit;
  text-decoration: none;
}

#homeslider_products .product .title a:hover {
  text-decoration: none;
}

#homeslider_products .product .descr {
  font-size: 13px;
  line-height: 16px;
}

#homeslider_products .product .bottom {
  margin-top: 15px;
}

#homeslider_products .product .price {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

#homeslider_products .product .compare-at-pice {
  text-decoration: line-through;
}

#homeslider_products .product .btn-details {
  font-size: 13px;
  padding: 7px 17px;
}

#homeslider_products.stacked {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
}

#homeslider_products.stacked .item {
  padding-left: 0;
  padding-right: 0;
}

#homeslider_products.stacked .product .image {
  width: 36%;
}

@media all and (min-width: 768px) {
  #homeslider_products.stacked .product > div {
    padding-top: 20px;
  }
  #homeslider_products.stacked .product .image {
    padding-left: 60px;
  }
  #homeslider_products.stacked .product .info {
    padding-right: 60px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #homeslider_products.stacked .slick-arrow {
    display: none !important;
  }
  #homeslider_products.stacked {
    height: 240px;
  }
  #homeslider_products.stacked .product {
    height: 240px;
  }
  #homeslider_products.stacked .product .image {
    padding-left: 30px;
  }
  #homeslider_products.stacked .product .info {
    padding-right: 30px;
  }
  #homeslider_products.stacked .product .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #homeslider_products.stacked .product .bottom {
    margin: 0;
  }
  #homeslider_products.stacked .product .price {
    font-size: 20px;
  }
  #homeslider_products.stacked .product .btn-details {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  #homeslider_products:not(.stacked) .product > div {
    padding-top: 20px;
  }
  #homeslider_products:not(.stacked) .product .image {
    padding-left: 60px;
  }
  #homeslider_products:not(.stacked) .product .info {
    padding-right: 60px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #homeslider_products:not(.stacked),
  #homeslider_products:not(.stacked) .item {
    height: auto;
  }
}

@media all and (min-width: 1200px) {
  #homeslider_products.not_fw .container-fluid {
    padding: 0;
    width: 100%;
  }
  #homeslider_products.fw {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: -21px;
  }
  #homeslider_products.fw .slick-initialized .item {
    padding-top: 21px;
    border-radius: 0;
  }
}

@media all and (max-width: 1199px) {
  #homeslider_products .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

#homeslider_products .mobile-overlay-link {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
}

@media all and (max-width: 767px) {
  #homeslider_products .item {
    height: auto;
  }
  #homeslider_products .mobile-overlay-link {
    display: block;
  }
  #homeslider_products .product > div {
    padding-top: 20px;
  }
  #homeslider_products .product .image {
    padding-left: 15px;
  }
  #homeslider_products .product .info {
    padding-right: 15px;
  }
  #homeslider_products .product .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  #homeslider_products .product .bottom {
    margin-top: 10px;
  }
  #homeslider_products .product .price {
    font-size: 20px;
    margin-bottom: 0;
  }
  #homeslider_products .product .btn-details {
    display: none;
  }
}

@media all and (max-width: 599px) {
  #homeslider_products .product .title,
  #homeslider_products .product .price {
    font-size: 18px;
  }
  #homeslider_products .product .descr {
    display: none;
  }
}

@media all and (max-width: 399px) {
  #homeslider_products .product .image {
    width: 40%;
    padding-right: 8px;
  }
  #homeslider_products .product .info {
    padding-left: 8px;
  }
  #homeslider_products .product .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #homeslider_products .product .price {
    font-size: 16px;
  }
  .wrap_mW._show_1e._orinationRight_25._showLogo_3q.__jivoMobileButton{
    right: -3px !important;
    top: 62% !important;
    display: inline-table !important;
}
}

#product-list {
  margin-bottom: 40px;
  position: relative;
  min-height: 100px;
}

#product-list:after {
  position: absolute;
  display: block;
  content: " ";
  background: url("../img/loading32.gif") #fff no-repeat 50% 64px;
  background-size: 32px 32px;
  opacity: 0.9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 3;
}

#product-list.loading:after {
  display: block;
}

.btn_add2cart_wrap {
  position: relative;
  display: inline-block;
}

.btn_add2cart_wrap .adding2cart {
  position: absolute;
  top: 50%;
  margin: -8px 0 0;
  right: -20px;
  display: none;
}

.btn_add2cart i {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -48px -48px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: -3px 6px 0 -7px;
  vertical-align: middle;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .btn_add2cart i {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.badge-wrapper {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.badge-wrapper .badge {
  float: right;
  clear: both;
  display: table;
  white-space: normal;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  height: 32px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
}

.badge-wrapper .badge.small {
  font-size: 9px;
}

.badge-wrapper .badge span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 8px;
}

.badge-wrapper .badge.new, .badge-wrapper .badge.bestseller, .badge-wrapper .badge.low-price, .badge-wrapper .badge.discount {
  width: 46px;
  height: 45px;
  border-radius: 0;
}

.badge-wrapper .badge.new span, .badge-wrapper .badge.bestseller span, .badge-wrapper .badge.low-price span, .badge-wrapper .badge.discount span {
  padding: 0 2px;
}

.badge-wrapper .badge.new {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -48px 0px;
  width: 46px;
  height: 46px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .badge-wrapper .badge.new {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.badge-wrapper .badge.bestseller {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: 0px 0px;
  width: 46px;
  height: 46px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .badge-wrapper .badge.bestseller {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.badge-wrapper .badge.low-price {
  font-size: 9px;
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: 0px -48px;
  width: 46px;
  height: 46px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .badge-wrapper .badge.low-price {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.badge-wrapper .badge.discount {
  font-size: 14px;
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: 0px -48px;
  width: 46px;
  height: 46px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .badge-wrapper .badge.discount {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.badge-wrapper .badge.discount.discount-text {
  font-size: 9px;
}

.p_buttons a {
  color: #6c6c6c !important;
  font-size: 12px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p_buttons a i {
  opacity: 0.15;
  vertical-align: middle;
}

.p_buttons a i {
  display: inline-block;
}

.p_buttons a span {
  margin-left: 8px;
  border-bottom: 1px dotted;
}

.p_buttons a.active i {
  opacity: 0.45 !important;
}

.p_buttons a.to_compare i {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -66px -48px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .p_buttons a.to_compare i {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.p_buttons a.to_favorites i {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -48px -66px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .p_buttons a.to_favorites i {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.no-touch .p_buttons a:hover i {
  opacity: 0.30;
}

.no-touch .p_buttons a:hover span {
  border-bottom-color: transparent;
}

.rating {
  display: block;
}

.rating > * {
  float: left;
  margin: 0 3px 0 0;
}

.rating .fa.fa-star {
  color: #f0c808 !important;
  vertical-align: middle;
}

.rating .fa.fa-star.empty {
  color: #ddd !important;
}

.rating a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #7e7e7e !important;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 0 3px;
}

.product-list {
  padding-left: 0;
}

.product-list .btn_remove {
  position: absolute;
  top: 0;
  right: 0;
}

.product-list .price {
  color: #333333;
}

.product-list .price-new {
  color: #ef4814;
}

.product-list .btn {
  font-size: 13px;
  line-height: 1.4;
  padding: 5px 12px 6px;
}

.product-list .quick_view,
.product-list .quick_photo {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.15s ease-out, background 0.15s ease-out, color 0.15s ease-out;
}

.product-list .quick_view {
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 50%;
  margin-top: -18px;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  line-height: 32px;
  border: 2px solid #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
}

.product-list .quick_view .fa {
  color: #fff;
  font-size: 16px;
}

.product-list .quick_view:hover {
  background: rgba(0, 0, 0, 0.8);
}

.product-list .quick_photo {
  left: -7px;
  top: -7px;
  padding: 7px;
}

.product-list .quick_photo .fa {
  color: #c6c6c6;
  vertical-align: -10%;
}

.product-list .quick_photo:hover .fa {
  color: #555555;
}

.product-list .stock {
  font-size: 12px;
}

.product-list .stock.yes {
  color: #049004;
}

.product-list .stock.preorder {
  color: #a80;
}

.product-list .stock.no {
  color: #E02521;
}

.fly * {
  color: inherit;
}

.fly .quick_photo,
.fly .quick_view,
.fly .offers {
  display: none;
}

.no-touch .products_view_grid .product .in:hover,
.no-touch .products_view_list .product .in:hover {
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-color: #e9e9e9;
}

.no-touch .products_view_grid .product .in:hover .quick_view,
.no-touch .products_view_grid .product .in:hover .quick_photo,
.no-touch .products_view_list .product .in:hover .quick_view,
.no-touch .products_view_list .product .in:hover .quick_photo {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}

.products_view_grid {
  margin: 0 -7px;
}

.products_view_grid .product {
  width: 100%;
  float: left;
  margin-bottom: 14px;
}

.products_view_grid .product .in {
  border: 1px solid #eeeeee;
  margin: 0 7px;
  padding: 15px;
  position: relative;
}

.products_view_grid .product .btn_remove {
  width: 22px;
  height: 22px;
  line-height: 22px;
}

.products_view_grid .product .image_wrap {
  margin: 0 0 12px;
  position: relative;
}

.products_view_grid .product .img_middle {
  margin: 0 auto;
}

.products_view_grid .product .product_name a {
  color: #5c5c5c;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  height: 54px;
  overflow: hidden;
  text-decoration: none;
  display: block;
}

.products_view_grid .product .product_name a:hover {
  text-decoration: underline;
}

.products_view_grid .product .offers {
  padding: 2px 0 0;
}

.products_view_grid .product .offers .prices {
  margin-bottom: 10px;
}

.products_view_grid .product .offers .price {
  font-size: 18px;
  font-weight: 600;
  float: left;
}

.products_view_grid .product .offers .price-new {
  margin-right: 6px;
}

.products_view_grid .product .offers .price-new,
.products_view_grid .product .offers .compare-at-price {
  line-height: 25px;
}

.products_view_grid .product .offers .rating {
  margin: -2px 0 14px;
}

.products_view_grid .product .offers .p_buttons {
  float: right;
  margin: 4px -5px 0 0;
}

.products_view_grid .product .offers .p_buttons a {
  text-decoration: none;
  color: #c9c9c9 !important;
  margin-left: 6px;
  padding: 2px 4px;
  float: left;
}

.products_view_grid .product .offers .p_buttons a.active, .products_view_grid .product .offers .p_buttons a:hover {
  color: #7B7B7B !important;
}

.products_view_grid .product .stock {
  margin-top: 8px;
  display: inline-block;
}

.products_view_grid .product .stock.btn-link {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  cursor: text;
  text-decoration: none !important;
}

@media all and (min-width: 400px) {
  .products_view_grid.larger_images .product .image_wrap {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .products_view_grid.larger_images .product .quick_photo {
    top: 15px;
    left: 15px;
  }
  .products_view_grid.larger_images .product .badge-wrapper {
    top: 15px;
    right: 15px;
  }
}

@media all and (max-width: 991px) {
  .products_view_grid .product .img_middle {
    margin: 0 auto;
    max-width: 250px;
  }
}

@media all and (min-width: 1200px) {
  .products_view_grid.per_row_3 .product {
    width: 33.33333%;
  }
  .products_view_grid.per_row_3 .product:nth-child(3n+1) {
    clear: both;
  }
}

@media all and (min-width: 1200px) {
  .products_view_grid.per_row_4 .product {
    width: 25%;
  }
  .products_view_grid.per_row_4 .product:nth-child(4n+1) {
    clear: both;
  }
}

@media all and (min-width: 1200px) {
  .products_view_grid.per_row_5 .product {
    width: 20%;
  }
  .products_view_grid.per_row_5 .product:nth-child(5n+1) {
    clear: both;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .products_view_grid .product {
    width: 33.33333%;
  }
  .products_view_grid .product:nth-child(3n+1) {
    clear: both;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .products_view_grid .product {
    width: 50%;
  }
  .products_view_grid .product:nth-child(2n+1) {
    clear: both;
  }
}

@media all and (min-width: 600px) and (max-width: 767px) {
  .products_view_grid .product {
    width: 33.33333%;
  }
  .products_view_grid .product:nth-child(3n+1) {
    clear: both;
  }
}

@media all and (max-width: 599px) {
  .products_view_grid .product {
    width: 100%;
  }
  .products_view_grid .product {
    clear: both;
  }
}

@media all and (max-width: 480px) {
  .products_view_grid .product .btn_add2cart_wrap,
  .products_view_grid .product .btn_add2cart {
    width: auto;
  }
  .products_view_grid .product .offers .p_buttons {
    margin: 8px 0 0;
  }
  .products_view_grid:not(.grid_compact) .product .stock {
    margin-top: -17px;
  }
}

@media all and (max-width: 399px) {
  .products_view_grid .btn_remove {
    right: auto;
    left: 0;
  }
  .products_view_grid .product {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
  }
  .products_slider .products_view_grid .product {
    border-bottom: 0;
  }
  .products_view_grid .product .in {
    padding: 0;
    border: none !important;
    box-shadow: none !important;
  }
  .products_view_grid .product .image_wrap,
  .products_view_grid .product .product_name,
  .products_view_grid .product .offers {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.products_slider {
  margin: 40px 0;
  overflow: hidden;
}

.products_slider .title {
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 65px 20px 0;
}

.products_slider .title .t_icon {
  display: inline-block;
  vertical-align: -6px;
  margin: 0 10px 0 0;
}

.products_slider .product-list {
  clear: both;
  margin: 0 -7px;
}

.products_slider .product-list.slick-slider {
  margin: 0 -3px 0 -7px;
}

.products_slider .product-list .product {
  margin: 0 0 15px;
  float: left;
  clear: none !important;
}

.products_slider .product-list .product .in {
  margin: 0 7px;
}

.products_view_list .product {
  margin: 0 0 20px;
}

.products_view_list .product .in {
  border: 1px solid #eeeeee;
  padding: 20px 30px 20px 20px;
  position: relative;
}

.products_view_list .product .badge-wrapper {
  top: 0;
  bottom: auto;
}

.products_view_list .product .item_img {
  float: left;
  margin: 0 20px 0 0;
  width: 22%;
}

.products_view_list .product .image_wrap {
  position: relative;
}

.products_view_list .product .col_c {
  overflow: hidden;
}

.products_view_list .product .image {
  width: 172px;
  height: 172px;
}

.products_view_list .product .product_name {
  margin: 0 0 13px;
  font-size: 18px;
  text-decoration: none;
}

.products_view_list .product .rating {
  margin: 0 0 13px;
}

.products_view_list .product .item_descr {
  font-size: 13px;
  line-height: 18px;
  color: #636266;
}

.products_view_list .product .btn_add2cart_wrap {
  margin-bottom: 16px;
}

.products_view_list .product .offers {
  float: right;
  margin-left: 20px;
}

.products_view_list .product .offers .prices {
  margin: 0 0 15px;
}

.products_view_list .product .offers .price {
  font-size: 16px;
  font-weight: 600;
}

.products_view_list .product .offers .compare-at-price {
  display: block;
}

.products_view_list .product .offers .p_buttons div {
  margin: 0 0 8px;
}

.products_view_list .product .stock {
  margin: -8px 0 12px;
}

@media all and (max-width: 767px) {
  .products_view_list .product .in {
    padding: 15px 20px;
  }
  .products_view_list .product .mobile_name {
    margin: 0 0 12px;
    font-size: 16px;
  }
  .products_view_list .product .item_img {
    width: 30%;
    margin-right: 15px;
  }
  .products_view_list .product .offers {
    float: left;
    margin-left: 0;
  }
}

@media all and (max-width: 480px) {
  .products_view_list .product .in {
    padding: 15px;
  }
  .products_view_list .product .item_img {
    width: 50%;
    min-width: 120px;
    min-height: 120px;
  }
  .products_view_list .product .offers .p_buttons div {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .products_view_list .product .offers .p_buttons a span {
    display: none;
  }
}

.products_view_compact .product {
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 20px;
  margin-bottom: 20px;
  position: relative;
}

.products_view_compact .product:first-child {
  padding-top: 0;
}

.products_view_compact .item-left {
  float: left;
  width: 80px;
  min-width: 80px;
  padding-right: 15px;
}

.products_view_compact .item-content {
  overflow: hidden;
}

.products_view_compact .badge-wrapper {
  top: -5px;
  right: -10px;
  bottom: auto;
  -ms-transform: scale(0.6);
      transform: scale(0.6);
  -ms-transform-origin: top right;
      transform-origin: top right;
}

.products_view_compact .badge-wrapper .badge {
  float: right;
}

.products_view_compact .product_name {
  margin: 0 0 10px;
  font-size: 14px;
  text-decoration: none;
}

.products_view_compact .price {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.products_view_compact .price,
.products_view_compact .compare-at-price {
  white-space: nowrap;
}

.products_view_compact .compare-at-price {
  display: block;
  margin-top: 5px;
  color: #555555;
  text-decoration: line-through;
}

.products_view_compact .p_buttons {
  margin-top: 7px;
}

.products_view_compact .p_buttons div {
  display: inline-block;
  margin: 0 10px 0 0;
}

.products_view_compact .p_buttons a span {
  display: none;
}

.products_view_compact .rating {
  font-size: 12px;
}

.products_view_compact .rating-mobile {
  display: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.products_view_compact .btn_remove {
  position: static;
  margin: 0 0 0 -5px;
  vertical-align: middle;
  display: inline-block;
}

@media all and (min-width: 992px) {
  .products_view_compact .item {
    width: 100%;
    display: table;
  }
  .products_view_compact .item-in {
    display: table-row;
    margin: 0;
  }
  .products_view_compact .item-in > * {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  .products_view_compact .item-in > *:first-child {
    padding-left: 0;
  }
  .products_view_compact .item-in > *:last-child {
    padding-right: 0;
  }
  .products_view_compact .item-content-in {
    display: table;
    width: 100%;
  }
  .products_view_compact .item-content-in > .row {
    display: table-row;
    margin: 0;
  }
  .products_view_compact .item-content-in > .row > * {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  .products_view_compact .item-content-in > .row > *:first-child {
    padding-left: 5px;
  }
  .products_view_compact .item-content-in > .row > *:last-child {
    padding-right: 0;
  }
  .products_view_compact .col-stock,
  .products_view_compact .col-prices {
    text-align: center;
    white-space: nowrap;
  }
  .products_view_compact .col-button {
    text-align: right;
  }
}

@media all and (max-width: 991px) {
  .products_view_compact .col-title,
  .products_view_compact .stock,
  .products_view_compact .col-prices {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 991px) {
  .products_view_compact .rating-mobile,
  .products_view_compact .stock {
    display: inline-block;
  }
  .products_view_compact .price,
  .products_view_compact .compare-at-price {
    display: inline;
    margin: 0 5px 0 0;
  }
  .products_view_compact .p_buttons {
    display: inline-block;
    margin-left: 10px;
  }
}

@media all and (max-width: 599px) {
  .products_view_compact .item-img {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 399px) {
  .products_view_compact .col-prices,
  .products_view_compact .col-buttons {
    width: 100%;
  }
}

.catalog_toolbar {
  background: #F7F7F7;
  border: 1px solid #eeeeee;
  padding: 7px 17px;
  color: #777777;
  font-size: 13px;
  margin-bottom: 20px;
}

.catalog_toolbar .item {
  float: left;
  margin-right: 20px;
}

.catalog_toolbar .item:last-child {
  margin-right: 0;
}

.catalog_toolbar .item .item_label {
  margin: 0 5px 0 0;
}

.catalog_toolbar .item .dropdown {
  display: inline-block;
}

.catalog_toolbar .item .dropdown .btn {
  background: #fff;
  font-size: 13px;
  color: #3a3a3a;
  height: 28px;
  padding: 0 28px 0px 10px;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog_toolbar .item .dropdown .btn > .fa {
  font-size: 18px;
  position: absolute;
  right: 9px;
  vertical-align: middle;
  color: #777777;
}

.catalog_toolbar .item .dropdown .btn:hover {
  background: #fff;
  border: 1px solid #c9c9c9 !important;
}

.catalog_toolbar .item .dropdown .dropdown-menu {
  padding: 0;
  font-size: 12px;
}

.catalog_toolbar .item .dropdown .dropdown-menu li {
  margin: 0;
}

.catalog_toolbar .item .dropdown .dropdown-menu li i {
  margin-left: 4px;
  color: inherit;
}

.catalog_toolbar .item .dropdown .dropdown-menu li i.sort-asc {
  vertical-align: -2px;
  border-top-color: #fff;
}

.catalog_toolbar .item .dropdown .dropdown-menu li i.sort-desc {
  border-bottom-color: #fff;
}

.catalog_toolbar .filter_button .btn {
  height: 28px;
  line-height: 27px;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  border: none;
  font-size: 13px;
}

.catalog_toolbar .filter_button .btn i {
  font-size: 17px;
  margin: 0 7px 0 0;
  vertical-align: -1px;
}

.catalog_toolbar .sort_wrap .dropdown .btn {
  min-width: 160px;
}

.catalog_toolbar .sort_wrap .dropdown .dropdown-menu {
  min-width: 100%;
}

.catalog_toolbar .show_per_page_wrap .dropdown .btn {
  width: 60px;
}

.catalog_toolbar .show_per_page_wrap .dropdown .dropdown-menu {
  width: 60px;
  min-width: 0;
}

.catalog_toolbar .select_view {
  float: right;
  padding: 2px 0;
  margin-right: 0;
}

.catalog_toolbar .select_view .btn {
  float: left;
  background: transparent;
  width: 24px;
  height: 24px;
  font-size: 14px;
  padding: 0;
  margin-left: 7px;
  border: 1px solid transparent;
  border-radius: 0;
  color: #555555;
}

.catalog_toolbar .select_view .btn i,
.catalog_toolbar .select_view .btn span {
  display: block;
  margin: auto;
}

.catalog_toolbar .select_view .btn.view_grid i,
.catalog_toolbar .select_view .btn.view_grid span {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -96px -36px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .catalog_toolbar .select_view .btn.view_grid i,
  .catalog_toolbar .select_view .btn.view_grid span {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.catalog_toolbar .select_view .btn.view_grid.active i,
.catalog_toolbar .select_view .btn.view_grid.active span{
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -96px -18px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .catalog_toolbar .select_view .btn.view_grid.active i,
  .catalog_toolbar .select_view .btn.view_grid.active span {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.catalog_toolbar .select_view .btn.view_list i,
.catalog_toolbar .select_view .btn.view_list span {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -66px -66px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .catalog_toolbar .select_view .btn.view_list i,
  .catalog_toolbar .select_view .btn.view_list span {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.catalog_toolbar .select_view .btn.view_list.active i,
.catalog_toolbar .select_view .btn.view_list.active span {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -96px -54px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .catalog_toolbar .select_view .btn.view_list.active i,
  .catalog_toolbar .select_view .btn.view_list.active span {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.catalog_toolbar .select_view .btn.view_compact i,
.catalog_toolbar .select_view .btn.view_compact span {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -96px 0px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .catalog_toolbar .select_view .btn.view_compact i,
  .catalog_toolbar .select_view .btn.view_compact span {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.catalog_toolbar .select_view .btn.view_compact.active i,
.catalog_toolbar .select_view .btn.view_compact.active span {
  background-image: url(../img/sprite.png?v=1.4.8.4);
  background-position: -96px -72px;
  width: 16px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .catalog_toolbar .select_view .btn.view_compact.active i,
  .catalog_toolbar .select_view .btn.view_compact.active span {
    background-image: url(../img/sprite@2x.png?v=1.4.8.4);
    background-size: 112px 94px;
  }
}

.catalog_toolbar .select_view .btn:hover {
  border-color: #bbb !important;
}

.catalog_toolbar .select_view .btn.active {
  background: #bbb;
  border-color: transparent !important;
}

@media all and (max-width: 767px) {
  .catalog_toolbar {
    padding: 12px 17px 0;
  }
  .catalog_toolbar .item {
    float: left;
    margin: 0 12px 12px 0;
  }
}

.theme_not_flat .catalog_toolbar {
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #eeeeee 100%);
  background-repeat: repeat-x;
}

/* Slider
----------------------------------*/
.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider * {
  transition: none;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.filters h5,
.filters .filter-param-title {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.filters h5 a,
.filters .filter-param-title a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.filters h5 a .fa-chevron-down,
.filters .filter-param-title a .fa-chevron-down {
  display: none;
}

.filters h5 a.collapsed .fa-chevron-down,
.filters .filter-param-title a.collapsed .fa-chevron-down {
  display: block;
}

.filters h5 a.collapsed .fa-chevron-up,
.filters .filter-param-title a.collapsed .fa-chevron-up {
  display: none;
}

.filters h5 .fa,
.filters .filter-param-title .fa {
  font-size: 14px;
  color: #cccccc;
  float: right;
  margin-top: 3px;
}

.filters .filter-param,
.filters .filter-buttons {
  border-top: 1px solid #e7e7e7;
  padding: 15px 20px;
}

.filters .filter-param label {
  display: block;
  font-weight: normal;
  color: #5d5d5d;
  font-size: 14px;
  margin: 5px 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters .filter-param label:first-child {
  margin-top: 0;
}

.filters .filter-param label input {
  vertical-align: -2px;
  margin-right: 5px;
}

.filters .filter-param .in {
  overflow: hidden;
}

.filters .filter-param-in {
  padding: 15px 1px 1px;
}

.filters .slider {
  font-size: 12px;
}

.filters .slider input {
  font-size: 14px;
  width: 64px;
  margin: 0 3px;
  text-align: center;
  padding: 2px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fff;
}

.filters .slider input:focus {
  border: 1px solid #c8c8c8;
}

.filters .ui-slider {
  margin: 22px 5px 10px;
  display: block;
}

.filters .ui-slider-horizontal {
  height: 10px;
  border: none;
}

.filters .ui-slider-horizontal .ui-slider-handle,
.filters .ui-slider-horizontal .ui-slider-handle.ui-state-focus {
  top: -7px;
  margin-left: -5px;
  height: 23px;
  width: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  z-index: 0;
  background-image: linear-gradient(to bottom, #fbfcfb 0%, #ededed 100%);
  background-repeat: repeat-x;
}

.filters .ui-slider-horizontal .ui-slider-handle.ui-state-hover {
  border: 1px solid #cacaca;
}

.filters .ui-slider-horizontal.ui-widget-content {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #E0E0E0 0%, #EFEFEF 100%);
  background-repeat: repeat-x;
}

.filters .ui-slider-horizontal .ui-widget-header {
  background: #F0C808;
  background-image: linear-gradient(to bottom, #fce297 0%, #fec747 100%);
  background-repeat: repeat-x;
  border: 1px solid rgba(0, 0, 0, 0.005);
  height: 10px;
  position: relative;
  top: 0;
  z-index: 0;
}

.filters .ui-slider-horizontal .ui-widget-content .ui-state-default {
  border: 1px solid #ccc;
  background: #f7f7f7;
}

#filter_mobile {
  position: absolute;
  width: 250px;
  display: none;
  z-index: 2;
}

#filter_mobile.open {
  display: block;
}

#filter_mobile .filters {
  background: #fff;
  border: 1px solid #eee;
}

#filter_mobile .filters .filter-param:first-child {
  border-top: none;
}

.remodal_filter {
  padding: 30px 20px 20px;
}

.remodal_filter .remodal-close {
  top: 0;
  right: 0;
}

.remodal_filter .filters .filter-param {
  padding: 15px 0;
}

.remodal_filter .filters .filter-param:first-child {
  border-top: none;
  padding-top: 0;
}

.remodal_filter .filters .btn {
  margin: 5px 0;
}

.remodal_filter .filters .btn:first-child {
  margin-right: 10px;
}

.remodal_filter .filters .filter-buttons {
  padding: 15px 0 0;
  margin-right: -10px;
}

@media all and (min-width: 320px) {
  .remodal_filter {
    width: 280px;
    padding: 30px;
  }
}

/* Product page
--------------- */
.product_page h1 {
  margin-bottom: 30px;
}

@media all and (max-width: 767px) {
  .product_page h1 {
    margin-bottom: 0;
  }
}

.product_page .badge-wrapper {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}

.product_page .product-gallery-wrap {
  margin-bottom: 20px;
}

@media all and (min-width: 768px) {
  .product_page .product-gallery-wrap .video-container {
    position: relative;
    padding-top: 60%;
  }
  .product_page .product-gallery-wrap .video-container .embed-responsive-16by9 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .remodal .product_page .product-gallery-wrap .video-container,
  .w-sidebar .product_page .product-gallery-wrap .video-container {
    padding-top: 100%;
  }
  .remodal .product_page .product-gallery-wrap .video-container .embed-responsive-16by9,
  .w-sidebar .product_page .product-gallery-wrap .video-container .embed-responsive-16by9 {
    top: 21.875%;
  }
}

.product_page .product-core-image:before {
  padding-top: 60%;
}

.remodal .product_page .product-core-image:before,
.w-sidebar .product_page .product-core-image:before {
  padding-top: 100%;
}

.product_page .product-core-image .icon_zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  margin: -20px 0 0 -20px;
  text-align: center;
  width: 40px;
  height: 40px;
  opacity: 0;
  text-shadow: 0, 0, 1px, rgba(0, 0, 0, 0.8);
  transition: opacity 0.15s ease-out, background 0.15s ease-out, color 0.15s ease-out;
}

.product_page .product-core-image .icon_zoom .fa {
  color: #fff;
}

.product_page .product-core-image:hover .icon_zoom {
  opacity: 0.7;
}

@media all and (max-width: 767px) {
  .product_page .product-core-image {
    max-width: 320px;
    margin: 0 auto;
  }
  .product_page .product-core-image:before {
    padding-top: 100%;
  }
}

.product_page .switching-image {
  background: #fff url("../img/loading32.gif") no-repeat 50% 50%;
  background-size: 32px 32px;
  padding: 10px;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.product_page .more-images-wrap {
  position: relative;
}

@media all and (max-width: 767px) {
  .product_page .more-images-wrap {
    padding-right: 0;
  }
}

.product_page .more-images {
  text-align: center;
  max-width: 750px;
  display: block;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  transition: opacity 0.15s ease-out, background 0.15s ease-out, color 0.15s ease-out;
  opacity: 0;
  overflow: hidden;
  height: 0;
}

.product_page .more-images.slick-initialized {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.product_page .more-images .slick-track {
  margin: 0 auto;
}

.product_page .more-images .slick-arrow {
  color: #858585;
  outline: 0;
  text-indent: 0;
  z-index: 1;
  text-decoration: none;
  line-height: 1;
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
}

.product_page .more-images .slick-arrow .fa {
  color: inherit;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -12px;
  font-size: 24px;
  line-height: 100%;
}

.product_page .more-images .slick-arrow:hover {
  color: #393939;
}

.product_page .more-images .slick-arrow.slick-disabled {
  cursor: default;
  opacity: 0.3;
}

.product_page .more-images .slick-arrow.slick-disabled:hover {
  color: #858585;
}

.product_page .more-images .slick-prev {
  left: 0;
}

.product_page .more-images .slick-next {
  right: 0;
}

.product_page .more-images .image {
  padding: 0 2px;
  float: left;
}

.product_page .more-images .image a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
  padding: 2px;
}

.product_page .more-images .image:not(.selected) a:hover {
  border-color: #c1c1c1;
}

@media all and (max-width: 399px) {
  .product_page .more-images .image {
    width: 33.33333%;
  }
}

@media all and (min-width: 400px) {
  .product_page .more-images .image {
    width: 25%;
  }
}

@media all and (min-width: 500px) {
  .product_page .more-images .image {
    width: 20%;
  }
}

@media all and (min-width: 600px) {
  .product_page .more-images .image {
    width: 16.66667%;
  }
}

@media all and (min-width: 480px) {
  .product_page .more-images .image {
    width: 33.33333%;
  }
}

@media all and (min-width: 1200px) {
  .product_page .more-images .image {
    width: 25%;
  }
}

.product_page a.product-brand {
  float: right;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.product_page a.product-brand img {
  max-width: 120px;
}

@media all and (max-width: 300px) {
  .product_page a.product-brand {
    float: none;
    margin-left: 0;
  }
}

.product_page .cart-form select.form-control {
  display: inline-block;
  width: auto;
}

.product_page .articul,
.product_page .rating {
  margin: 0 0 10px;
}

.product_page .articul {
  display: none;
}

.product_page span.rating {
  white-space: nowrap;
  display: inline-block;
}

.product_page ul.skus {
  list-style: none;
  padding-left: 2px;
}

.product_page ul.skus li {
  margin-bottom: 10px;
}

.product_page ul.skus label {
  color: #555555;
  margin: 0;
}

.product_page ul.skus label.disabled {
  opacity: 0.4;
}

.product_page ul.skus label > * {
  margin-right: 5px;
}

.product_page ul.skus label input {
  vertical-align: -2px;
}

.product_page ul.skus .price {
  font-weight: 600;
  color: #333333;
}

.product_page .stocks {
  margin: 20px 0 18px;
  font-size: 13px;
  visibility: hidden;
}

.product_page .stocks .fa {
  color: inherit !important;
  margin-left: 3px;
}

.product_page .stocks .stock-high {
  color: #049004;
}

.product_page .stocks .stock-low,
.product_page .stocks .stock-preorder {
  color: #a80;
}

.product_page .stocks .stock-none,
.product_page .stocks .stock-critical {
  color: #E02521;
}

.product_page .sku-no-stock,
.product_page .unavailable-stock {
  display: none;
}

.product_page .options {
  margin: 20px 0;
}

.product_page .options .option {
  font-size: 13px;
  margin: 10px 0;
}

.product_page .options .option_name {
  font-size: 12px;
  margin-bottom: 1px;
}

.product_page .inline-select {
  margin-bottom: 10px;
}

.product_page .inline-select a {
  border-radius: 2px;
  margin: 0 10px 8px 0;
  display: inline-block;
  padding: 0 12px;
  border: 1px solid #c5c5c5;
  background-color: #fff;
  font-size: 13px;
  height: 30px;
  line-height: 28px;
  min-width: 32px;
  color: #555555;
  text-decoration: none;
  font-weight: 400;
  position: relative;
  text-align: center;
  transition: opacity 0.15s ease-out, background 0.15s ease-out, color 0.15s ease-out;
}

.product_page .inline-select a:after {
  /* ../img/feature-disabled.svg */
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgICAgIHZpZXdQb3J0PSIwIDAgMTAwIDEwMCIgdmVyc2lvbj0iMS4xIiAgICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPGxpbmUgeDE9IjAiIHkxPSIxMDAiICAgICAgICAgIHgyPSIxMDAiIHkyPSIwIiAgICAgICAgICBzdHJva2U9ImJsYWNrIiAgICAgICAgICBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=") no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: none;
}

.product_page .inline-select a:not(.disabled):not(.selected):hover {
  border-color: #8f8f8f;
}

.product_page .inline-select .selected {
  border-color: #8f8f8f;
  color: #333333 !important;
}

.product_page .inline-select .disabled {
  opacity: 0.5;
}

.product_page .inline-select .disabled:after {
  display: block;
}

.product_page .inline-select-color {
  margin-bottom: 0;
}

.product_page .inline-select-color a {
  width: 30px;
  height: 30px;
  background-image: none;
  margin-bottom: 26px;
}

.product_page .inline-select-color .color {
  position: absolute;
  display: block;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}

.product_page .inline-select-color .color_name {
  display: none;
  position: absolute;
  top: 32px;
  left: 50%;
  line-height: 100%;
  font-size: 9px;
  color: #4F4F4F;
  margin-left: -40px;
  width: 80px;
}

.product_page .inline-select-color .color_checkmark {
  display: none;
  position: absolute;
  top: 5px;
  left: 7px;
  color: #fff !important;
  font-size: 16px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.product_page .inline-select-color .selected .color_checkmark,
.product_page .inline-select-color .selected .color_name {
  display: block;
}

.product_page .inline-select-color .selected:after {
  display: none;
}

.product_page .purchase .title {
  margin-top: 27px;
  margin-bottom: 23px;
}

.product_page .pp_short_description {
  font-size: 13px;
  line-height: 21px;
  margin: 0 0 20px;
}

.product_page .pp_short_features table {
  display: block;
  font-size: 13px;
  line-height: 21px;
}

.product_page .pp_short_features table tr {
  display: block;
}

.product_page .pp_short_features table tr.divider {
  font-weight: bold;
  opacity: 0.8;
}

.product_page .pp_short_features table tr:not(.divider) .listfeatures-values {
  display: inline;
}

.product_page .pp_short_features table tr:not(.divider) td {
  display: inline;
}

.product_page .pp_short_features table tr:not(.divider) td:first-child {
  margin-right: 2px;
}

.product_page .pp_short_features table tr:not(.divider) td:first-child:after {
  content: ":";
}

.product_page .pp_short_features table tr:not(.divider) td + td {
  font-weight: 600;
}

.product_page .pp_short_features td br {
  display: none;
}

.product_page .pp_short_features td span {
  margin-right: 3px;
}

.product_page .pp_short_features td span:after {
  content: ",";
}

.product_page .pp_short_features td span:last-child:after {
  content: none;
}

.product_page .pp_short_features i.color {
  vertical-align: -1px;
}

.product_page .pp_short_features_table:empty ~ .link_to_features_wrap {
  display: none;
}

.product_page .link_to_features_wrap {
  margin-bottom: 20px;
}

.product_page .link_to_features {
  display: none;
  font-size: 13px;
  border-bottom: 1px dotted;
  text-decoration: none;
}

.product_page .services {
  margin-bottom: 20px;
  font-size: 13px;
}

.product_page .services label {
  margin: 0 5px 0 0;
  cursor: pointer;
}

.product_page .services label.disabled {
  cursor: default;
}

.product_page .services input {
  vertical-align: -2px;
}

.product_page .services div {
  margin: 6px 0;
}

.product_page .add2cart {
  margin-top: 18px;
}

.product_page .add2cart .btn_add2cart {
  font-size: 14px;
  padding: 7px 16px;
}

.product_page .add2cart .qty_wrap,
.product_page .add2cart .btn_add2cart,
.product_page .add2cart .storequickorder_product_button,
.product_page .add2cart .quickorder-custom-button {
  margin-top: 10px;
  margin-right: 10px;
}

.product_page .add2cart .compare-at-price {
  font-size: 16px;
}

.product_page .add2cart .price {
  font-size: 24px;
  font-weight: 600;
  vertical-align: -2px;
  margin-right: 10px;
}

.product_page .add2cart .price-new {
  color: #ef4814 !important;
}

.product_page .add2cart .qty_wrap {
  margin-right: 10px;
}

.product_page .add2cart .icon24.loading.adding2cart {
  position: relative;
  top: 7px;
}

.product_page .added2cart {
  display: block;
  padding-top: 5px;
  font-style: italic;
  display: none !important;
}

.product_page .p_buttons {
  margin: 20px 0;
}

.product_page .p_buttons a {
  display: inline-block;
  margin-right: 15px;
}

.product_page .pp-h-block,
.product_page .pp-h-block_aux {
  margin: 10px 0;
}

.product_page .home_services {
  padding: 0;
  margin: 20px 0 40px;
}

@media (max-width: 991px) {
  .product_page .home_services {
    margin: 0;
  }
}

.product_page .tab-pane table.features {
  border-spacing: 0;
  border-collapse: collapse;
}

.product_page .tab-pane table.features tbody > tr:first-child > td {
  border-top: none;
  padding-top: 5px;
}

.product_page .tab-pane table.features td {
  padding: 5px 0;
}

.product_page .tab-pane table.features td.name {
  min-width: 145px;
  color: #777;
  vertical-align: top;
}

.product_page .tab-pane table.features td.name .featurestips_wrapper {
  margin-top: 1px;
}

.product_page .tab-pane table.features tr.divider:hover {
  background: none;
}

.product_page .tab-pane table.features tr.divider td {
  padding-top: 15px;
  font-weight: 600;
}

.product_page .tab-pane table.features tr.group-title:hover {
  background: none;
}

.product_page .tab-pane table.features tr.group-title td {
  padding-top: 20px;
  color: #333;
  font-weight: 700;
}

.pp_tabpanel {
  margin-top: 30px;
}

@media all and (max-width: 767px) {
  .pp_tabpanel {
    margin-top: 20px;
  }
}

.pp_tabpanel .nav-tabs {
  border: none;
}

.pp_tabpanel .nav-tabs li {
  margin-right: 3px;
}

.pp_tabpanel .nav-tabs li a {
  margin: 0;
  border: 1px solid #DEDEDE;
  background: #f1f0f1;
  color: #696969;
  border-radius: 4px 4px 0 0;
}

.pp_tabpanel .nav-tabs li a .fa {
  color: #afafaf !important;
  margin-right: 5px;
}

.pp_tabpanel .nav-tabs li a:hover {
  color: #000;
}

.pp_tabpanel .nav-tabs li.active a {
  color: #000;
  background: #fff;
  border-bottom: 1px solid transparent;
}

.pp_tabpanel .tab-print-title {
  display: none;
}

.pp_tabpanel .tab-content {
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}

.pp_tabpanel .tab-content .tab-pane {
  margin-top: 20px;
}

.pp_tabpanel .tab-content .description img {
  max-width: 100%;
  height: auto;
}

.pp_tabpanel .tab-content .video-container {
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 750px;
}

.pp_tabpanel .tab-content .video-container iframe {
  max-width: 100%;
}

@media all and (max-width: 599px) {
  .pp_tabpanel .nav-tabs li {
    margin: 0 3px 3px 0;
  }
  .pp_tabpanel .nav-tabs li a {
    border-radius: 4px !important;
  }
  .pp_tabpanel .nav-tabs li.active a {
    border-color: #DEDEDE;
  }
  .pp_tabpanel .tab-content {
    border-top: none;
  }
}

@media all and (min-width: 768px) {
  .pp_tabpanel .tab-content {
    border-radius: 0 0 4px 4px;
  }
  .pp_tabpanel .tab-content .tab-pane {
    margin: 30px 0;
  }
}

/* Product reviews
------------------ */
table.rating-distribution td {
  padding: 2px 15px 2px 0;
  border: none;
}

table.rating-distribution td .bar {
  background: #eee;
  width: 200px;
  height: 13px;
}

table.rating-distribution td .bar .filling {
  background: #f7c854;
  height: 13px;
}

.write-review {
  margin: 30px 0 30px;
}

.review .summary {
  font-size: 0.9em;
  color: #777;
}

.review .summary span {
  margin-right: 3px;
}

.review .review-title {
  color: #555;
  font-size: 1.1em;
  margin: 0 0 6px;
}

.review .review-title span:empty {
  display: none;
}

.review .summary a.username {
  color: #777;
}

.review .summary a {
  display: inline;
  padding: 0;
}

.review .summary .date {
  color: #aaa;
}

.review .review_rate {
  font-size: 12px;
  margin-right: 1px;
}

.category-name ~ img {
  display: none;
}

.category_description {
  margin: 40px 0;
}

.category_description iframe {
  max-width: 100%;
}

.category_description img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.categories_grid {
  margin: 30px -7px 0;
}

.categories_grid .item {
  float: left;
  width: 100%;
  padding: 0 7px 14px;
  text-align: center;
}

.categories_grid .item .in {
  display: block;
  color: #555555;
  text-decoration: none;
  border: 1px solid #efefef;
  padding: 20px;
}

.categories_grid .item .image {
  margin-bottom: 10px;
}

@media all and (max-width: 991px) {
  .categories_grid .item .image {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
  }
}

.categories_grid .item:hover .in {
  text-decoration: underline;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-color: #e9e9e9;
}

.categories_grid .item .cat_name {
  min-height: 32px;
  line-height: 16px;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

@media all and (min-width: 992px) {
  .categories_grid .item {
    width: 25%;
  }
  .categories_grid .item:nth-child(4n+1) {
    clear: both;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .categories_grid .item .in {
    padding: 7px;
  }
  .categories_grid .item .cat_name {
    font-size: 13px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .categories_grid .item {
    width: 33.33333%;
  }
  .categories_grid .item:nth-child(3n+1) {
    clear: both;
  }
  .categories_grid .item .in {
    padding: 0;
    border: none;
  }
  .categories_grid .item:hover .in {
    box-shadow: none;
  }
  .categories_grid .item .cat_name {
    font-size: 13px;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .categories_grid .item {
    width: 33.33333%;
  }
  .categories_grid .item:nth-child(3n+1) {
    clear: both;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .categories_grid .item {
    width: 50%;
  }
  .categories_grid .item:nth-child(2n+1) {
    clear: both;
  }
}

@media all and (max-width: 599px) {
  .categories_grid .item .in {
    padding: 0;
    border: none;
  }
  .categories_grid .item:hover .in {
    box-shadow: none;
    border-color: none;
  }
}

@media all and (max-width: 319px) {
  .categories_grid .item {
    width: 100%;
  }
  .categories_grid .item:nth-child(1n+1) {
    clear: both;
  }
}

.categories_slider .title {
  margin-right: 65px;
}

.home_categories .categories_grid {
  margin-top: 20px;
}

.categories_slider .categories_grid .item {
  clear: none !important;
}

.categories_compact {
  margin: 20px 0 0 -10px;
}

.categories_compact .item {
  display: inline-block;
  margin: 0 0 15px 10px;
}

.category-banner img {
  width: 100%;
  height: auto;
}

.lazyloading-load-more {
  background-color: #fff;
  border-color: #ccc;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  color: #222222 !important;
}

.lazyloading-load-more:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* Cart items
------------- */
.cart-table {
  margin-top: 20px;
  width: 100%;
}

.cart-table td {
  border: none;
}

.cart-table thead td {
  font-size: 13px;
  color: #777777;
  padding: 5px 10px;
}

.cart-table .item {
  padding-top: 15px;
  border: 1px solid #efefef;
}

.cart-table .item td {
  padding: 15px 10px;
  vertical-align: middle;
}

.cart-table .item .services,
.cart-table .item .services > div {
  margin: 10px 0;
}

.cart-table .item .services label {
  color: #777777;
}

.cart-table .item select.form-control {
  display: inline-block;
  width: auto;
}

.cart-table .item-thumb {
  text-align: center;
}

.cart-table .item-price,
.cart-table .item-total {
  font-size: 16px;
  color: #333333;
}

.cart-table .item-remove a {
  color: #777777;
  font-size: 13px;
}

.cart-table .item-remove a .fa {
  font-size: 15px;
  color: inherit;
  margin-right: 5px;
  vertical-align: -1px;
}

.cart_bottom {
  margin-top: 20px;
}

#apply-coupon-code {
  font-size: 13px;
}

#apply-coupon-code .coupon_discount {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 600;
}

.coupon_wrapper {
  display: inline-block;
  vertical-align: middle;
}

.coupon_wrapper .form-control,
.coupon_wrapper .btn {
  height: 30px;
}

.coupon_wrapper .btn {
  margin-left: 3px;
}

.affiliate .fa {
  font-size: 18px;
  vertical-align: -1px;
  margin-right: 3px;
  color: #8C8C8C;
}

.affiliate_bonus .btn {
  margin-top: 5px;
}

.affiliate_bonus .btn-default {
  margin: 0 0 0 8px;
}

.cart_total_checkout th,
.cart_total_checkout td {
  padding: 0 0 10px;
  font-weight: normal;
  border: none;
}

.cart_total_checkout th {
  color: #555555;
  font-size: 16px;
  padding-right: 10px;
  text-align: right;
}

.cart_total_checkout td {
  color: #222222;
  font-size: 20px;
}

.cart_total_checkout .cart-checkout {
  padding-top: 10px;
  padding-bottom: 0;
}

.cart_total_checkout .cart-checkout .btn {
  width: 100%;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .cart-table,
  .cart-table tbody,
  .cart-table tr,
  .cart-table td {
    display: block;
  }
  .cart-table .item {
    padding: 18px 10px 18px 90px;
    position: relative;
    margin-bottom: -1px;
  }
  .cart-table .item td {
    padding: 0;
  }
  .cart-table .item .services,
  .cart-table .item .item-price {
    margin: 5px 0;
  }
  .cart-table .item-thumb {
    position: absolute;
    left: 10px;
    top: 18px;
    width: 70px;
  }
  .cart-table .item-thumb a {
    width: 70px;
    height: 70px;
  }
  .cart-table .item-qty,
  .cart-table .item-remove {
    display: inline-block;
    margin-right: 5px;
  }
  .coupon_wrapper {
    display: block;
    margin-top: 5px;
    position: relative;
    padding-right: 35px;
  }
  .coupon_wrapper .btn {
    padding: 0;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media all and (min-width: 768px) {
  .cart-table .item-center {
    width: 38%;
  }
}

/* Checkout
----------- */
#checkout_header .h_logo img {
  max-width: 200px;
  max-height: 150px;
}

@media all and (max-width: 767px) {
  #checkout_header .col-xs-12 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media all and (min-width: 768px) {
  #checkout_header {
    margin: 0 -15px;
  }
  #checkout_header .row {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
  }
  #checkout_header .col-sm-6 {
    float: none;
    width: 50%;
    vertical-align: middle;
    display: table-cell;
  }
  #checkout_header .h_contacts {
    text-align: right;
  }
}

.checkout-title {
  margin: 57px 0 40px;
}

@media all and (max-width: 767px) {
  .checkout-title {
    margin: 20px 0;
  }
}

.checkout-title .back2cart {
  font-size: 100%;
  color: #777777;
  text-decoration: underline;
  margin-top: 4px;
}

.checkout-title .back2cart:hover {
  color: #555555;
}

.checkout-header {
  margin: 0;
  color: #999;
  background: #fff;
  padding: 20px;
}

.checkout-header h3 {
  margin-bottom: 0;
}

.checkout-header h3 a {
  text-decoration: none;
  color: #777;
  font-weight: normal;
}

.checkout-header h3 a:hover {
  color: #a00 !important;
}

.checkout-header strong {
  color: #666;
}

.checkout {
  margin: 0;
}

.checkout .step-shipping select.form-control {
  width: auto;
}

.checkout ul.checkout-options {
  padding-left: 25px;
}

.checkout ul.checkout-options li {
  list-style: none;
  position: relative;
  margin-bottom: 50px;
  clear: both;
}

.checkout ul.checkout-options li h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.checkout ul.checkout-options li h3 label {
  margin-right: 10px;
}

.checkout ul.checkout-options li .rate {
  float: right;
  text-align: right;
  margin-left: 10px;
  margin-right: 20px;
}

@media all and (max-width: 767px) {
  .checkout ul.checkout-options li .rate {
    float: none;
    text-align: left;
    margin-left: 0;
  }
}

.checkout ul.checkout-options li p {
  width: 70%;
  font-size: 0.85em;
}

.checkout ul.checkout-options li input[type="radio"] {
  position: absolute;
  top: 4px;
  left: -25px;
}

.checkout ul.checkout-options li label input[type="radio"] {
  top: 7px;
}

.checkout ul.checkout-options li img.method-logo {
  position: relative;
  float: left;
  margin-right: 10px;
  top: -6px;
  left: 0;
  /* adjusted for default 60x32-px logos */
}

.checkout ul.checkout-options li .wa-form {
  margin-top: 0;
  margin-bottom: 30px;
}

.checkout ul.checkout-options li .wa-form label input[type="radio"] {
  position: static;
}

.checkout .checkout-result {
  margin-bottom: 20px;
  background: #fff;
  text-align: center;
}

.checkout .checkout-result-icon {
  margin: 0;
}

.checkout .checkout-result-icon i {
  font-size: 160px;
  line-height: 138px;
}

@media all and (max-width: 767px) {
  .checkout .checkout-result-icon i {
    font-size: 100px;
    line-height: 86px;
  }
}

.checkout .checkout-result.success .checkout-result-icon i {
  color: #288418;
}

.checkout .checkout-result .h1 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: bold;
}

@media all and (max-width: 767px) {
  .checkout .checkout-result .h1 {
    font-size: 30px;
  }
}

.checkout .checkout-result.error .checkout-result-icon i {
  color: #bf2323;
}

.checkout .checkout-result .wa-form {
  margin: 10px auto 20px;
  width: 400px;
  float: none;
  text-align: left;
}

.checkout h2 {
  padding: 10px 20px 11px;
  border: 1px solid #ddd;
  font-weight: normal;
  margin: 0 0 12px;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 3px;
}

.checkout h2 a {
  text-decoration: none;
  color: #222222;
}

.checkout h2.upcoming a {
  cursor: default;
}

.checkout h2 a.hint {
  color: #aaa;
  color: #777777;
  text-decoration: none;
  margin-top: 1px;
}

.checkout h2 a.hint:hover {
  color: #555555;
  text-decoration: underline;
}

.checkout h2 a.hint strong {
  text-decoration: underline;
}

.checkout .wa-auth-adapters ul {
  margin: 20px 0;
}

.checkout .checkout-step-content {
  padding: 13px 0 7px;
  margin-bottom: 42px;
}

.checkout .checkout-step-content.auth {
  margin-bottom: 0;
}

.checkout .checkout-step-content.auth blockquote {
  font-size: 14px;
}

.checkout .checkout-step-content.auth blockquote img {
  margin-right: 20px;
  float: left;
  border-radius: 50%;
}

.checkout .checkout-step-content.auth blockquote p {
  margin-bottom: 0;
  margin-left: 70px;
}

.checkout .checkout-step-content.auth blockquote p span {
  color: #000;
}

.checkout .checkout-step-content.auth > ul {
  margin: 0 0 20px;
}

.checkout .checkout-step-content.auth label {
  font-size: 12px;
}

.checkout .checkout-step-content.auth input {
  vertical-align: -2px;
}

.checkout ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.checkout ul li {
  margin-bottom: 5px;
}

.checkout ul li input[type="radio"] {
  margin-right: 3px;
}

.checkout #login-form h1 {
  display: none;
}

.checkout input.large {
  font-size: 1.4em;
}

.checkout .comment {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.checkout .errormsg.inline {
  display: inline;
  margin-left: 10px;
}

.checkout table.table {
  width: 100%;
}

.checkout span.loading {
  position: relative;
  top: 9px;
  left: 10px;
}

.checkout .wa-form .wa-field .wa-name {
  padding-top: 0.3em;
}

.checkout .wa-form .wa-field.wa-field-birthday .wa-value select {
  margin-right: 5px;
}

.checkout .wa-form .wa-field.wa-field-address .wa-field-address-zip input {
  min-width: 100px;
}

@media all and (max-width: 480px) {
  .checkout-title h1 {
    margin-top: 5px;
  }
  .checkout-title .back2cart {
    float: none !important;
  }
  .checkout .wa-form .wa-field .wa-name {
    float: none;
  }
  .checkout .wa-form .wa-field .wa-value {
    margin-left: 0;
  }
}

.compare-diff-all {
  margin: 0 0 10px;
}

.compare_page_wrap {
  width: 100%;
  overflow-x: auto;
}

table.compare {
  width: 100%;
  font-size: 13px;
}

table.compare thead th, table.compare thead td {
  border-top: none;
  vertical-align: top;
}

table.compare td {
  text-align: left;
  padding: 10px 6px;
  border-left: none;
  border-right: none;
}

table.compare td a {
  text-decoration: none;
}

table.compare td a.compare-remove {
  margin: 0 0 5px;
  font-size: 24px;
}

table.compare td .image_wrap {
  display: block;
  margin-bottom: 10px;
  max-width: 200px;
}

table.compare td .link:hover {
  text-decoration: underline;
}

table.compare td .compare_item_buy {
  margin-top: 10px;
}

table.compare tbody th, table.compare tbody td {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  min-width: 130px;
  padding: 5px;
}

table.compare tbody th {
  text-align: left;
  padding-left: 0;
  padding-right: 10px;
  font-weight: 600;
}

table.compare tbody tr.divider th {
  padding-top: 20px;
  font-weight: 700;
}

@media all and (max-width: 599px) {
  .order_table {
    font-size: 13px;
  }
}

.search-result {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #eee;
  z-index: 103;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.search-result.is-visible {
  display: block;
}

.search-result .item {
  clear: both;
  border-top: 1px solid #eee;
}

.search-result .item:first-child {
  border-top: none;
}

.search-result .item a {
  display: block;
  padding: 10px 0 10px 10px;
  color: #555555;
}

.search-result .item a:hover {
  text-decoration: none;
}

.search-result .item a:hover .item-name {
  text-decoration: underline;
}

.search-result .item-img {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.search-result .item-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.search-result .item .item-content {
  overflow: hidden;
  padding: 0 10px;
}

.search-result .item-name {
  margin-bottom: 5px;
  font-size: 13px;
}

.search-result .item .price {
  font-weight: 600;
  color: #333;
}

.search-result .search-show-all {
  border-top: 1px solid #eee;
  display: block;
  text-align: center;
  font-size: 13px;
  padding: 10px;
}

.search-result .search-show-all:hover {
  background: #eee;
}

/* Dialogs
---------- */
.dialog {
  display: none;
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 99;
}

.dialog-window .cart {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  overflow-x: hidden;
  box-shadow: 0 3px 15px #ddd;
  margin: 0 auto;
  text-align: left;
  width: 400px;
  bottom: 15%;
  background: #fff;
  padding: 25px;
}

.dialog-window .cart .added2cart {
  font-style: italic;
}

.dialog-window .cart .purchase {
  display: block;
}

.dialog-window .dialog-close {
  float: right;
  color: #bbb;
  text-decoration: none;
  font-size: 200%;
  margin-top: -3px;
}

/*
Плагин "SEO-регионы"
https://www.webasyst.ru/store/plugin/shop/regions/
*/
.shop-regions-window_show {
  z-index: 105 !important;
}

/*
Плагин "Купить в один клик (Easy IT)"
https://www.webasyst.ru/store/plugin/shop/storequickorder/
*/
body #storequickorder .dialog-background {
  z-index: 10001;
}

body #storequickorder .dialog-window {
  z-index: 10002;
}

#storequickorder .submit-button {
  padding: 7px 18px;
}

#storequickorder .close-button {
  opacity: 0.4;
}

#storequickorder .close-button:hover {
  opacity: 0.8;
}

@media all and (max-width: 480px) {
  #storequickorder .dialog-window {
    margin-left: 0 !important;
    width: 100%;
  }
}

.storequickorder-button,
#storequickorder .submit-button {
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  background: #70716f;
}

.storequickorder-button:hover, .storequickorder-button:focus,
#storequickorder .submit-button:hover,
#storequickorder .submit-button:focus {
  background: #636462;
}

.storequickorder_product_button {
  font-size: 14px;
  padding: 7px 16px;
  margin-right: 10px;
}

.storequickorder_cart_button {
  padding: 7px 18px;
  font-size: 16px;
  width: 100%;
}

/*
Плагин "Купить в один клик (Игорь Гапонов)"
https://www.webasyst.ru/store/plugin/shop/quickorder/
*/
body .quickorder-overlay {
  z-index: 10000;
}

body .quickorder-button,
body .quickorder-button-cart {
  height: 33px;
  line-height: 32px;
  margin: 0;
  padding: 0 15px;
  border-radius: 4px;
  color: #333333;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  box-shadow: none !important;
}

body .quickorder-button:hover, body .quickorder-button:focus,
body .quickorder-button-cart:hover,
body .quickorder-button-cart:focus {
  color: #333333;
}

body .quickorder-button i,
body .quickorder-button-cart i {
  font-style: normal;
  height: auto;
  background: none;
  padding: 0;
  margin: 0;
}

body .product_page .add2cart .quickorder-custom-button {
  display: inline-block;
  vertical-align: middle;
}

body .quickorder-submit .quickorder-button {
  padding: 0 15px;
}

body .quickorder-button-cart {
  height: 36px;
  line-height: 36px;
  width: 100%;
  font-size: 16px;
}

body .quickorder-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-shadow: none;
}

body .quickorder-header span i {
  font-style: normal;
}

body .quickorder-header i.close {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  display: inline-block;
  float: right;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  text-align: center;
  overflow: hidden;
  text-indent: -100px;
  position: relative;
  text-shadow: none;
  opacity: 0.4;
}

body .quickorder-header i.close:hover {
  opacity: 0.8;
}

body .quickorder-header i.close:before {
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  content: "\00d7";
  text-align: center;
}

/*
Плагин "Бренды в сайдбаре"
*/
.brands-plugin,
.productbrands-plugin {
  border-top: 1px solid #EDEDED;
  margin: -5px 0 0;
  padding: 15px 0 0;
}

.brands-plugin ul,
.productbrands-plugin ul {
  margin-bottom: 10px;
}

.brands-plugin ul li,
.productbrands-plugin ul li {
  padding: 9px 20px 0 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.brands-plugin ul a,
.productbrands-plugin ul a {
  color: #555555;
}

.brands-plugin ul img,
.productbrands-plugin ul img {
  max-width: 100%;
}

@media all and (max-width: 767px) {
  .brands-plugin ul li,
  .productbrands-plugin ul li {
    width: auto;
  }
}

/*
Плагин "Бренды с картинками и описаниями (wa-apps.ru)"
https://www.webasyst.ru/store/plugin/shop/productbrands/
*/
.brand img {
  margin-right: 15px;
}

@media all and (max-width: 767px) {
  .productbrands-plugin ul li {
    vertical-align: middle;
  }
  .productbrands-plugin ul img {
    max-width: 100px;
  }
}

/*
Плагин "Характеристики в списках товаров"
https://www.webasyst.ru/store/plugin/shop/listfeatures/
*/
.product-list table.listfeatures {
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.product-list table.listfeatures td {
  min-height: 0;
  min-width: 0;
  vertical-align: top;
  text-align: left;
  width: 50%;
  padding: 3px 0;
  border-top: 1px solid #f1f1f1;
}

.product-list table.listfeatures td.name {
  padding-right: 5px;
}

.product-list table.listfeatures td.value {
  font-weight: 600;
}

.product-list table.listfeatures tr:first-child td {
  border-top: none;
}

.product-list table.listfeatures tr.divider td {
  font-weight: bold;
  padding-top: 6px;
  opacity: 0.8;
}

.products_view_grid .product .rating + table.listfeatures {
  margin-top: -4px;
}

.products_view_list .product table.listfeatures {
  margin-top: 10px;
}

.products_view_list .product .rating + table.listfeatures {
  margin-top: -4px;
}

.smartsku_plugin-product .skus li .price, .smartsku_plugin-product .skus li span.price {
  margin-left: 7px;
}

/*
Плагин "Защита контента"
https://www.webasyst.ru/store/plugin/shop/copyright/
*/
.wa-captcha .disable-save-image {
  display: none !important;
}
