{if $error_code == '404'}

    <h1>Ошибка 404. Вы ищете страницу, которой не существует</h1>
    
    <a href="javascript:history.back();">Вернуться назад</a> | <a href=".">Вернуться на главную</a>

{else}

    {* supreme 1.4.8.4 *}
    <h1>
    	{if $error_code}{$error_code}. {/if}
    	{if $error_message}{$error_message}{else}[s`Error`]{/if}
    </h1>
    [s`The requested resource is not available.`]

{/if}