{* supreme 1.4.8.4 *}
<div id="page" role="main">
	{if !empty($set_password)}
		<div class="ajax-form">
			<h1>[s`Recover password for`] {$login}</h1>
			{$wa->setPasswordForm($error)}
		</div>
	{else}
		<h1>[s`Password recovery`]</h1>
		{if !empty($sent)}
			<div class="ajax-success">
				<p>[s`Password recovery instructions have been sent to your email address.`]</p>
				{*
				<br><br>
				<a href="{$wa->loginUrl()}">[s`Back to login page`]</a>
				*}
			</div>
		{else}
		<div class="ajax-form">
			{$wa->forgotPasswordForm($error)}
		</div>
		{/if}
	{/if}
</div>
