{* supreme 1.4.8.4 *}
{strip}
{*
	Page or category params

	subtype=one|all
	cols=number
	depth=number
	hide=1

	sticker=Text
	sticker_color=text | hex | rgb ...)
*}

{$url_type = waRequest::param('url_type')}

{$supreme_current_url = false}
{if !empty($action)}
	{if $action == 'product' && $url_type == '0' && !empty($product)}
		{* url_type = mixed *}
		{$supreme_current_url = "/category/`$product.categories[$product.category_id].full_url`/"}
	{elseif ($action == 'product' || $action == 'category') && $url_type == '1' && !empty($breadcrumbs)}
		{* url_type = flat *}
		{$supreme_current_url = ''}
		{foreach $breadcrumbs as $item}
			{if $item@iteration == 1}
				{$supreme_current_url = "`$item.url`"}
			{else}
				{$item_url = str_replace('/category/', 'category/', $item.url)}
				{$supreme_current_url = "`$supreme_current_url``$item_url`"}
			{/if}
		{/foreach}
		{if $action == 'category' && !empty($category)}
			{$supreme_current_url = "`$supreme_current_url`category/`$category.url`/"}
		{/if}
	{/if}
{/if}

{if empty($supreme_current_url)}
	{$supreme_current_url = $wa->currentUrl()}
{/if}

{* current page url for menu active links *}
{$wa->globals("supreme_current_url", $supreme_current_url)}

{function name=menu level=1 subtype='sub_all_levels' depth=0 ignore_depth=0 cols=3 ignore_cols=0 subview='dropdown' custom_items=false}

	{$wa_current_url = $wa->globals("supreme_current_url")}

	{if (isset($menutype) && $menutype == 'horizontal')}
		{$menutype = 'horizontal'}
	{else}
		{$menutype = 'vertical'}
	{/if}

	{if $level <= $depth || $depth == 0}
		{if $level==1}

			{$selected_node = null}
			{foreach $data as $p}
				{if ($wa_current_url|strstr:$p.url) || ($p.url == '/' && $wa_current_url == '/')}
					{$selected_node = $p}
				{/if}
			{/foreach}
			<ul class="menu menu_{$subview}">
				{foreach $data as $entry}

					{$hide = false}
					{if $menutype == 'horizontal' && ((isset($entry.params.hide_in_top_nav) && $entry.params.hide_in_top_nav) || (isset($entry.hide_in_top_nav) && $entry.hide_in_top_nav))}
						{$hide = true}
					{/if}
					{if $menutype == 'vertical' && ((isset($entry.params.hide_in_side_nav) && $entry.params.hide_in_side_nav) || (isset($entry.hide_in_side_nav) && $entry.hide_in_side_nav))}
						{$hide = true}
					{/if}
					{if (isset($entry.params.hide) && $entry.params.hide) || (isset($entry.hide) && $entry.hide)}
						{$hide = true}
					{/if}

					{if !$hide}
						{$active = ''}
						{if isset($entry.id) && isset($selected_node.id) && $entry.id == $selected_node.id}
							{$active = 'active'}
						{/if}

						{*hide Home on mobile*}
						{if isset($entry.id) && $entry.id == 'home'}
							{$active = "{$active} hidden-xs"}
						{/if}

						{* Category sticker *}
						{$c_sticker = NULL}
						{if isset($entry.params.sticker)}
							{if isset($entry.params.sticker_color)}
								{$sticker_style = "style='background: `$entry.params.sticker_color`'"}
							{else}
								{$sticker_style = ''}
							{/if}

							{if isset($entry.params.sticker_class)}
								{$sticker_class = $entry.params.sticker_class}
							{else}
								{$sticker_class = ''}
							{/if}

							{$c_sticker = "<i class='badge_spacer'></i><span class='badge `$sticker_class`' `$sticker_style`>`$entry.params.sticker`</span>"}
						{/if}

						{if isset($entry.childs) && count($entry.childs) && ($level < $depth || $depth == 0)}
							<li class="{$active} hassub">
								<div class="link">
									<span class="sub_toggle"><span class="fa fa-plus"></span><span class="fa fa-minus"></span></span>
									<a {if isset($entry.id)}data-icon-id="{$entry.id}"{/if} href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a>
								</div>

								{* override subtype *}
								{if (isset($entry.params.subtype) && $entry.params.subtype == 'all') || (isset($entry.subtype) && $entry.subtype == 'all')}
									{$subtype_next = 'sub_all_levels'}
								{elseif (isset($entry.params.subtype) && $entry.params.subtype == 'one') || (isset($entry.subtype) && $entry.subtype == 'one')}
									{$subtype_next = 'sub_one_level'}
								{else}
									{$subtype_next = $subtype}
								{/if}

								{* override depth *}

								{if $ignore_depth != 1}
									{if (isset($entry.params.depth) && $entry.params.depth >= 0)}
										{$depth_next = $entry.params.depth}
									{elseif (isset($entry.depth) && $entry.depth != 0)}
										{*$depth_next = $entry.depth*}
										{$depth_next = 0}
									{else}
										{$depth_next = $depth}
									{/if}
								{else}
									{$depth_next = $depth}
								{/if}

								{* override cols *}
								{if $cols == 0}
									{$cols_next = 1}
								{else}
									{$cols_next = $cols}
								{/if}

								{if $ignore_cols != 1}
									{if (isset($entry.params.cols) && $entry.params.cols != 0)}
										{$cols_next = $entry.params.cols}
									{elseif (isset($entry.cols) && $entry.cols != 0)}
										{$cols_next = $entry.cols}
									{/if}
								{/if}
								{menu data=$entry.childs level=$level+1 subtype=$subtype_next depth=$depth_next cols=$cols_next subview=$subview}
							</li>
						{else}
							<li class="{$active}"><div class="link"><a {if isset($entry.id)}data-icon-id="{$entry.id}"{/if} href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a></div></li>
						{/if}
					{/if}
				{/foreach}

				{if $custom_items}
					{$custom_items}
				{/if}

				{if $menutype == 'horizontal'}
					<li class="menu-more hassub hidden">
						<div class="link"><a href="#">...</a></div>
							<div class="submenu sub_dropdown sub_one_level">
							<ul class="level2"></ul>
						</div>
					</li>
				{/if}
			</ul>
		{elseif $level==2}
			<div class="submenu sub_{$subview} {if $subview == 'dropdown'}{$subtype}{/if}">
				{if $subtype == 'sub_one_level' || $subview == 'collapsible'}
					<ul class="level{$level}">
						{foreach $data as $entry}
							{if $wa_current_url|strstr:$entry.url}
								{$active = 'active'}
							{else}
								{$active = ''}
							{/if}

							{$hide = false}
							{if $menutype == 'horizontal' && ((isset($entry.params.hide_in_top_nav) && $entry.params.hide_in_top_nav) || (isset($entry.hide_in_top_nav) && $entry.hide_in_top_nav))}
								{$hide = true}
							{/if}
							{if $menutype == 'vertical' && ((isset($entry.params.hide_in_side_nav) && $entry.params.hide_in_side_nav) || (isset($entry.hide_in_side_nav) && $entry.hide_in_side_nav))}
								{$hide = true}
							{/if}
							{if (isset($entry.params.hide) && $entry.params.hide) || (isset($entry.hide) && $entry.hide)}
								{$hide = true}
							{/if}

							{if !$hide}

								{* Category sticker *}
								{$c_sticker = NULL}
								{if isset($entry.params.sticker)}
									{if isset($entry.params.sticker_color)}
										{$sticker_style = "style='background: `$entry.params.sticker_color`'"}
									{else}
										{$sticker_style = ''}
									{/if}

									{if isset($entry.params.sticker_class)}
										{$sticker_class = $entry.params.sticker_class}
									{else}
										{$sticker_class = ''}
									{/if}

									{$c_sticker = "<i class='badge_spacer'></i><span class='badge `$sticker_class`' `$sticker_style`>`$entry.params.sticker`</span>"}
								{/if}

								{if isset($entry.childs) && count($entry.childs) && ($level < $depth || $depth == 0)}
									<li class="{$active} hassub">
										<div class="link">
											<span class="sub_toggle"><span class="fa fa-plus"></span><span class="fa fa-minus"></span></span>
											<a {if isset($entry.id)}data-icon-id="{$entry.id}"{/if} href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a>
										</div>
										{menu data=$entry.childs level=$level+1 depth=$depth subview=$subview}
									</li>
								{else}
									<li class="{$active}"><div class="link"><a {if isset($entry.id)}data-icon-id="{$entry.id}"{/if} href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a></div></li>
								{/if}
							{/if}

						{/foreach}
					</ul>
				{else if $subtype == 'sub_all_levels'}
					{$colCount = $cols}
					{$cLength = count($data)}
					{if $cLength > $colCount}
						{$perColRaw = $cLength / $colCount}
						{$perCol = floor($perColRaw)}
						{$addToCols = ($perColRaw - $perCol) * $colCount}
					{else}
						{$perCol = 1}
						{$addToCols = 0}
					{/if}

					{$col = 0}
					{$i = 0}
					{$stop = 0}

					{foreach $data as $entry}
						{if $col < $addToCols}
							{$add=1}
						{else}
							{$add=0}
						{/if}

						{if $i == 0}
							<div class="col ">
								{$col = $col+1}
								{$stop = $i+$perCol+$add}
								<ul class="level{$level}">
						{elseif $i == $stop}
								</ul>
							</div>
							<div class="col ">
								{$col = $col+1}
								{$stop = $i+$perCol+$add}
								<ul class="level{$level}">
						{/if}

							{$i=$i+1}

							{if $wa_current_url|strstr:$entry.url}
								{$active = 'active'}
							{else}
								{$active = ''}
							{/if}

							{$hide = false}
							{if $menutype == 'horizontal' && ((isset($entry.params.hide_in_top_nav) && $entry.params.hide_in_top_nav) || (isset($entry.hide_in_top_nav) && $entry.hide_in_top_nav))}
								{$hide = true}
							{/if}
							{if $menutype == 'vertical' && ((isset($entry.params.hide_in_side_nav) && $entry.params.hide_in_side_nav) || (isset($entry.hide_in_side_nav) && $entry.hide_in_side_nav))}
								{$hide = true}
							{/if}
							{if (isset($entry.params.hide) && $entry.params.hide) || (isset($entry.hide) && $entry.hide)}
								{$hide = true}
							{/if}

							{if !$hide}
								{* Category sticker *}
								{$c_sticker = NULL}
								{if isset($entry.params.sticker)}
									{if isset($entry.params.sticker_color)}
										{$sticker_style = "style='background: `$entry.params.sticker_color`'"}
									{else}
										{$sticker_style = ''}
									{/if}

									{if isset($entry.params.sticker_class)}
										{$sticker_class = $entry.params.sticker_class}
									{else}
										{$sticker_class = ''}
									{/if}

									{$c_sticker = "<i class='badge_spacer'></i><span class='badge `$sticker_class`' `$sticker_style`>`$entry.params.sticker`</span>"}
								{/if}

								{if isset($entry.childs) && count($entry.childs) && ($level < $depth || $depth == 0)}
									<li class="{$active}">
										<div class="link">
											<span class="sub_toggle"><span class="fa fa-plus"></span><span class="fa fa-minus"></span></span>
											<a {if isset($entry.id)}data-icon-id="{$entry.id}"{/if} href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a>
										</div>
										{menu data=$entry.childs level=$level+1 depth=$depth}
									</li>
								{else}
									<li class="{$active}"><div class="link"><a {if isset($entry.id)}data-icon-id="{$entry.id}"{/if} href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a></div></li>
								{/if}
							{/if}

						{if $i == $cLength}
							</ul>
						</div>
						{/if}

					{/foreach}
				{/if}
			</div>
		{else}
			<div class="submenu sub_{$subview} {if $subview == 'dropdown'}{$subtype}{/if}">
				<ul class="level{$level}">
					{foreach $data as $entry}
						{if $wa_current_url|strstr:$entry.url}
							{$active = 'active'}
						{else}
							{$active = ''}
						{/if}

						{$hide = false}
						{if $menutype == 'horizontal' && ((isset($entry.params.hide_in_top_nav) && $entry.params.hide_in_top_nav) || (isset($entry.hide_in_top_nav) && $entry.hide_in_top_nav))}
							{$hide = true}
						{/if}
						{if $menutype == 'vertical' && ((isset($entry.params.hide_in_side_nav) && $entry.params.hide_in_side_nav) || (isset($entry.hide_in_side_nav) && $entry.hide_in_side_nav))}
							{$hide = true}
						{/if}
						{if (isset($entry.params.hide) && $entry.params.hide) || (isset($entry.hide) && $entry.hide)}
							{$hide = true}
						{/if}

						{if !$hide}
							{* Category sticker *}
							{$c_sticker = NULL}
							{if isset($entry.params.sticker)}
								{if isset($entry.params.sticker_color)}
									{$sticker_style = "style='background: `$entry.params.sticker_color`'"}
								{else}
									{$sticker_style = ''}
								{/if}

								{if isset($entry.params.sticker_class)}
									{$sticker_class = $entry.params.sticker_class}
								{else}
									{$sticker_class = ''}
								{/if}

								{$c_sticker = "<i class='badge_spacer'></i><span class='badge `$sticker_class`' `$sticker_style`>`$entry.params.sticker`</span>"}
							{/if}

							{if isset($entry.childs) && count($entry.childs) && ($level < $depth || $depth == 0)}
								<li class="{$active} hassub d{$depth}">
									<div class="link"><a href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a></div>
									{menu data=$entry.childs level=$level+1 depth=$depth subview=$subview}
								</li>
							{else}
								<li class="{$active}"><div class="link"><a href="{$entry.url|replace:' ':'%20'}">{$entry.name}{$c_sticker}</a></div></li>
							{/if}
						{/if}
					{/foreach}
				</ul>
			</div>
		{/if}
	{/if}
{/function}
{/strip}
