{* supreme 1.4.8.4 *}
<footer id="footer" {if !$wa->shop}style="margin-bottom:0;"{/if}>
	<div id="footer_in">
		<div class="container-fluid">
			{$footer_cols_settings = ['f_show_col_logo', 'f_show_col_apps', 'f_show_col_pages', 'f_show_col_profile', 'f_show_col_contacts']}

			{$footer_cols_count = 0}
			{foreach $footer_cols_settings as $id}
				{if !empty($theme_settings[$id])}
					{$footer_cols_count = $footer_cols_count + 1}
				{/if}
			{/foreach}

			<div class="footer1 row f-cols-{$footer_cols_count}">
				{if !empty($theme_settings.f_show_col_logo)}
					<div class="col col-xs-12 hidden-xs f-col-logo">
						<div class="row">
							<div id="f_logo" class="col-xs-6 col-md-12">
								<a href="{$wa_url}">
									{if $theme_settings.logo}
										<img src="{$wa_theme_url}{$theme_settings.logo}" alt="{$wa->accountName()}">
									{else}
										<img src="{$wa_theme_url}themes/{$theme_color}/logo.png" alt="{$wa->accountName()}">
									{/if}
								</a>
							</div>

						</div>
					</div>
				{/if}

				{if !empty($theme_settings.f_show_col_apps)}
					{if $wa->block('supreme.footer.menu1')}
						{$wa->block('supreme.footer.menu1')}
					{else}
						<div class="col col-xs-6 f-col-apps">
							<div class="title">[`Applications`]</div>
							<ul class="menu">
								{foreach $wa->apps() as $a}
								<li><a href="{$a.url}">{$a.name}</a></li>
								{/foreach}
							</ul>
						</div>
					{/if}
				{/if}

				{if !empty($theme_settings.f_show_col_pages)}
					{if $wa->block('supreme.footer.menu2')}
						{$wa->block('supreme.footer.menu2')}
					{elseif !empty($top_nav1)}
						<div class="col col-xs-6 f-col-pages">
							<div class="title">[`Информация`]</div>
							<ul class="menu">
							{foreach $top_nav1 as $p}
								{if $p.url != $wa_url && !(isset($p.hide) && $p.hide == 1)}
									<li><a href="{$p.url}">{$p.name}</a></li>
								{/if}
							{/foreach}
							</ul>
						</div>
					{/if}
				{/if}

				{if !empty($theme_settings.f_show_col_profile)}
					{if $wa->isAuthEnabled()}
						<div class="col col-xs-6 f-col-profile">
							<div class="title">[`My Profile`]</div>
							{$wa->myNav('menu')}
						</div>
					{/if}
				{/if}

				{if !empty($theme_settings.f_show_col_contacts)}
					{if $wa->block('supreme.footer.contacts')}
					<div class="col col-xs-6 f-col-contacts f_contacts custom">
						{$wa->block('supreme.footer.contacts')}
					</div>
					{else}
						{if $wa->shop}
							<div class="col col-xs-6 f-col-contacts f_contacts">
								<div class="title">[`Contacts`]</div>
								<ul class="menu">
									{if $wa->shop && $wa->shop->settings('phone')}
										<li>
											<span class="fa fa-phone"></span>
											{shopRegionsViewHelper::parseTemplate('{$region.phone}')}
										</li>
									{/if}
									{if $wa->shop && $wa->shop->settings('workhours')}
										<li>
											<span class="fa fa-clock-o"></span>
											{if $wa->shop->settings('workhours')}
												{$wh = $wa->shop->settings('workhours')}
												{$wh.days_from_to}{if $wh.hours_from && $wh.hours_to} {$wh.hours_from}&mdash;{$wh.hours_to}{/if}
											{/if}
										</li>
									{/if}

									
									<li>
										<span class="fa fa-envelope"></span>
										<a href="mailto:{shopRegionsViewHelper::parseTemplate('{$region.email}')}">{shopRegionsViewHelper::parseTemplate('{$region.email}')}</a>
									</li>
								
								</ul>
							</div>
						{/if}
					{/if}
				{/if}
			</div>

			<div class="footer_plugins row">
				<div class="col-xs-12">
					{if $wa_app != 'site'}
						{include file="`$wa_active_theme_path`/footer.html" inline}
					{/if}
				</div>
			</div>

			<div class="footer2 row">
				{if $wa->block('supreme.footer.wide.text')}
					<div class="col-xs-12 footer_wide_text">
						{$wa->block('supreme.footer.wide.text')}
					</div>
				{/if}

				{if $wa->block('supreme.footer.copyright')}
				<div class="col col-xs-12 f_copyright custom">{$wa->block('supreme.footer.copyright')}</div>
				{else}
				<div class="col col-xs-12 f_copyright">&copy; 2017-{time()|wa_datetime:"Y"} {$wa->accountName()}</div>
				{/if}

				<div class="col col-xs-12 f_soc">
					{if $wa->blog && $theme_settings.rss}
						{$rss=$wa->blog->rssUrl()}
						{if $rss}
						<a class="fa-stack fa-lg fs-rss" href="{$rss}" target="_blank" title="[s`RSS`]"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-rss fa-stack-1x fa-inverse"></span></a>
						{/if}
					{/if}

					{if !empty($theme_settings.facebook)}<a class="fa-stack fa-lg fs-facebook" href="{$theme_settings.facebook}" target="_blank" title="Facebook"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-facebook fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.twitter)}<a class="fa-stack fa-lg fs-twitter" href="{$theme_settings.twitter}" target="_blank" title="Twitter"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-twitter fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.vk)}<a class="fa-stack fa-lg fs-vk" href="{$theme_settings.vk}" target="_blank" title="[s`VK`]"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-vk fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.odnoklassniki)}<a class="fa-stack fa-lg fs-odnoklassniki" href="{$theme_settings.odnoklassniki}" target="_blank" title="[`Odnoklassniki`]"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-odnoklassniki fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.instagram)}<a class="fa-stack fa-lg fs-instagram" href="{$theme_settings.instagram}" target="_blank" title="Instagram"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-instagram fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.youtube)}<a class="fa-stack fa-lg fs-youtube" href="{$theme_settings.youtube}" target="_blank" title="Youtube"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-youtube fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.pinterest)}<a class="fa-stack fa-lg fs-pinterest" href="{$theme_settings.pinterest}" target="_blank" title="Pinterest"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-pinterest fa-stack-1x fa-inverse"></span></a>{/if}
					{if !empty($theme_settings.gplus)}<a class="fa-stack fa-lg fs-google-plus" href="{$theme_settings.gplus}" target="_blank" title="Google+"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-google-plus fa-stack-1x fa-inverse"></span></a>{/if}

					{if $wa->block('supreme.footer.counters')}
						<div class="f_counters">
						{$wa->block('supreme.footer.counters')}
						</div>
					{/if}
				</div>

				{$show_dev_copyright = !empty($theme_settings.show_dev_copyright)}
				{$show_wa_copyright = !empty($theme_settings.show_wa_copyright)}

				{if $show_wa_copyright || $show_dev_copyright}
				<div class="col col-xs-12 f_madein {if $show_dev_copyright && $show_wa_copyright}f_madein_both{/if}">
					{if $show_dev_copyright}
						<div class="f-copyright-dev">
							[`Made in`] <a href="http://primera.lv">Primera.lv</a>
						</div>
					{/if}
					{if $show_wa_copyright}
						<div class="f-copyright-wa">
							{if $wa_app == 'shop'}
							Shop-Script 7 &mdash; <a href="https://www.shop-script.ru/" title="[`Powered by Shop-Script`]"><img src="https://www.webasyst.com/wa-content/img/dots/all-dots-default-order.png" alt=""></a>
							{else}
							Webasyst &mdash; <a href="https://www.webasyst.ru/" title="[`Powered by Webasyst`]"><img src="https://www.webasyst.com/wa-content/img/dots/all-dots-default-order.png" alt=""></a>
							{/if}
						</div>
					{/if}
				</div>
				{/if}
			</div>
		</div>
	</div>
</footer>
