{* supreme 1.4.8.4 *}
{* QUICK LINKS ARRAY *}
{$quick_links = []}
{if empty($plugin)}
	{if $app == 'shop' && $action == 'category' && !empty($category)}
		{$quick_links[] = [
			"name" => "[s`Edit`]",
			"href" => "{$wa_backend_url}shop/?action=products#/products/category_id={$category.id}"
		]}
	{elseif $app == 'shop' && $action == 'product' && !empty($product)}
		{$quick_links[] = [
			"name" => "[s`Edit`]",
			"href" => "{$wa_backend_url}shop/?action=products#/product/{$product.id}/edit/"
		]}

	{elseif $app == 'blog' && $action == 'post' && !empty($post)}
		{$quick_links[] = [
			"name" => "[s`Edit`]",
			"href" => "{$wa_backend_url}blog/?module=post&id={$post.id}&action=edit"
		]}

	{elseif $action == 'page'}
		{$href = false}
		{if $app == 'shop' && !empty($page)}
			{$href = "{$wa_backend_url}{$app}/?action=storefronts#/pages/{$page.id}"}
		{elseif $app == 'blog' && !empty($page)}
			{$href = "{$wa_backend_url}{$app}/?module=pages#/{$page.id}"}
		{/if}
		{if $href}
			{$quick_links[] = [
				"name" => "[s`Edit`]",
				"href" => $href
			]}
		{/if}

	{elseif $app == 'site' && !empty($page)}
		{$quick_links[] = [
			"name" => "[s`Edit`]",
			"href" => "{$wa_backend_url}{$app}/#/pages/{$page.id}"
		]}
	{/if}

	{if empty($quick_links)}
		{$quick_links[] = [
			"name" => "[s`Edit`]",
			"href" => "{$wa_backend_url}{$app}"
		]}
	{/if}
{/if}

<style>
.admin-sidebar{
	position: fixed;
	left: 0;
	top: 50%;
	margin-top: -20px;
	z-index: 110;
}

.admin-sidebar .edit-link{
	background: #a5a6a5;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 40px;
	text-align: center;
	display: block;
}

.admin-sidebar .edit-link:hover{
	background: #7e7e7e;
}

.admin-sidebar .edit-link .fa{
	color: inherit;
}
</style>

{if !empty($quick_links) && count($quick_links)}
		<div class="admin-sidebar">
			{foreach $quick_links as $link}
				<a class="link-item edit-link" href="{$link.href}" title="{$link.name}" target="_blank"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
			{/foreach}
		</div>
{/if}
