{* supreme 1.4.8.4 *}
<div id="topnav" class="{if $theme_settings.show_top_nav1 || $theme_settings.show_apps_in_topnav}has_site_menu{/if}">
	<div class="container-fluid">
		<nav class="topnav-in">
			{if ($wa_app == 'shop' && count($currencies) > 1 && $theme_settings.show_currency_select) || $wa->isAuthEnabled()}
				<div class="auth_menu">
					<ul class="menu">

						{$wa->block("supreme.topnav.right")}

						{if $wa_app == 'shop' && count($currencies) > 1 && $theme_settings.show_currency_select}
							{$currency = $wa->shop->currency()}
							<li class="currency-toggle">
								<a href="#" data-toggle="dropdown" aria-expanded="true">
									{*[`Currencies`]*}
									{$currency} <span class="fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									{foreach $currencies as $c_code => $c}
									<li {if $c_code==$currency}class="active"{/if}>
										<a data-value="{$c_code}">{$c_code}</a>
									</li>
									{/foreach}
								</ul>
							</li>
						{/if}

						{if $wa->isAuthEnabled()}
							{if $wa->user()->isAuth()} {if $wa->myUrl()}
								<li {if $wa->globals('isMyAccount')}class="bold"{/if}>
									<a href="{$wa->myUrl()}" class="not-visited"><span class="fa fa-user"></span><strong>{$wa->user('name')}</strong></a>
								</li>
							{else}
							<li>
								<strong>{$wa->user('name')}</strong>
							</li>
							{/if}
							<li><a href="?logout" class="not-visited"><span class="fa fa-sign-out"></span>[s`Log out`]</a></li>
							{else}
							<li class="h_login"><a href="{$wa->loginUrl()}" rel="nofollow"><span class="fa fa-sign-in"></span>[s`Log in`]</a></li>
							<li class="h_reg"><a href="{$wa->signupUrl()}" rel="nofollow"><span class="fa fa-user-plus"></span>[s`Sign up`]</a></li>
							{/if}
						{/if}
					</ul>
				</div>
			{/if}

			{if $theme_settings.show_top_nav1 || $theme_settings.show_apps_in_topnav}
				<div class="site_menu">
					<ul class="menu hidden-xs">
						{if $theme_settings.show_apps_in_topnav}
							{$active_app = $wa_app}
							{foreach $wa->apps() as $a}
								{if isset($a.app)}
								<li{if $active_app == $a.app} class="active"{/if}>
									<a href="{$a.url}">
										{if $a.app == 'shop'}
											<span class="fa fa-shopping-cart"></span>{$a.name}
										{else if $a.app == 'site'}
											<span class="fa fa-clone"></span>{$a.name}
										{else if $a.app == 'blog'}
											<span class="fa fa-pencil-square-o"></span>{$a.name}
										{else if $a.app == 'photos'}
											<span class="fa fa-camera-retro"></span>{$a.name}
										{else if $a.app == 'hub'}
											<span class="fa fa-globe"></span>{$a.name}
										{else if $a.app == 'helpdesk'}
											<span class="fa fa-life-ring"></span>{$a.name}
										{else}
											{$a.name}
										{/if}
									</a>
								</li>
								{else}
									<li{if $wa->currentUrl() == $a.url} class="active"{/if}>
										<a href="{$a.url}">{$a.name}</a>
									</li>
								{/if}
							{/foreach}
						{/if}

						{if $theme_settings.show_top_nav1}
							{if !empty($top_nav1)}
								{$selected_node = null}
								{foreach $top_nav1 as $p}
									{if $wa->currentUrl()|strstr:$p.url && strlen($p.url) >= strlen($selected_node.url)}
										{$selected_node = $p}
									{/if}
								{/foreach}
								{if !$selected_node}{$selected_node.id = null}{/if}

								{foreach $top_nav1 as $entry}
									{if !(isset($entry.hide) && $entry.hide == 1)}
										{if $entry.id == $selected_node.id}
											{$active = 'class="active"'}
										{else}
											{$active = ''}
										{/if}
										{if $entry.url != '/politika/'}
										    <li {$active}><a href="{$entry.url}">{$entry.name}</a></li>
										{/if}
									{/if}
								{/foreach}
							{/if}
						{/if}

						{$wa->block("supreme.topnav.left")}

						<li class="menu-more hassub hidden">
							<a href="#">[`More`] <span class="fa fa-angle-down"></span></a>
							<ul class="submenu dropdown-menu"></ul>
						</li>
					</ul>
				</div>
			{/if}

			{if $wa->shop}
				<div class="h_search visible-sm-block visible-xs-block">
					<!-- product search -->
					<form method="get" action="{$wa->getUrl('shop/frontend/search')}" class="search">
						<input class="search-field" autocomplete="off" type="search" name="query" {if !empty($query)}value="{$query}" {/if} placeholder="[s`Find products`]">
						<button class="btn btn-primary" type="submit"><span></span></button>
					</form> 
				</div>
			{/if}
		</nav>
		<div class="clear-both"></div>
	</div>
</div>
<!-- / #topnav -->