{* supreme 1.4.8.4 *}
<head prefix="product: http://ogp.me/ns/product#">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1{if $wa->isMobile()}, maximum-scale=1, user-scalable=0{/if}">
	<title>{$wa->title()|escape}</title>
	<meta name="Keywords" content="{$wa->meta('keywords')|escape}">
	<meta name="Description" content="{$wa->meta('description')|escape}">
	<link rel="shortcut icon" href="/favicon.ico">
	{if !empty($canonical)}<link rel="canonical" href="{$canonical}">{/if}
	{if $wa->blog}
		<!-- rss -->
		{$rss=$wa->blog->rssUrl()}
		{if $rss}
			<link rel="alternate" type="application/rss+xml" title="{$wa->accountName()}" href="{$rss}">
		{/if}
	{/if}

	<!-- CSS -->
	<link href="{$wa_url}wa-content/font/ruble/arial/fontface.css?v{$wa->version()}" rel="stylesheet">
	{*
		<link href="{$wa_theme_url}css/font-awesome.min.css?v{$wa_theme_version}" rel="stylesheet">
	*}
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$wa_theme_url}css/bootstrap-custom.css?v{$wa_theme_version}" rel="stylesheet">
	<link href="{$wa_theme_url}css/site.css?v{$wa_theme_version}" rel="stylesheet">
	{* minified
	<link href="{$wa_theme_url}css/site.min.css?v{$wa_theme_version}" rel="stylesheet">
	*}

	<!-- wa CSS -->
	{$wa->css()}
	<!-- /wa CSS -->

	<!--[if lt IE 9]>
		<script src="{$wa_theme_url}js/respond.min.js?v{$wa_theme_version}"></script>
		<script src="{$wa_theme_url}js/html5shiv.min.js?v{$wa_theme_version}"></script>
	<![endif]-->

	<script src="{$wa_static_url}wa-content/js/jquery/jquery-1.11.1.min.js?v{$wa->version(true)}"></script>
	<script src="{$wa_static_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js?v{$wa->version(true)}"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic" rel="stylesheet">

	{* lib.js & lib.min.js
	<script src="{$wa_theme_url}js/lib/jquery.cookie.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/ios-orientationchange-fix.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/bootstrap.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/jquery.html5-placeholder-shim.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/jquery.numeric.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/slick.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/jquery.magnific-popup.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/remodal.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/jquery.throttledresize.js?v{$wa_theme_version}"></script>

	<script src="{$wa_theme_url}js/lib/jquery.countdownTimer.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/jquery.retina.min.js?v{$wa_theme_version}"></script>
	<script src="{$wa_theme_url}js/lib/lazy.load.js?v{$wa_theme_version}"></script>
	*}
	<script src="{$wa_theme_url}js/lib.min.js?v{$wa_theme_version}"></script>

	{$jsVars = []}
	{$jsVars['site']['path'] = $wa_theme_url}

	{if isset($theme_settings.enable_ajax_search)}
		{$jsVars['enable_ajax_search'] = $theme_settings.enable_ajax_search|default:false}
	{else}
		{$jsVars['enable_ajax_search'] = true}
	{/if}

	{if !empty($theme_settings.site_max_width)}
		{$jsVars['site_max_width'] = $theme_settings.site_max_width}

		{if $theme_settings.sidebar_show_homepage}
			{$jsVars['content_width'] = number_format(($theme_settings.site_max_width + 30) * 0.75 - 30, 2, '.', '')}
		{else}
			{$jsVars['content_width'] = number_format($theme_settings.site_max_width, 2, '.', '')}
		{/if}
	{/if}

	{$jsVars['shop']['cart_url'] = $wa->getUrl('shop/frontend/cart')}

	{$wa->globals("jsVars", $jsVars)}

	<script>
		var vars = {$jsVars|json_encode};
	</script>

	<script src="{$wa_theme_url}js/supreme.js?v{$wa_theme_version}"></script>

	{* links active plugins JS *}
	{if $wa_app != 'site'}
		{include file="`$wa_active_theme_path`/head.html" inline}
	{/if}

	{if isset($wa_parent_theme_path) && is_readable("`$wa_parent_theme_path`/custom-color.css")}
		<link href="{$wa_parent_theme_url}custom-color.css?v{$wa_theme_version}" rel="stylesheet">
	{elseif is_readable("`$wa_active_theme_path`/custom-color.css")}
		<link href="{$wa_active_theme_url}custom-color.css?v{$wa_theme_version}" rel="stylesheet">
	{elseif (!$theme_settings.use_custom_color)}
		<link href="{$wa_theme_url}themes/{$theme_color}/theme{$theme_color_type}.css?v{$wa_theme_version}" rel="stylesheet">
	{/if}

	<!-- wa headJs -->
	{$wa->headJs()}
	<!-- / wa headJs -->

	<!-- wa JS -->
	{$wa->js()}
	<!-- / wa JS -->

	{* CUSTOM CSS AND JS FOR SITE APP*}
	{if isset($wa_parent_theme_path)}
		{if is_readable("`$wa_parent_theme_path`/custom.css")}
			<link href="{$wa_parent_theme_url}custom.css?v{$wa_theme_version}" rel="stylesheet">
		{/if}
		{if is_readable("`$wa_parent_theme_path`/custom.js")}
			<script src="{$wa_parent_theme_url}custom.js?v{$wa_theme_version}"></script>
		{/if}
	{/if}

	{* CUSTOM CSS AND JS FOR ACTIVE APP*}
	{if is_readable("`$wa_active_theme_path`/custom.css")}
		<link href="{$wa_active_theme_url}custom.css?v{$wa_theme_version}" rel="stylesheet">
	{/if}
	{if is_readable("`$wa_active_theme_path`/custom.js")}
		<script src="{$wa_active_theme_url}custom.js?v{$wa_theme_version}"></script>
	{/if}

	{*
	Плагин "Иконка, изображение и баннер для категории"
	https://www.webasyst.ru/store/plugin/shop/wmimageincat/
	Иконки для меню
	*}
	{if $wa->shop && class_exists(shopWmimageincatPlugin)}
		<script type="text/javascript">
			var wmCatImages = {json_encode(shopWmimageincatPlugin::getCategoryImageObj())};

			$(document).ready(function(){
				if(typeof(wmCatImages) != 'undefined'){
					$.each(wmCatImages, function(k,v){
						if(typeof(v.icon) != 'undefined'){
							// Для верхнего меню
							$('.h_menu2 [data-icon-id="'+k+'"]').prepend('<img src="'+v.icon+'" alt="" style="vertical-align:middle; margin-right:3px;">');

							// Для бокового меню
							// $('.side_menu_categories [data-icon-id="'+k+'"]').prepend('<img src="'+v.icon+'" alt="" style="vertical-align:middle; margin-right:3px;">');
						}
					});
				}
			});
		</script>
	{/if}

	{*
	Плагин "Запрос обратного звонка"
	https://www.webasyst.ru/store/plugin/shop/callback/
	*}
	{if $wa->shop && class_exists(shopCallbackPlugin) && $wa_app != 'shop'}
		{shopCallbackPlugin::head()}
	{/if}

	{if (isset($theme_settings.pp_comments_fb_enable) && $theme_settings.pp_comments_fb_enable) && (isset($theme_settings.pp_comments_fb_app_id) && !empty($theme_settings.pp_comments_fb_app_id))}
		<meta property="fb:app_id" content="{$theme_settings.pp_comments_fb_app_id}" />
	{/if}

	{if isset($theme_settings.pp_comments_vk_enable) && $theme_settings.pp_comments_vk_enable}
		<!-- Put this script tag to the <head> of your page -->
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

		{if isset($theme_settings.pp_comments_vk_api_id) && !empty($theme_settings.pp_comments_vk_api_id)}
			{$vk_api_id = $theme_settings.pp_comments_vk_api_id}
		{else}
			{$vk_api_id = 'API_ID'}
		{/if}

		<script type="text/javascript">
			VK.init({ldelim}apiId: {$vk_api_id}, onlyWidgets: true{rdelim});
		</script>
	{/if}

	{if !empty($theme_settings.site_max_width)}
		<style>
		.site_max_width .container-fluid {
			max-width: {$theme_settings.site_max_width + 30}px;
		}

		#homeslider_photos.stacked .item-in{
			width: {$jsVars.content_width}px;
		}

		#homeslider_photos.fw .item-in,
		#homeslider_photos.not_fw .item-in {
			width: {$jsVars.site_max_width}px;
		}

		.bg_tex .site_wrap,
		.bg_img .site_wrap {
			max-width: {$theme_settings.site_max_width + 80}px;
		}
		</style>
	{/if}

	{if (isset($theme_settings.use_custom_color) && $theme_settings.use_custom_color)}
		{capture name="custom_color"}
			{include file="custom-color.html" inline}
		{/capture}
		{$smarty.capture.custom_color|strip}
	{/if}

	{if $wa->block("supreme.head")}
		<!-- block "supreme.head" -->
		{$wa->block("supreme.head")}
	{/if}

	{if $wa->block("supreme.head.css")}
		<!-- block "supreme.head.css" -->
		{$wa->block("supreme.head.css")|strip}
	{/if}
	{if $wa->block("supreme.head.js")}
		<!-- block "supreme.head.js" -->
		{$wa->block("supreme.head.js")|strip}
	{/if}
</head>
