{* supreme 1.4.8.4 *}
{if $wa->shop}
	<div id="fixed_toolbar">
		<div class="container-fluid">
			<ul class="no-marker">
				<li id="ft_favorites">
					{$in_fav = waRequest::cookie('shop_favorites')} {if $in_fav} {assign var=in_fav value=","|explode:$in_fav} {$in_fav_count = count($in_fav)} {else} {$in_fav_count = 0} {/if}

					<a href="{$wa->getUrl('shop/frontend/search/')}?get=favorites" rel="nofollow">
						<span class="fa fa-heart fa-lg"></span>
						<span class="item_title hidden-xs">[`Favorites`]</span>
						<span class="count">{$in_fav_count}</span>
					</a>
				</li>

				<li id="ft_compare">
					{$in_comparison = $wa->shop->inComparison()}
					{if count($in_comparison)}
						{$compareUrl = $wa->getUrl('/frontend/compare', ['id' => implode(',', $in_comparison)])}
					{else}
						{$compareUrl = $wa->getUrl('/frontend/compare/')}
					{/if}
					<a href="{$wa->getUrl('/frontend/compare/')}" rel="nofollow">
						<span class="fa fa-bar-chart fa-lg"></span>
						<span class="item_title hidden-xs">[`Compare`]</span>
						<span class="count">{count($in_comparison)}</span>
					</a>
				</li>

				<li id="ft_viewed">
					{$viewed = waRequest::cookie('shop_viewed')} {if $viewed} {assign var=viewed value=","|explode:$viewed} {$viewed_count = count($viewed)} {else} {$viewed_count = 0} {/if}
					<a href="{$wa->getUrl('shop/frontend/search/')}?get=viewed" rel="nofollow">
						<span class="fa fa-history fa-lg"></span>
						<span class="item_title hidden-xs">[`Viewed`]</span>
						<span class="count">{$viewed_count}</span>
					</a>
				</li>

				<li id="ft_cart" class="cart cart-bottom">
					{$cart_total = $wa->shop->cart->total()}
					{$cart_count = $wa->shop->cart->count()}
					<a href="{$wa->getUrl('shop/frontend/cart')}" {if !$cart_total}class="empty"{/if} rel="nofollow">
						<span class="fa fa-shopping-cart fa-lg"></span>
						<span class="item_title hidden-xs">[`Cart`]</span>
						<span class="cart_count cart-count count">{$cart_count}</span>
						<span class="cart_total cart-total hidden-xs">{wa_currency_html($cart_total, $wa->shop->currency())}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
{/if}
