{* supreme 1.4.8.4 *}
<header id="header" class="container-fluid">
	<div class="row">
		<div class="col col-md-3 col-sm-4 col-xs-6 h_logo">
			<a href="{$wa_url}">
				{if $theme_settings.logo}
					<img src="{$wa_theme_url}{$theme_settings.logo}" alt="{$wa->accountName()}">
				{else}
					<img src="{$wa_theme_url}themes/{$theme_color}/logo.png" alt="{$wa->accountName()}">
				{/if}
			</a>
		</div>

		{if $wa->shop}
			<div class="col col-md-3 col-xs-6 h_search hidden-xs hidden-sm">
				<form method="get" action="{$wa->getUrl('shop/frontend/search')}" class="search">
					<input class="search-field" id="search" autocomplete="off" type="search" name="query" {if !empty($query)}value="{$query}" {/if} placeholder="[s`Find products`]">
					<button class="btn btn-primary" type="submit"><span></span></button>
				</form>

				{if $wa->block("supreme.header.under.search")}
					<div class="h_block_under_search">
						{$wa->block("supreme.header.under.search")}
					</div>
				{/if}
					
			</div>

			{if $wa->block('supreme.header.contacts')}
				<div class="col col-md-3 col-sm-4 col-xs-6 h_contacts custom">
					<div class="in">
						{$wa->block('supreme.header.contacts')}
					</div>
				</div>
			{else}
				<div class="col col-md-3 col-sm-4 col-xs-6 h_contacts">
					<div class="in">
					
							<div class="phone">{shopRegionsViewHelper::parseTemplate('{$region.phone}')}</div>
					
					<div>{shopRegionsViewHelper::getWindow()}</div>

						{if $wa->shop->settings('workhours')}
							{$wh = $wa->shop->settings('workhours')}
							<p>{$wh.days_from_to}{if $wh.hours_from && $wh.hours_to} {$wh.hours_from}&mdash;{$wh.hours_to}{/if}</p>
						{/if}
						<p>Прием заказов 24/7</p>
					</div>
				</div>
			{/if}

			<div class="col col-md-3 col-sm-4 h_cart hidden-xs">
				<div class="in">
					{$cart_total = $wa->shop->cart->total()}
					{$cart_count = $wa->shop->cart->count()}
					<a href="{$wa->getUrl('shop/frontend/cart')}" id="cart" class="{if !$cart_total} empty{/if}" rel="nofollow">
						<span class="icon"></span>
						<div class="cart_summary">
							[`Cart`] (<span class="cart_count cart-count">{$cart_count}</span>)
						</div>
						<div class="cart_total_wrap">[`total`] <span class="cart_total cart-total">{wa_currency_html($cart_total, $wa->shop->currency())}</span></div>
					</a>
				</div>
			</div>
		{/if}
	</div>
</header>
