{* supreme 1.4.8.4 *}
{$top_nav2_custom_items = false}
<div class="container-fluid menubars">
	{$responsive_nav_src = []}
	{if $theme_settings.show_apps_in_topnav}
		{$responsive_nav_src = array_merge($responsive_nav_src, $wa->apps())}
	{/if}
	{if $theme_settings.show_top_nav1}
		{$responsive_nav_src = array_merge($responsive_nav_src, $top_nav1)}
	{/if}

	{if $theme_settings.show_top_nav2 && (($theme_settings.top_nav1_src != $theme_settings.top_nav2_src) || ($theme_settings.top_nav1_src == $theme_settings.top_nav2_src && !$theme_settings.show_top_nav1)) && $theme_settings.top_nav2_src != 'categories'}
		{$responsive_nav_src = array_merge($responsive_nav_src, $top_nav2_original)}
	{/if}

	{if $wa->block("supreme.menu.custom") && $theme_settings.top_nav2_src == 'categories'}
		{$top_nav2_custom_items = $wa->block("supreme.menu.custom")}
	{/if}

	{if !empty($responsive_nav_src) && (($theme_settings.show_top_nav1 || $theme_settings.show_apps_in_topnav) || (isset($top_nav2) && $theme_settings.top_nav2_src != 'categories'))}
	<div class="menubar h_menu1 visible-xs-block">
		<div class="menu_header clearfix">
			<span class="menu_toggle"><span class="fa fa-bars"></span>[`Menu`]</span>
		</div>
		<div class="menu_wrapper">
			{menu data=$responsive_nav_src custom_items=$top_nav2_custom_items}
		</div>
	</div>
	{/if}

	{$menu_color_class = ''}
	{if $theme_settings.menu_color_scheme == 'color_from_scheme' || (isset($theme_settings.use_custom_color) && $theme_settings.use_custom_color)}
		{$menu_color_class = ' menu_color'}
	{elseif $theme_settings.menu_color_scheme == 'color_dark'}
		{$menu_color_class = ' menu_dark'}
	{/if}

	{if isset($top_nav2)}
		{if !$theme_settings.show_top_nav2}
			{$cat_menu_visibility_class = ' visible-xs-block'}
		{else}
			{$cat_menu_visibility_class = ''}
		{/if}
		<div class="menubar h_menu2{$menu_color_class}{$cat_menu_visibility_class}">
			<div class="menu_header visible-xs-block clearfix">
				<span class="menu_toggle"><span class="fa fa-bars"></span>[`Catalog`]</span>
			</div>

			{if $wa->block("supreme.menu.custom")}
				{$top_nav2_custom_items = $wa->block("supreme.menu.custom")}
			{/if}

			{$top_nav2_depth = (int)$theme_settings.top_nav2_depth}

			<div class="menu_wrapper hidden-xs clearfix">
				{menu data=$top_nav2 subtype=$theme_settings.top_nav2_sub_type depth=$top_nav2_depth cols=$theme_settings.top_nav2_sub_cols menutype='horizontal' custom_items=$top_nav2_custom_items}
			</div>
			<div class="menu_wrapper hidden-sm hidden-md hidden-lg clearfix">
				{menu data=$categories depth=$top_nav2_depth}
			</div>

		</div>
	{/if}
</div>

{if isset($theme_settings.top_nav2_visible_limit_desktop) && intval($theme_settings.top_nav2_visible_limit_desktop) && !$top_nav2_custom_items}
	{$top_nav2_limit = intval($theme_settings.top_nav2_visible_limit_desktop)}

	<style>
		@media all and (min-width: 1280px) {ldelim}
			.h_menu2 .menu_wrapper.hidden-xs .menu > li {ldelim}
				display: none;
			{rdelim}
			.h_menu2 .menu_wrapper.hidden-xs .menu > li > .link > a {ldelim}
				letter-spacing: 0;
			{rdelim}
			.h_menu2 .menu_wrapper.hidden-xs .menu > li:nth-child(-n+{$theme_settings.top_nav2_visible_limit_desktop}) {ldelim}
				display: table-cell;
			{rdelim}
			{if count($top_nav2) > $theme_settings.top_nav2_visible_limit_desktop}
			.h_menu2 .menu_wrapper.hidden-xs .menu > li.menu-more {ldelim}
				display: table-cell !important;
			{rdelim}
			.h_menu2 .menu_wrapper.hidden-xs .menu > li.menu-more > .submenu > ul > li:nth-child({$theme_settings.top_nav2_visible_limit_desktop}) ~ li{ldelim}
				display: block !important;
			{rdelim}
			{/if}
		{rdelim}
	</style>
{/if}
