{* supreme 1.4.8.4 *}
<div class="row">
	{if !isset($theme_settings.sidebar_show_site)}
		{$theme_settings.sidebar_show_site = true}
	{/if}

	{if $theme_settings.sidebar_show_site}
	<div class="col-sm-4 col-md-3 sidebar hidden-xs">

		{if $theme_settings.sidebar_show_categories_menu && (isset($theme_settings.sidebar_menu_show_in_other_apps) && $theme_settings.sidebar_menu_show_in_other_apps != 'no')}
			{if isset($theme_settings.sidebar_menu_sub_view)}
				{$subMenuView = $theme_settings.sidebar_menu_sub_view}
			{else}
				{$subMenuView = 'dropdown'}
			{/if}

			{if $categories}
			<div class="side_block_collapsible side_menu_wrap side_menu_categories">
				<a class="title" href="#"><span class="fa fa-bars"></span>[`Catalog`]</a>
				<div {if $theme_settings.sidebar_menu_show_in_other_apps == 'yes_folded'} style="display:none;"{/if}>
					{menu data=$categories subtype=$theme_settings.sidebar_menu_sub_type depth=$theme_settings.sidebar_menu_depth cols=$theme_settings.sidebar_menu_sub_cols ignore_depth=1 ignore_cols=1 subview=$subMenuView}
				</div>
			</div>
			{/if}
		{/if}


		{$pages = $wa->site->pages()}
		{if $pages}
		<div class="side_menu_wrap hidden-xs">
			<div class="title">[`Information`]</div>
			{menu data=$pages subtype='sub_one_level'}
		</div>
		{/if}

		{include file="`$wa_active_theme_path`/sidebar.html" inline}
	</div>
	{/if}

	{if $theme_settings.sidebar_show_site}
		<article class="col-sm-8 col-md-9 page page-content w-sidebar" itemscope itemtype="http://schema.org/WebPage">
	{else}
		<article class="col-sm-12 page page-content wo-sidebar" itemscope itemtype="http://schema.org/WebPage">
	{/if}
		{if $wa->currentUrl() == $wa_app_url && (empty($page.id) && empty($page.content))}
			<div class="welcome">
				<h1>[`Welcome to your new site!`]</h1>
				<p>{sprintf('[`Start by <a href="%s">creating a page</a> in your site backend.`]', $wa_backend_url|cat:'site/#/pages/')}</p>
			</div>
		{else}
			{include file="`$wa_active_theme_path`/main.breadcrumbs.html" inline}
			{$content} {* see page.html *}
		{/if}
		<div class="clear-both"></div>
	</article>
</div>
