{* supreme 1.4.8.4 *}
{$wa->block('supreme.side.banners')}

{*
{$wa_theme_name = $wa_active_theme_path|regex_replace:"/.*(\/)/":""}
{$side_products_path = "`$wa->shop->themePath($wa_theme_name)`/side.products.html"}
*}

{if $theme_settings.sidebar_products_show && $wa->shop}
	{$side_products_default_limit = 10}
	{$side_products_limit = $theme_settings.sidebar_products_set_limit|default:5}
	{if $side_products_limit > $side_products_default_limit || $side_products_limit == 0}
		{$side_products_limit = $side_products_default_limit}
	{/if}
	{$side_products = $wa->shop->productSet($theme_settings.sidebar_products_set_id, 0, $side_products_limit)}

	{if (isset($theme_settings.sidebar_products_set_random) && !empty($theme_settings.sidebar_products_set_random)) || !isset($theme_settings.sidebar_products_set_random)}
		{$_tmp = shuffle($side_products)}
	{/if}

	{if $side_products && count($side_products)}
		<div class="side_block hidden-xs">
			<div class="title">{$theme_settings.sidebar_products_title}</div>
			<div class="side_products">
				{foreach $side_products as $p}
					<a class="item" href="{$p.frontend_url}" title="{$p.name}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
						<div class="img">
							{$wa->shop->productImgHtml($p, '80', ['alt' => $p.name, 'default' => "`$wa->shop->themeUrl("supreme")`img/dummy48.png"])}
						</div>
						<div class="ofh">
							<div class="name">{$p.name}</div>
							<div class="prices">
								{if $p.compare_price > 0}
									<span class="price price-new nowrap">{shop_currency_html($p.price)}</span>
									<span class="compare-at-price nowrap">{shop_currency_html($p.compare_price)}</span>
								{else}
									{if $p.min_price != $p.max_price}
										<span class="price price-from">
											<span class="nowrap"><small>[`from`] </small>{shop_currency_html($p.min_price)}</span>
											{*<span class="nowrap"><small>[`to`] </small>{shop_currency_html($p.max_price)}</span>*}
										</span>
									{else}
										<span class="price nowrap">{shop_currency_html($p.price)}</span>
									{/if}
								{/if}
							</div>
						</div>
					</a>
				{/foreach}
			</div>
		</div>
	{else}
		{*
		<p class="hint align-center"><br><em>{sprintf('[`Product set with the ID <strong>%s</strong> either does not exist or does not contain any product. Add some products into a product set with the specified ID to make these products featured here.`]','bestsellers')}</em><br><br></p>
		*}
	{/if}
{/if}

<!-- Plugins frontend_nav -->
{if isset($frontend_nav)}
	{foreach $frontend_nav as $_key => $_}
		{if $_key == 'brands-plugin' || $_key == 'productbrands-plugin'}
			<div class="side_block {$_key}-wrap">
				{if substr($_key, -7) == '-plugin'}
					<div class="title">{$wa->pluginName(substr($_key, 0, -7))}</div>
				{/if}
				<div class="{$_key}" data-limit="10">
					{$_}

					<a class="dotted show_more" style="display: none;">[`show all`]</a>
				</div>
			</div>
		{else}
			<div class="side_block {$_key}-wrap">
				{if substr($_key, -7) == '-plugin'}
					<div class="title">{$wa->pluginName(substr($_key, 0, -7))}</div>
				{/if}
				<div class="{$_key}">
					{$_}
				</div>
			</div>
		{/if}
	{/foreach}
{/if}

<!-- Plugins frontend_nav_aux -->
{if isset($frontend_nav_aux)}
	{foreach $frontend_nav_aux as $_key => $_}
	{if $_key == 'brands-plugin' || $_key == 'productbrands-plugin'}
		<div class="side_block {$_key}-wrap">
			{if substr($_key, -7) == '-plugin'}
				<div class="title">{$wa->pluginName(substr($_key, 0, -7))}</div>
			{/if}
			<div class="{$_key}" data-limit="10">
				{$_}

				<a class="dotted show_more" style="display: none;">[`show all`]</a>
			</div>
		</div>
	{else}
		<div class="side_block {$_key}-wrap">
			{if substr($_key, -7) == '-plugin'}
				<div class="title">{$wa->pluginName(substr($_key, 0, -7))}</div>
			{/if}
			<div class="{$_key}">
				{$_}
			</div>
		</div>
	{/if}
	{/foreach}
{/if}


{* SIDE TAGS *}
{if $theme_settings.sidebar_show_tags && $wa->shop}

	{$tags_limit = 0}
	{if $theme_settings.sidebar_tags_limit > 0}
		{$tags_limit = $theme_settings.sidebar_tags_limit}
	{/if}

	{$tagcloud = $wa->shop->tags()}
	{if $tagcloud && $wa->app() == 'shop'}
	<div class="side_block side_tags_wrap">
		<div class="title">[`Tags`]</div>
		<div class="side_tags">
			{foreach name=sidetags from=$tagcloud item=tag}
				{if $tag.name}
					{if $tags_limit != 0 && $tags_limit <= $smarty.foreach.sidetags.index}
						{$style = 'style="display:none;"'}
					{else}
						{$style = ''}
					{/if}

					<a href="{$wa_app_url}tag/{$tag.uri_name}/" {$style}>{$tag.name|escape}</a>
				{/if}
			{/foreach}
		</div>

		{if count($tagcloud) > $tags_limit && $tags_limit != 0}
			<a class="dotted show_more">[`show all`]</a>
		{/if}
	</div>
	{/if}
{/if}

{if $theme_settings.sidebar_show_latest_photos && $wa->photos}
	{$photos = $wa->photos->photos()}
	{if $photos}
		<div class="side_block side_gallery_wrap">
			<div class="title">[`Latest photos`]</div>
			<ul class="side_gallery clearfix">
				{$i = 1}
				{foreach from=$photos item=photo}
					{if $i <= 12}
						<li {if $photo.stack_count > 0} class="stacked"{/if}>
							<div class="img">
								{if empty($photo.frontend_link)}
									{$wa->photos->getImgHtml($photo, "62x62")}
								{else}
									<a href="{$photo.frontend_link|default:'#'}">
										{$wa->photos->getImgHtml($photo, "62x62")}
									</a>
								{/if}
							</div>
						</li>
						{$i=$i+1}
					{/if}
				{/foreach}
			</ul>
		</div>
	{/if}
{/if}

{if $theme_settings.sidebar_show_latest_posts && $wa->blog}
	{$latest_posts = $wa->blog->posts()}
	{if $latest_posts && $wa_app != 'blog'}
	<div class="side_block side_news_wrap hidden-xs">
		<div class="title">[s`Новости`]</div>
		<div class="side_news">
			<ul>
				{$i = 1}
				{foreach $latest_posts as $post}
					{if $i <= 3}
					<li>
						<div class="date">{$post.datetime|wa_datetime:"humandate"}</div>
						<a href="{$post.link}">{$post.title}</a>
					</li>
					{/if}
					{$i= $i+1}
				{/foreach}
			</ul>
			<a class="all_news_link" href="{$wa->getUrl('blog')}">[`Все новости`]</a>
		</div>
	</div>
	{/if}
{/if}

<!-- FOLLOW -->
<aside class="connect">
	{if !empty($theme_settings.facebook_likebox_code) && $theme_settings.show_fb_widget}
		<div class="likebox">
			{$theme_settings.facebook_likebox_code}
		</div>
	{/if}
	{if !empty($theme_settings.twitter_timeline_code) && $theme_settings.show_tw_widget}
		<div class="likebox">
			{$theme_settings.twitter_timeline_code}
		</div>
	{/if}
	{if !empty($theme_settings.vk_widget_code) && $theme_settings.show_vk_widget}
		<div class="likebox">
			{$theme_settings.vk_widget_code}
		</div>
	{/if}
	{if !empty($theme_settings.odnoklassniki_widget_code) && $theme_settings.show_odnoklassniki_widget}
		<div class="likebox">
			{$theme_settings.odnoklassniki_widget_code}
		</div>
	{/if}
	{*
	<div class="likebox">
		your custom social widget
	</div>
	*}
</aside>
