{* supreme 1.4.8.4 *}
<div id="page" role="main" class="wa-signup-form">
	{if !empty($confirmed_email)}
	<div class="ajax-success">
		<script>
		    if( typeof yaCounter49122622 != 'undefined' ) { yaCounter49122622.reachGoal('reg1') }
		</script>
		<h1>[s`Thank you!`]</h1>
		<p>[s`You have successfully confirmed your email.`]</p>
	</div>
	{else if !empty($contact)}
		<div class="ajax-success">
			<h1>[s`Thank you!`]</h1>
			<p>[s`You have successfully signed up.`]</p>
			{if !empty($email_confirmation_hash)}
				<p><em>[s`A confirmation link has been sent to you by email. Please click this link to confirm your signup and to sign in.`]</em></p>
			{else}
				<script>
					$(document).on('click', '.remodal-close', function(){
						window.location.reload();
					});
				</script>
			{/if}
		</div>
	{else}
		<div class="ajax-form">
			<h1>[s`Sign up`]</h1>
			{$wa->authAdapters()}
			{$wa->signupForm($errors)}
		</div>
	{/if}

</div>
